{% load static %}
{% load mps %}
<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.ICO}}" rel="icon" type="image/x-icon" />
    <title>{{VAR.VAR_LOCAL.PAGES.TITLE}} :: {{VAR.VAR_LOCAL.PAGES.SLOGAN}}</title>
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}youplay/css/youplay.min.css" />
    <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/magnific-popup/dist/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    {%block og%}
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://magicproseries.com" />
        <meta property="og:title" content="{{VAR.VAR_LOCAL.PAGES.TITLE}} :: {{VAR.VAR_LOCAL.PAGES.SLOGAN}}" />
        <meta property="og:image" content="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/banner-bg.jpg" />
    {%endblock og%}
</head>
<style>
    .mt-5rem{
        margin-top:5rem!important;
    }
    .mt-2rem{
        margin-top:2rem!important;
    }
    .mb-5rem{
        margin-bottom:5rem!important;
    }
    .mb-1rem{
        margin-bottom:1rem!important;
    }
    .mr-5{
        margin-right:5px!important;
    }
    .mr-1rem{
        margin-right:1rem!important;
    }
    .ml-1rem{
        margin-left: 1rem!important;
    }
    .ml-5rem{
        margin-left: 5rem!important;
    }
    .color-white{
        color:#fff;
    }
    .content-wrap {
        max-width: 100%!important;
        min-height: 67
    }
    .youplay-banner-parallax{
        min-height: 100vh;
    }
    .content-wrap {
        background: #121212;
    }
    .navbar-youplay {
        background: rgba(0, 0, 0, 0.73);
    }
    .preloader-wrapp {
        background: #1b1b1b;
    }
    .preloader:after, .preloader:before {
        border-color: #e1ca61 transparent transparent;
    }
    .logo-index{
        max-width: 360px;
    }
    .mb-0{
        margin-bottom:0px!important;
    }
    .banner-span{
        font-weight: 500;
        font-size: 2rem;
    }
    .fsr-1-6{
        font-size: 1.6rem;
    }
    .ml-90{
        margin-left: 90px;
    }
    .youplay-banner {
        background: #000000ab;
    }
    .angled-img .img {
        background: #5e620900;
    }
    .navbar-youplay.navbar-small {
        background: #080325;
        background: rgb(18, 18, 18);
    }
    .youplay-carousel.owl-carousel .owl-nav .owl-prev, .youplay-carousel.owl-carousel .owl-nav .owl-prev:hover {
        background: -o-linear-gradient(left,#171808db,rgba(8,3,37,0));
        background: linear-gradient(to right,#171808db,rgba(8,3,37,0));
    }
    .youplay-carousel.owl-carousel .owl-nav .owl-next, .youplay-carousel.owl-carousel .owl-nav .owl-next:hover {
        background: -o-linear-gradient(right,#171808db,rgba(8,3,37,0));
        background: linear-gradient(to left,#171808db,rgba(8,3,37,0));
    }
    .btn.active:before, .btn.focus:before, .btn:active:before, .btn:focus:before, .btn:hover:before, .open>.dropdown-toggle.btn:before {
        border: 2px solid #e0c54f;
        background: #3b3412b0;
    }
    .youplay-news .news-one h2 a:focus, .youplay-news .news-one h2 a:hover, .youplay-news .news-one h3 a:focus, .youplay-news .news-one h3 a:hover {
        color: #e0c54f;
    }
    a:focus, a:hover {
        color: #e0c54f;
    }
    footer .copyright {
        background: rgba(0, 0, 0, 0.7);
    }
    footer .social {
        background: rgb(18, 18, 18);
    }
    body {
        background: #080325;
        background: rgb(5, 5, 5);
    }
    @media (max-width: 767px){
        .navbar-youplay.navbar-small .navbar-header {
            background: #080325;
            background: rgb(18, 18, 18);
        }
        .navbar-youplay .navbar-header {
            background: #080325;
            background: rgba(18, 18, 18, 0.19);
        }
    }
    a:focus, a:hover {
        color: #e0c54f!important;
    }
    .youplay-match-widget:hover .youplay-match-title, .youplay-matches-list .youplay-single-match:hover .youplay-match-title {
        color: #e0c54f;
    }
    footer .social {
        background: rgb(5, 5, 5);
        padding-top: 2rem;
        padding-bottom: 0rem;
    }
    .navbar-youplay.navbar-small {
        background: #080325;
        background: rgb(5, 5, 5);
    }
    .color-2{
        color:#e0c54f;;
    }
    button.mfp-close:before {
        font-family: Arial, Helvetica, sans-serif;
        content: 'X';
        font-size: 3rem;
        color: #fff;
    }
    .no-text-decoration{
        text-decoration: none;
    }
    .fs-3rem{
        font-size: 3rem!important;
    }
    .side-block .block-title {
        margin: 0 0 0rem;
    }
    .youplay-matches-list .youplay-single-match {
        display: block;
        border-bottom: 0px solid rgba(255,255,255,.1);
        padding-top: .5rem;
        padding-bottom: 0rem;
    }
    .side-block .date, .side-block .price {
        display: block;
        margin: 0rem 0;
    }
    .angled-img .img {
        background: #37357700;
    }
	a {
	    color: inherit;
	    text-decoration: none;
	}
    {%block style%}
    {%endblock style%}
</style>
<body>
    <div class="page-preloader preloader-wrapp">
        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo.png" alt="">
        <div class="preloader"></div>
    </div>
    <nav class="navbar-youplay navbar navbar-default navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
          <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo.png" alt="">
        </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown dropdown-hover ">
                        <a href="#">
                          EVENTOS <span class="label">PROXIMAMENTE!</span> {%comment%}<span class="label">Encuentra un evento</span>{%endcomment%}
                        </a>
                    </li>
                    <li class="dropdown dropdown-hover ">
                        <a href="#">
                          MAZOS <span class="label">PROXIMAMENTE!</span> {%comment%}<span class="label">Metajuego actual</span>{%endcomment%}
                        </a>
                    </li>
                    <li class="dropdown dropdown-hover ">
                        <a href="#">
                          BLOG <span class="label">PROXIMAMENTE!</span> {%comment%}<span class="label">Artículos del juego</span>{%endcomment%}
                        </a>
                    </li>
                    <li class="dropdown dropdown-hover ml-90">
                        <a href="{%url 'project:login_user'%}">
                          ENTRAR <span class="label">Entra o Crea una cuenta</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="content-wrap">
        {%block content%}
        {%endblock content%}
        <footer class="youplay-footer-parallax">
            <div class="wrapper">
                <div class="copyright">
                    <div class="container">
                        <strong>MAGICPROSERIES</strong> &copy; {% now "Y" %}.
                    </div>
                    <div class="social">
                        <div class="container">
                            <div class="social-icons">
                                <div class="social-icon">
                                    <a href="https://www.facebook.com/MagicProSeries" target="_blank">
                                        <i class="fab fa-facebook-square"></i>
                                        <span>Facebook</span>
                                    </a>
                                </div>
                                <div class="social-icon">
                                    <a href="https://twitter.com/MagicProSeries" target="_blank">
                                        <i class="fab fa-twitter-square"></i>
                                        <span>Twitter</span>
                                    </a>
                                </div>
                                <div class="social-icon">
                                    <a href="https://twitch.com/MagicProSeries" target="_blank">
                                        <i class="fab fa-twitch"></i>
                                        <span>Twitch</span>
                                    </a>
                                </div>
                                <div class="social-icon">
                                    <a href="https://youtube.com/MagicProSeries" target="_blank">
                                        <i class="fab fa-youtube-square"></i>
                                        <span>Youtube</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/HexagonProgress/jquery.hexagonprogress.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/jarallax/dist/jarallax.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/smoothscroll-for-websites/SmoothScroll.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}youplay/js/youplay.min.js"></script>
    <script src="{%static 'fonts/fontawesome/svg-with-js/js/fontawesome-all.min.js'%}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{VAR.VAR_GLOBAL.GOOGLEMAPS}}&libraries=places"></script>
    <script>
    if (typeof youplay !== 'undefined') {
        youplay.init({
            parallax: true,
            navbarSmall: false,
            fadeBetweenPages: true,
        });
    }
    </script>
    <script type="text/javascript">
        $(".countdown").each(function() {
            $(this).countdown($(this).attr('data-end'), function(event) {
                $(this).text(
                    event.strftime('%D dias %H:%M:%S')
                );
            });
        });
    </script>
    {%block script%}
    {%endblock script%}
</body>
</html>
