{% extends "sites/magicproseries/base.html" %}
{% load static %}
{% load mps %}

{%block content%}
    <section class="youplay-banner banner-top youplay-banner-parallax">
        <div class="image" style="background-image: url('{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/banner-bg.jpg')">
        </div>
        <div class="info">
            <div>
                <div class="container">
                    <h1 class="mb-0">
                        <img class="logo-index" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo_line.png" alt="">
                    </h1>
                    <p class="banner-span fsr-1-6">EL CIRCUITO PROFESIONAL MÁS GRANDE DE MÉXICO</p>
                    <p class="banner-span">#YOSOYPRO</p>
                </div>
            </div>
        </div>
    </section>
    <div class="youplay-carousel gallery-popup">
        {%for photo in None|mps_all_photos%}
            <a class="angled-img " href="{{VAR.MEDIA_URL}}media/{{photo.photo}}">
                <div class="img">
                    <img src="{{VAR.MEDIA_URL}}media/{{photo.photo}}" alt="" class="angled-carrousel">
                </div>
                <div class="over-info">
                    <div>
                        <div>
                            <h4>{{photo.event.store.name}}</h4>
                            <div class="rating">
                                <span>{{photo.event.date}} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {%endfor%}
    </div>
    <h2 class="container h1" style="margin-top:4rem;margin-bottom:8rem;">
        <div class="info">
            <div>
                <div class="container">
                    <h1 class="mb-0">
                        <img class="logo-index" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo_line.png" alt="">
                    </h1>
                    <p class="banner-span fsr-1-6">Somos el circuito profesional de Magic the Gathering más grande de todo México reunimos a más de 300 jugadores,<br /> todos compitiendo en 3 etapas para ganar la bolsa asegurada de 50,000 $ en efectivo dividida en 2 formatos distintos.</p>
                    <p class="banner-span">#YOSOYPRO</p>
                    {%comment%}<a href="#!" class="btn pull-right">SABER MÁS</a>{%endcomment%}
                </div>
            </div>
        </div>
    </h2>
    <div class="h2"></div>
    <section class="youplay-banner youplay-banner-parallax small" style="padding-bottom:40px;">
        <div class="image" style="background-image: url('{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/banner-witcher-3.jpg');">
        </div>
        <div class="info">
            <div>
                <div class="container">
                    <h1 class="mt-5rem fs-3rem">LISTA DE CALIFICADOS</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/51_rafthel-game-store/logos/20180409_011333__rafthel.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Alberto Pavel Canto Estrada
                                            <span class="date fs-9"> Rafthel Store</span>
                                        </a>
                                    </a>
                                </div>
                            </div>

                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/51_rafthel-game-store/logos/20180409_011333__rafthel.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Miguel Davalos Salceda
                                            <span class="date fs-9"> Rafthel Store</span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/54_flynns-arcade/logos/20180424_104421__Screen_Shot_2018-04-24_at_10.35.34_AM.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Miguel Angel Moreno Rivera
                                            <span class="date fs-9"> Flynn's Arcade </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/54_flynns-arcade/logos/20180424_104421__Screen_Shot_2018-04-24_at_10.35.34_AM.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Luis vazquez
                                            <span class="date fs-9"> Flynn's Arcade </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/54_flynns-arcade/logos/20180424_104421__Screen_Shot_2018-04-24_at_10.35.34_AM.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Eduardo Perez
                                            <span class="date fs-9"> Flynn's Arcade </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/56_lyons-corporation/logos/20180425_211811__lyons.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Antonio  Alvarado
                                            <span class="date fs-9"> Lyon's Corporation </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/56_lyons-corporation/logos/20180425_211811__lyons.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Arturo León
                                            <span class="date fs-9"> Lyon's Corporation </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/56_lyons-corporation/logos/20180425_211811__lyons.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Víctor García
                                            <div class="label youplay-match-count pull-right">2 BYES</div>
                                            <span class="date fs-9"> Lyon's Corporation </span>
                                        </a>

                                    </a>
                                </div>
                            </div>

                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/56_lyons-corporation/logos/20180425_211811__lyons.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Erick Trejo
                                            <span class="date fs-9"> Lyon's Corporation </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/62_top-deck/logos/20180531_134154__Screen_Shot_2018-05-31_at_1.41.09_PM.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Alejandro Winkler
                                            <span class="date fs-9"> Top Deck </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/62_top-deck/logos/20180531_134154__Screen_Shot_2018-05-31_at_1.41.09_PM.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Kevin Tovar
                                            <span class="date fs-9">Top Deck </span>
                                        </a>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/47_ra-store/logos/20180409_180004__rastore.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Daniel Frias
                                            <span class="date fs-9"> Ra Store </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/47_ra-store/logos/20180409_180004__rastore.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Jesus Romero
                                            <span class="date fs-9"> Ra Store </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/53_hobby-mart/logos/20180409_012921__hobbymart.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Fernando Escobedo
                                            <span class="date fs-9"> HobbyMart </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/53_hobby-mart/logos/20180409_012921__hobbymart.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Adolfo Aragoneses
                                            <span class="date fs-9"> HobbyMart </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/60_tienda-versus/logos/20180531_131401__Screen_Shot_2018-05-31_at_1.13.16_PM.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Archibal Raziel Sánchez Peralta
                                            <div class="label youplay-match-count pull-right">2 BYES</div>
                                            <span class="date fs-9"> Versus </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/60_tienda-versus/logos/20180531_131401__Screen_Shot_2018-05-31_at_1.13.16_PM.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Calzada Tovar Jesús Adán
                                            <span class="date fs-9"> Versus </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/60_tienda-versus/logos/20180531_131401__Screen_Shot_2018-05-31_at_1.13.16_PM.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Carlos Eduardo Ortega Saldaña
                                            <span class="date fs-9"> Versus </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/60_tienda-versus/logos/20180531_131401__Screen_Shot_2018-05-31_at_1.13.16_PM.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Victor Mauricio Lopez Quiroz
                                            <span class="date fs-9"> Versus </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/61_central-comics/logos/20180531_133342__Screen_Shot_2018-05-31_at_1.33.30_PM.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            Luis villalobos
                                            <span class="date fs-9"> Central Comics </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="side-block" style="margin-bottom:10px">
                                <div class="youplay-matches-list">
                                    <a href="" class="youplay-single-match" title="">
                                        <div class="pull-left ml-5 mr-1rem">
                                            <div class="angled-img">
                                                <div class="img">
                                                    <img src="https://s3.amazonaws.com/mirari/media/companys/61_central-comics/logos/20180531_133342__Screen_Shot_2018-05-31_at_1.33.30_PM.jpg" alt="{{event.store.name}}">
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="fs-12 no-text-decoration">
                                             Cesar Betanzos
                                            <span class="date fs-9"> Central Comics </span>
                                        </a>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {%comment%}
                        <div>
                            <div class="container">
                                <h2 class="mt-5rem fs-3rem">TIENDAS Y EVENTOS</h2>
                            </div>
                        </div>
                        {%for store in None|all_stores%}
                            {%if store|events_in_store%}
                                <div class="col-md-6">
                                    <div class="side-block">
                                        <a href="{{store.get_absolute_url_detail}}">
                                            <h4 class="block-title">{{store}}<br /><strong>RANKINGS POR TIENDA</strong></h4>
                                        </a>
                                        <h5>EVENTOS DE TIENDA</h5>
                                        {%for event in store|events_in_store%}
                                            <div class="youplay-matches-list">
                                                <a href="{{event.get_absolute_url_detail}}" class="youplay-single-match" title="{{event.name}}">
                                                    <div class="pull-left ml-5 mr-1rem">
                                                        <div class="angled-img">
                                                            <div class="img">
                                                                <img src="{{VAR.MEDIA_URL}}media/{{event.store.logo}}" alt="{{event.store.name}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{{event.get_absolute_url_detail}}" class="fs-12 no-text-decoration">
                                                        {{event.name}}
                                                    </a>
                                                    {%if event.wer%}<div class="label youplay-match-count pull-right">REPORTADO</div>{%endif%}
                                                    <span class="date fs-9"> {{event.date}}, {{event.time}}</span>
                                                    <span class="date fs-9"> <i class="fas fa-user"></i> {{event.players}}, ID:{{event.id}} || <strong class="color-white">{{event.event_type_}}</strong> </span>
                                                </a>
                                            </div>
                                        {%endfor%}
                                    </div>
                                </div>
                            {%endif%}
                        {%endfor%}
                        {%endcomment%}
                    </div>
                    {%comment%}
                    <div class="col-md-3">
                        <div class="side-block">
                            <h4 class="block-title">STANDINGS GENERALES</h4>
                            <div class="youplay-matches-list">
                                {%for player in None|mps_players_standings%}
                                    <h4 class="ellipsis">
                                        <div class="label youplay-match-count">{{player.points}}P</div>
                                        <a href="" class="fs-12 no-text-decoration">
                                            {{player.first_name}} {{player.last_name}}
                                        </a>
                                        <span class="date fs-9"> DCI {{player.dci }}, {{player.country}}</span>
                                    </h4>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    {%endcomment%}
                </div>
            </div>
        </div>
    </section>
    <h2 class="container h1">ARTÍCULOS</h2>
    <section class="youplay-news container">
        <div class="news-one">
            <div class="row vertical-gutter">
                <div class="col-md-4">
                    <a href="#" class="angled-img">
                        <div class="img">
                            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/blog/blog1.jpg" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="clearfix">
                        <h3 class="h2 pull-left m-0"><a href="#">El Juego Interior</a></h3>
                        <span class="date pull-right"><i class="fa fa-calendar"></i> HOY</span>
                    </div>
                    <div class="tags">
                        <i class="fa fa-tags"></i> <a href="#">México</a>, <a href="#">Estrategia</a>, <a href="#">Juego</a>, <a href="#">Luis Pichardo</a>
                    </div>
                    <div class="description">
                        <p>
                            Es verdad que Magic es un juego de interacciones, interactúas con un oponente, con las cartas en la mesa, las reglas, el azar y otras variables más…
                        </p>
                    </div>
                    <a href="#" class="btn read-more pull-left">Proximamente</a>
                </div>
            </div>
        </div>
    </section>
{%endblock content%}
