{% extends "generic/detail.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block more_options%}
{%endblock%}

{%block detail%}
    <div class="grid-item">
        <div class="listview listview--inverse listview--striped">
            {%if object.name %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.name}}</h3>
                        <small class="color-5 mt-3 fs-9">Nombre</small>
                    </div>
                </div>
            {%endif%}
            {%if object.default_mail %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.default_mail}}</h3>
                        <small class="color-5 mt-3 fs-9">Dirección de correo</small>
                    </div>
                </div>
            {%endif%}
            {%if object.contact_mail %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.contact_mail}}</h3>
                        <small class="color-5 mt-3 fs-9">Email de contacto</small>
                    </div>
                </div>
            {%endif%}
            {%if object.creation_date %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.creation_date|date:"SHORT_DATE_FORMAT"}}</h3>
                        <small class="color-5 mt-3 fs-9">Fecha de creación</small>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
    <div class="grid-item">
        <div class="listview listview--inverse listview--striped">
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">{{object.parent|default_if_none:'No depende de otra'}}</h3>
                    <small class="color-5 mt-3 fs-9">Depende de</small>
                </div>
            </div>
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">{{object.modulos}}</h3>
                    <small class="color-5 mt-3 fs-9">Modulos contratados</small>
                </div>
            </div>
            {%if object.web%}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.web}}</h3>
                        <small class="color-5 mt-3 fs-9">Página WEB</small>
                    </div>
                </div>
            {%endif%}
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">{{object.code}}</h3>
                    <small class="color-5 mt-3 fs-9">ID de empresa</small>
                </div>
            </div>
        </div>
    </div>
{%endblock detail%}

