{% extends "dashboard.html" %}
{% load static%}
{% load mptt_tags %}
{% load crispy_forms_tags %}
{% load humanize%}
{% load app_tags%}

{% block title %}ORGANIZACIONES :: {{request.user.company.name}}{% endblock title %}

{%block pre_css%}
    {%if VAR.ACTION == 'edit' or VAR.ACTION == 'new' or VAR.ACTION == 'cfdi'%}
        {% include "pages/components/forms_css.html"%}
    {%endif%}
{%endblock%}

{%block local_style%}
    {{ block.super }}
{%endblock local_style%}

{%block headertitle%}
    {{VAR.VAR_LOCAL.NAME}}
{%endblock headertitle%}

{%block aside%}
{%endblock aside%}

{%block chatheader%}
{%endblock chatheader%}

{%block content%}
    <h5 class="title-quantity mt-r2 ml-r3">
        <a href="" class="color-default">PANEL</a> 
        {%if VAR.ACTION == 'edit'%}
            <span class="color-4">
                <i class="fa fa-angle-double-right"></i> 
                EDITAR <small class="fs-11 color-default">{{VAR.COMPANY.name|upper}}</small>
            </span>
        {%elif VAR.ACTION == 'see'%}
            <span class="color-4">
                <i class="fa fa-angle-double-right"></i> 
                VER <small class="fs-11 color-default">{{VAR.COMPANY.name|upper}}</small>
            </span>
        {%elif VAR.ACTION == 'new'%}
            <span class="color-4">
                <i class="fa fa-angle-double-right"></i> 
                NUEVA SUCURSAL <small class="fs-11 color-default">DE {{VAR.COMPANY.name|upper}}</small>
            </span>
        {%endif%}

    </h5>
    <div class="grid-margins mt-r3">
        {%if VAR.ACTION == 'see'%}
        <div class="grid-margins-items" size="1">
            <div class="stats__item">
                <div class="stats__chart bg-default">
                    <h2 class="color-1 fs-18 mb-0">ACCIONES</h2>
                </div>
                <div class="stats__info">
                    <div class="row stats grid">
                        <div class="grid-item">
                            <div class="listview listview--inverse listview--striped">
                                <div class="listview__item lh-9">
                                    <a href="?action=new&c={{VAR.COMPANY.id}}">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-4 fs-14 mb-0">NUEVA SUCURSAL</h3>
                                            <small class="color-default mt-3 pl-10"><i class="fa fa-plus"></i> Agrega una nueva sucursal</small>
                                            <small class="color-5 mt-3 fs-9">Crea un una nueva sucursal para administrar en el sistemas</small>
                                        </div>
                                    </a>
                                </div>
                                <div class="listview__item lh-9">
                                    <a href="?action=edit&c={{VAR.COMPANY.id}}">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-4 fs-14 mb-0">EDITAR ORGANIZACIÓN</h3>
                                            <small class="color-default mt-3 pl-10"><i class="fa fa-pencil"></i> Edita esta organización </small>
                                            <small class="color-5 mt-3 fs-9"> Edita los datos de esta sucursal</small>
                                        </div>
                                    </a>
                                </div>
                                {%comment%}
                                    {%if not VAR.COMPANY.get_descendants_active%}
                                        <div class="listview__item lh-9">
                                            <div class="widget-past-days__info">
                                                <hr class="mb-25"/>
                                                <a href="" v-on:click="del(text='Se eliminarán los datos asociados a esta organización!',url='?action=delete&c={{VAR.COMPANY.id}}',$event)">
                                                    <h3 class="color-default fs-14 mb-0 danger-color">ELIMINAR ORGANIZACION</h3>
                                                    <small class="color-default mt-3 pl-10 danger-color"><i class="fa fa-trash danger-color"></i> Elimina esta organización</small>
                                                    <small class="color-5 mt-3 fs-9 danger-color"> Elimina los datos asociados a esta organización</small>
                                                </a>
                                            </div>
                                        </div>
                                    {%endif%}
                                {%endcomment%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-margins-items" size="2">
            <div class="stats__item">
                <div class="stats__chart bg-default">
                    <h2 class="color-1 fs-18 mb-0">INFORMACIÓN</h2>
                </div>
                <div class="stats__info">
                    <div class="row stats grid">
                        <div class="grid-item">
                            <div class="listview listview--inverse listview--striped">
                                {%if VAR.COMPANY.parent %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.parent }}</h3>
                                            <small class="color-5 mt-3 fs-9">Organización de la que depende</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.name %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.name}}</h3>
                                            <small class="color-5 mt-3 fs-9">Nombre de la organización</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.slogan %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.slogan}}</h3>
                                            <small class="color-5 mt-3 fs-9">Slogan de la organización</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.default_mail %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.default_mail}}</h3>
                                            <small class="color-5 mt-3 fs-9">Email de la organización</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.contact_mail %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.contact_mail}}</h3>
                                            <small class="color-5 mt-3 fs-9">Email de contacto</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.creation_date %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.creation_date|date:"SHORT_DATE_FORMAT"}}</h3>
                                            <small class="color-5 mt-3 fs-9">Fecha de creación</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.payment_date %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.payment_date|date:"SHORT_DATE_FORMAT"}}</h3>
                                            <small class="color-5 mt-3 fs-9">Fecha de pago</small>
                                        </div>
                                    </div>
                                {%endif%}
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="listview listview--inverse listview--striped">
                                {%if VAR.COMPANY.rfc %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.rfc}}</h3>
                                            <small class="color-5 mt-3 fs-9">RFC</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.razon_social %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.razon_social}}</h3>
                                            <small class="color-5 mt-3 fs-9">Razón social</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.persona %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.persona}}</h3>
                                            <small class="color-5 mt-3 fs-9">Tipo de persona</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.curp %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.curp}}</h3>
                                            <small class="color-5 mt-3 fs-9">C.U.R.P.</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.telefono %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.telefono}}</h3>
                                            <small class="color-5 mt-3 fs-9">Teléfono</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.contacto %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.contacto}}</h3>
                                            <small class="color-5 mt-3 fs-9">Nombre de contacto</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.email_contacto %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.email_contacto}}</h3>
                                            <small class="color-5 mt-3 fs-9">Email de contacto</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.calle %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.calle}}</h3>
                                            <small class="color-5 mt-3 fs-9">Calle</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.numero_exterior %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.numero_exterior}}</h3>
                                            <small class="color-5 mt-3 fs-9"># Exterior</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.numero_interior %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.numero_interior}}</h3>
                                            <small class="color-5 mt-3 fs-9"># Interior</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.colonia %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.colonia}}</h3>
                                            <small class="color-5 mt-3 fs-9">Colonia</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.localidad %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.localidad}}</h3>
                                            <small class="color-5 mt-3 fs-9">Localidad</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.municipio_delegacion %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.municipio_delegacion}}</h3>
                                            <small class="color-5 mt-3 fs-9">Municipio o Delegación</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.estado %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.estado}}</h3>
                                            <small class="color-5 mt-3 fs-9">Estado</small>
                                        </div>
                                    </div>
                                {%endif%}
                                {%if VAR.COMPANY.codigo_postal %}
                                    <div class="listview__item lh-9">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">{{VAR.COMPANY.codigo_postal}}</h3>
                                            <small class="color-5 mt-3 fs-9">Código Postal</small>
                                        </div>
                                    </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%if VAR.ACTION == 'edit' or VAR.ACTION == 'new' or VAR.ACTION == 'cfdi'%}
            <form id="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="grid-margins-items" size="2">
                    <div class="stats__item">
                        <div class="stats__chart bg-default">
                            <h2 class="color-1 fs-18 mb-0">{%if VAR.ACTION == 'cfdi'%}SELLOS DIGITALES CSD{%else%}DATOS GENERALES{%endif%}</h2>
                        </div>
                        <div class="stats__info">
                            {%if VAR.ACTION == 'cfdi'%}<span>Usamos seguridad en nuestros servidores y nunca almacenamos tu contraseña</span>{%endif%}
                            <div class="form-group">
                                {{ form|crispy }}
                                <button type="submit" name="form" class="btn btn-lg waves-effect bg-color-default color-1">GUARDAR</button>
                            </div>
                        </div>
                    </div>
                </div>
                {%if form2%}
                    <div class="grid-margins-items" size="2">
                        <div class="stats__item">
                            <div class="stats__chart bg-default">
                                <h2 class="color-1 fs-18 mb-0">DATOS FISCALES</h2>
                            </div>
                            <div class="stats__info">
                                <div class="form-group">
                                    {{ form2|crispy }}
                                    <button type="submit" name="form" class="btn btn-lg waves-effect bg-color-default color-1">GUARDAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endif%}
            </form>
        {%endif%}
            <div class="grid-margins-items" size="1">
                <div class="stats__item">
                    <div class="stats__chart bg-default">
                        <h2 class="color-1 fs-18 mb-0">SELLOS DIGITALES</h2>
                    </div>
                    <div class="stats__info">
                        <div class="row stats grid">
                            <div class="grid-item">
                                <div class="listview__item lh-9">
                                    <a href="?action=cfdi&c={{VAR.COMPANY.id}}">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-4 fs-14 mb-0">SELLOS DIGITALES</h3>
                                            <small class="color-default mt-3 pl-10"><i class="fa fa-plus"></i> Subir sellos difitales </small>
                                            <small class="color-5 mt-3 fs-9"> Agrega los sellos digitales CSD .cer y .key </small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {%if VAR.COMPANY.cer and VAR.COMPANY.key%}
                                <div class="grid-item mb-0">
                                    <div class="listview listview--inverse listview--striped">
                                        <div class="quick-stats__item bg-amber">
                                            <div class="quick-stats__info">
                                                <h2 class="color-2">.CER</h2>
                                                <small class="color-2">En proceso de validación</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item mb-0">
                                    <div class="listview listview--inverse listview--striped">
                                        <div class="quick-stats__item bg-amber">
                                            <div class="quick-stats__info">
                                                <h2 class="color-2">.KEY</h2>
                                                <small class="color-2">En proceso de validación</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-margins-items" size="4">
                <div class="stats__item border-color5">
                    <div class="stats__chart bg-default">
                        <h2 class="color-1 fs-18 mb-0">{{ model|verbose_name:object_list }}</h2>
                    </div>
                    <div class="stats__info">
                        <div class="table-responsive">
                            {%if object_list%}
                                <table class="table table-sm mb-r2 table-striped" >
                                    <thead>
                                        <tr>
                                            <th>NOMBRE</th>
                                            <th>DEPENDE DE</th>
                                            <th>CREADA</th>
                                            <th>ACTIVA?</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for obj in object_list%}
                                            <tr>
                                                <td><a href="{{obj.get_absolute_url}}" class="color-default">{{obj.name}}</a></td>
                                                <td><a href="{{obj.get_absolute_url}}" class="color-default">{{obj.parent}}</a></td>
                                                <td><a href="{{obj.get_absolute_url}}" class="color-default">{{obj.creation_date|date:"SHORT_DATE_FORMAT"}}</a></td>
                                                <td><a href="{{obj.get_absolute_url}}" class="color-default">{{obj.active|yesno:"SI,NO"}}</a></td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            {%else%}
                                <h4 class="mt-r2 mb-r4 text-center">No hay</h4>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
    </div>
{%endblock content%}

{%block js%}
    {%if VAR.ACTION == 'edit' or VAR.ACTION == 'new' or VAR.ACTION == 'cfdi'%}
        <script src="{%static 'js/validate.js'%}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
    {%endif%}
{%endblock js%}

{%block script%}
    {{ block.super }}
    {%if VAR.ACTION == 'edit' or VAR.ACTION == 'new' or VAR.ACTION == 'cfdi'%}
        {% include "pages/components/forms_js.html"%}
    {%endif%}
{%endblock script%}

{%block redirect_url%}{%endblock%}

{%block extend_vue_mounted%}
    {%if VAR.ACTION == 'edit' or VAR.ACTION == 'new' or VAR.ACTION == 'cfdi'%}
        $("#form").validate({
            errorClass: "has-error",
            lang: 'es',
            rules: {
                name: {
                    required : true,
                    minlength : 6,
                },
                password: {
                    required : true,
                },
                key: {
                    required : true,
                    extension: "key",
                },
                cer: {
                    required : true,
                    extension: "cer",
                },
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
    {%endif%}
{%endblock extend_vue_mounted%}

{%block extend_vue_methods%}
    {%if VAR.ACTION == 'edit' or VAR.ACTION == 'new' or VAR.ACTION == 'cfdi'%}
        del(text=false, url=false, event){
            if (event) event.preventDefault()
            swal({
                title: 'Estas seguro?',
                text: text,
                type: 'warning',
                confirmButtonClass: 'btn btn-danger bg-danger color-white',
                confirmButtonText: 'ELIMINAR!',
            }).then(function(){
                window.location.replace(url);
            });
        },
    {%endif%}
{%endblock extend_vue_methods%}



