{% extends "dashboard.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{% block title %}CONTRASEÑA :: {{request.user.company.name}}{% endblock title %}

{%block pre_css%}
    {% include "components/forms_css.html"%}
{%endblock%}

{%block content%}
    <h5 class="title-quantity mt-r2 ml-r3">
        <a href="{%url 'project:dashboard'%}" class="color-default">PANEL</a> 
        <i class="fa fa-angle-double-right"></i> 
        <a href="#" class="color-default"><small class="fs-9 color-5"> cambiar contraseña de</small> {{user.visible_username}}</a>
    </h5>
    <div class="grid-margins mt-r3">
        {%block form%}
            <form id="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="grid-margins-items" size="2">
                    <div class="stats__item">
                        <div class="stats__chart bg-default">
                            <h2 class="color-1 fs-18 mb-0">
                                CAMBIAR CONTRASEÑA
                            </h2>
                        </div>
                        <div class="stats__info">
                            <div class="form-group">
                                {{ form|crispy }}
                                <button type="submit" name="form" class="btn btn-lg waves-effect bg-color-default color-1">GUARDAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {%endblock form%}
    </div>
{%endblock content%}

{%block js%}
    <script src="{%static 'js/validate.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
{%endblock js%}

{%block script%}
    {{ block.super }}
    {% include "components/forms_js.html"%}
{%endblock script%}

{%block redirect_url%}{%url 'project:dashboard'%}{%endblock%}

{%block extend_vue_mounted%}
        $("#form").validate({
            errorClass: "has-error",
            lang: 'es',
            rules: {
                username: {
                    required : true,
                },
                password: {
                    required : true,
                    minlength: 6,
                    equalTo: "#id_password2",
                },
                password1: {
                    required : true,
                    minlength: 6,
                    equalTo: "#id_password2",
                }, 
                password2: {
                    required : true,
                },                   
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
{%endblock extend_vue_mounted%}