{% extends "generic/list.html" %}
{% load static%}
{% load app_tags%}

{%block pre_css%}
    {% include "components/forms_css.html"%}
{%endblock%}

{%block list%}
    <thead>
        <tr>
            <th>USUARIO</th>
            <th>PERFILES</th>
            {%if module.code == 'project'%}
                <th>EMAIL</th>
            {%endif%}
            {%if module.code == 'sellpoint'%}
                <th>ASIGNADO A</th>
                <th> MODIFICA CONTRASEÑA</th>
            {%endif%}
            <th>ACTIVO?</th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td>
                    <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                        {{obj.visible_username}}
                    </a>
                </td>
                <td>
                    <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                        {{obj.perfiles}}
                    </a>
                </td>
                {%if module.code == 'project'%}
                    <td>
                        <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                            {{obj.email|default:"-"}}
                        </a>
                    </td>
                {%endif%}
                {%if module.code == 'sellpoint'%}
                    <td>
                        <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                            {{obj.puntos_de_venta}}
                        </a>
                    </td>
                    <td>
                        <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                            {{obj.can_change_password|yesno:"SI,NO"}}
                        </a>
                    </td>
                {%endif%}
                <td>
                    <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                        <i class="fa fa-{{obj.is_active|yesno:'check, times'}}"></i>
                    </a>
                </td>
                {%if VAR.MODULE|addaction:'can_delete_'|addlowerclassname:model|haspermission:request.user and obj.get_absolute_url_delete%}
                    <td><a v-on:click.prevent="del(text='{{model.delete_text.3}}',url='{{obj.get_absolute_url_delete}}{{posturl|addposturl:'?'}}')" class="color-default"><i class="fas fa-trash-alt"></i></a></td>
                {%endif%}
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}

{%block js%}
    {{ block.super }}
{%endblock js%}

{%block script%}
    {{ block.super }}
    {% include "components/forms_js.html"%}
{%endblock script%}

