{% extends "generic/detail.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block more_options%}
    <div class="listview__item lh-9">
        <a href="{%url 'project:user-changepassword' object.pk%}{{posturl|addposturl:'?'}}">
            <div class="widget-past-days__info">
                <h3 class="color-4 fs-14 mb-0">CONTRASEÑA</h3>
                <small class="color-default mt-3 pl-10"><i class="fa fa-key"></i> Cambiar contraseña</small>
                <small class="color-5 mt-3 fs-9">Modifica la contraseña de este usuario</small>
            </div>
        </a>
    </div>
    <div class="grid-item mb-0">
        <div class="listview listview--inverse listview--striped">
            <div class="listview__item lh-9">
                <a href="{%url 'project:user-changepassword' object.pk%}{{posturl|addposturl:'?'}}">
                    <div class="widget-past-days__info">
                        <h3 class="color-4 fs-14 mb-0">CONTRASEÑA</h3>
                        <small class="color-default mt-3 pl-10"><i class="fa fa-key"></i> Cambiar contraseña</small>
                        <small class="color-5 mt-3 fs-9">Modifica la contraseña de este usuario</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
{%endblock%}

{%block detail%}
    <div class="grid-item">
        <div class="listview listview--inverse listview--striped">
            {%if object.company %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.company}}</h3>
                        <small class="color-5 mt-3 fs-9">Organización</small>
                    </div>
                </div>
            {%endif%}
            {%if object.visible_username %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.visible_username}}</h3>
                        <small class="color-5 mt-3 fs-9">Usuario</small>
                    </div>
                </div>
            {%endif%}
            {%if object.email %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.email}}</h3>
                        <small class="color-5 mt-3 fs-9">Email</small>
                    </div>
                </div>
            {%endif%}
            {%if object.first_name %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.first_name}}</h3>
                        <small class="color-5 mt-3 fs-9">Nombre</small>
                    </div>
                </div>
            {%endif%}
            {%if object.last_name %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.last_name}}</h3>
                        <small class="color-5 mt-3 fs-9">Apellidos</small>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
    <div class="grid-item">
        <div class="listview listview--inverse listview--striped">
            {%if object.is_active %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.is_active|yesno:"SI,NO"}}</h3>
                        <small class="color-5 mt-3 fs-9">Esta activo?</small>
                    </div>
                </div>
            {%endif%}
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">{{object.can_change_password|yesno:"SI,NO"}}</h3>
                    <small class="color-5 mt-3 fs-9">Puede cambbiar su contraseña?</small>
                </div>
            </div>
            {%if object.perfiles %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.perfiles}}</h3>
                        <small class="color-5 mt-3 fs-9">Perfiles</small>
                    </div>
                </div>
            {%endif%}
            {%if object.puntos_de_venta %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.puntos_de_venta}}</h3>
                        <small class="color-5 mt-3 fs-9">Puntos de venta</small>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
{%endblock detail%}

