{% load static %}
{% load humanize %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <style>
        .content--full {
            padding: 0px 0px 0;
        }
        .invoice {
            margin: auto;
        }
        body {
            background-color: #ffffff;
        }
        .invoice, .login__block {
            box-shadow: 0 0px 0px rgba(0,0,0,.075);
            max-width: 100%;
        }
        .content__inner:not(.content__inner--sm) {
            max-width: 100%;
        }
        .invoice__address {
            margin-bottom: 0px;
        }
        .invoice__attrs {
            margin-bottom: 0px;
        }
        .invoice__table {
            margin-bottom: 0px;
        }
    </style>
    <body data-ma-theme="green">
        <main class="main">
            <div id="vue-app">
                <section class="content content--full">
                    <div class="content__inner">
                        <div class="invoice">
                            <div class="row invoice__address">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="width: 50%">
                                                <div class="text-right">
                                                    <p>Emisor del comprobante fiscal</p>
                                                    <h3>{{xml|k:'cfdi:Comprobante'|k:'cfdi:Emisor'|k:'@Nombre'}}</h3>
                                                    <h4><strong>{{xml|k:'cfdi:Comprobante'|k:'cfdi:Emisor'|k:'@Rfc'}}</strong></h4>
                                                    <address>
                                                        {{data.emisor_calle}} {{data.emisor_numero_exterior|default:''}}, ext.{{data.emisor_numero_interior|default:'S/N'}},<br>
                                                        {{data.emisor_colonia}}, {{data.emisor_localidad}} CP.{{data.emisor_codigo_postal}} <br />
                                                        {{data.emisor_municipio_delegacion}},  {{data.emisor_estado}}, {{data.emisor_pais}}
                                                    </address>
                                                    <h4>Regimen Fiscal: {{xml|k:'cfdi:Comprobante'|k:'cfdi:Emisor'|k:'@RegimenFiscal'}}</h4>
                                                </div>
                                            </td>
                                            <td style="width: 50%">
                                                <div class="text-left">
                                                    <p>Receptor del comprobante fiscal</p>
                                                    <h4>{{xml|k:'cfdi:Comprobante'|k:'cfdi:Receptor'|k:'@Nombre'}}</h4>
                                                    <h5><strong>{{xml|k:'cfdi:Comprobante'|k:'cfdi:Receptor'|k:'@Rfc'}}</strong></h5>
                                                    <h5>Uso del CFDI: {{xml|k:'cfdi:Comprobante'|k:'cfdi:Receptor'|k:'@UsoCFDI'}}</h5>
                                                    <h5><strong>Folio Fiscal</strong> {{xml|k:'cfdi:Comprobante'|k:'cfdi:Complemento'|k:'tfd:TimbreFiscalDigital'|k:'@UUID'}}</h5>
                                                    <h5><strong>No. Certificado Digital</strong> {{xml|k:'cfdi:Comprobante'|k:'@NoCertificado'}}</h5>
                                                    <h5><strong>No. Serie Certificado SAT</strong> {{xml|k:'cfdi:Comprobante'|k:'cfdi:Complemento'|k:'tfd:TimbreFiscalDigital'|k:'@NoCertificadoSAT'}}</h5>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row invoice__attrs">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="width: 25%">
                                                <div class="invoice__attrs__item">
                                                    <small>Folio</small>
                                                    <h4>{{xml|k:'cfdi:Comprobante'|k:'@Folio'}}</h4>
                                                </div>
                                            </td>
                                            <td style="width: 25%">
                                                <div class="invoice__attrs__item">
                                                    <small>Serie</small>
                                                    <h4>{{xml|k:'cfdi:Comprobante'|k:'@Serie'}}</h4>
                                                </div>
                                            </td>
                                            <td style="width: 25%">
                                                <div class="invoice__attrs__item">
                                                    <small>Tipo de comprobante</small>
                                                    <h4>{{xml|k:'cfdi:Comprobante'|k:'@TipoDeComprobante'}}</h4>
                                                </div>
                                            </td>
                                            <td style="width: 25%">
                                                <div class="invoice__attrs__item">
                                                    <small>Fecha/Hora Certificación</small>
                                                    <h4>{{xml|k:'cfdi:Comprobante'|k:'cfdi:Complemento'|k:'tfd:TimbreFiscalDigital'|k:'@FechaTimbrado'|datestring}}</h4>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <table class="table invoice__table">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>Cantidad</th>
                                        <th>Unidad</th>
                                        <th>Descripción</th>
                                        <th>Precio</th>
                                        <th>Importe</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for concepto in xml|k:'cfdi:Comprobante'|k:'cfdi:Conceptos'|k:'cfdi:Concepto' %}
                                        <tr style="background-color: #f6f6f6;">
                                            <td>{{concepto|k:'@Cantidad'}}</td>
                                            <td><small>{{concepto|k:'@ClaveUnidad'}}</small> - {{concepto|k:'@Unidad'}}</td>
                                            <td><small>{{concepto|k:'@ClaveProdServ'}}</small> - {{concepto|k:'@Descripcion'}}</td>
                                            <td>$ {{concepto|k:'@ValorUnitario'|intcomma}}</td>
                                            <td>$ {{concepto|k:'@Importe'|intcomma}}</td>
                                        </tr>
                                        {%for impuesto in concepto|k:'cfdi:Impuestos'|k:'cfdi:Traslados'|k:'cfdi:Traslado'%}
                                            <tr>
                                                <td style="padding:.3rem 1.5rem;"><small>Base: <strong>$ {{impuesto|k:'@Base'|intcomma}}</strong></small></td>
                                                <td style="padding:.3rem 1.5rem;"><small>Impuesto: <strong>{{impuesto|k:'@Impuesto'}} </strong></small></td>
                                                <td style="padding:.3rem 1.5rem;"><small>Tipo Factor: <strong>{{impuesto|k:'@TipoFactor'}}</strong></small></td>
                                                <td style="padding:.3rem 1.5rem;"><small>Tasa o Cuota: <strong>{{impuesto|k:'@TasaOCuota'}}</strong></small></td>
                                                <td style="padding:.3rem 1.5rem;"><small>Importe: <strong>$ {{impuesto|k:'@Importe'|intcomma}}</strong></small></td>
                                            </tr>
                                        {%endfor%}
                                    {%endfor%}
                                    <tr>
                                        <td colspan="3">
                                            Forma de pago: [01] Pago en efectivo<br />
                                            Método de pago: [PUE] Pagó en una sola exhibición<br />
                                            Moneda: {{xml|k:'cfdi:Comprobante'|k:'@Moneda'}}<br />
                                            Lugar de Expedicion: {{xml|k:'cfdi:Comprobante'|k:'@LugarExpedicion'}}<br />
                                            Importe con letra: {{xml|k:'cfdi:Comprobante'|k:'@Total'|numbertostring}}<br />
                                        </td>
                                        <td class="text-right">
                                            Subtotal<br />
                                            {% for transladado in xml|k:'cfdi:Comprobante'|k:'cfdi:Impuestos'|k:'cfdi:Traslados'|k:'cfdi:Traslado' %}
                                                {{transladado|k:'@Impuesto'}} transladado, Tasa {{transladado|k:'@TasaOCuota'}}<br />
                                            {%endfor%}
                                            <h5 style="margin-top:1rem">TOTAL</h5>
                                        </td>
                                        <td>
                                            $ {{xml|k:'cfdi:Comprobante'|k:'@SubTotal'|intcomma}}<br />
                                            {% for transladado in xml|k:'cfdi:Comprobante'|k:'cfdi:Impuestos'|k:'cfdi:Traslados'|k:'cfdi:Traslado' %}
                                                $  {{transladado|k:'@Importe'|intcomma}}<br />
                                            {%endfor%}
                                            <h5 style="margin-top:1rem">$ {{xml|k:'cfdi:Comprobante'|k:'@Total'|intcomma}}</h5><br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% with    Version='1.1'   UUID=xml|k:'cfdi:Comprobante'|k:'cfdi:Complemento'|k:'tfd:TimbreFiscalDigital'|k:'@UUID'    FechaTimbrado=xml|k:'cfdi:Comprobante'|k:'cfdi:Complemento'|k:'tfd:TimbreFiscalDigital'|k:'@FechaTimbrado'    RfcProvCertif=xml|k:'cfdi:Comprobante'|k:'cfdi:Complemento'|k:'tfd:TimbreFiscalDigital'|k:'@RfcProvCertif'     SelloCFD=xml|k:'cfdi:Comprobante'|k:'cfdi:Complemento'|k:'tfd:TimbreFiscalDigital'|k:'@SelloCFD'    NoCertificadoSAT=xml|k:'cfdi:Comprobante'|k:'cfdi:Complemento'|k:'tfd:TimbreFiscalDigital'|k:'@NoCertificadoSAT'%}
                                <table class="table invoice__table">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <div class="invoice__remarks">
                                                    <h5 style="margin-bottom:0px; margin-top:5px;">Sello digital del CFDI</h5>
                                                    <span style="font-size:10px;margin-bottom:0px; margin-top:2px;">
                                                        ||{{Version|concat:UUID|concat:FechaTimbrado|concat:RfcProvCertif|concat:SelloCFD|concat:NoCertificadoSAT|add_linebreaks:170|safe}}||
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 35%">
                                                <img src="http://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=https://verificacfdi.facturaelectronica.sat.gob.mx/default.aspx?re={{xml|k:'cfdi:Comprobante'|k:'cfdi:Emisor'|k:'@Rfc'}}&rr={{xml|k:'cfdi:Comprobante'|k:'cfdi:Receptor'|k:'@Rfc'}}&tt={{xml|k:'cfdi:Comprobante'|k:'@Total'|intcomma}}&id={{UUID}}"/>
                                            </td>
                                            <td>
                                                <div class="invoice__remarks">
                                                    <h5 class="mt-0" style="margin-bottom:0px; margin-top:5px;">Sello digital del CFDI</h5>
                                                    <span class="margin-bottom:0px; margin-top:2px;">
                                                        <small style="font-size:10px">{{xml|k:'cfdi:Comprobante'|k:'@Sello'|add_linebreaks:100|safe}}</small>
                                                    </span>
                                                </div>
                                                <div class="invoice__remarks">
                                                    <h5 style="margin-bottom:0px; margin-top:5px;">Sello digital del SAT</h5>
                                                    <span class="margin-bottom:0px; margin-top:2px;">
                                                        <small style="font-size:10px">{{xml|k:'cfdi:Comprobante'|k:'cfdi:Complemento'|k:'tfd:TimbreFiscalDigital'|k:'@SelloSAT'|add_linebreaks:100|safe}}</small>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            {% endwith %}
                            <footer class="invoice__footer">
                                ESTE DOCUMENTO ES UNA REPRESENTACION IMPRESA DE UN CFDI
                            </footer>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>