{% load static %}
<script src="{%static 'vendors/bower_components/jquery/dist/jquery.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/tether/dist/js/tether.min.js'%}"></script>
<script src="{%static 'js/popper.js'%}"></script>
<script src="{%static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/Waves/dist/waves.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/sweetalert2/dist/sweetalert2.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js'%}"></script>
<script src="{%static 'js/query.js'%}"></script>
<script>
    function notify(from, align, icon, type, animIn, animOut, delay, title, message){
        $.notify({
            icon: icon,
            title: title,
            message: message,
            url: ''
        },{
            element: 'body',
            type: type,
            allow_dismiss: true,
            placement: {
                from: from,
                align: align
            },
            offset: {
                x: 20,
                y: 20
            },
            spacing: 10,
            z_index: 1031,
            delay: delay,
            timer: 1000,
            url_target: '_blank',
            mouse_over: false,
            animate: {
                enter: animIn,
                exit: animOut
            },
            template:   '<div data-notify="container" class="alert alert-dismissible alert-{0} alert--notify" role="alert">' +
            '<span data-notify="icon"></span> ' +
            '<span data-notify="title">{1}</span> ' +
            '<span data-notify="message">{2}</span>' +
            '<div class="progress" data-notify="progressbar">' +
            '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
            '</div>' +
            '<a href="{3}" target="{4}" data-notify="url"></a>' +
            '' +
            '</div>'
        });
    }
    function error_message(title, message){
        swal({
            title: title,
            text: message,
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-danger btn-color-danger'
        })
    }
</script>