{% extends "generic/list.html" %}
{% load static%}

{%block list%}
    <thead>
        <tr>
            <th>RFC</th>
            <th>RAZON SOCIAL</th>
            <th>PERSONA</th>
            <th>CERTIFICADO</th>
            <th>CONTACTO</th>
            <th>EMAIL CONTACTO</th>
            <th>ESTATUS</th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td><a href="{{obj.get_absolute_url_detail}}" class="color-default">{{obj.rfc}}</a></td>
                <td><a href="{{obj.get_absolute_url_detail}}" class="color-default">{{obj.razon_social}}</a></td>
                <td><a href="{{obj.get_absolute_url_detail}}" class="color-default">{{obj.persona}}</a></td>
                <td><a href="{{obj.get_absolute_url_detail}}" class="color-default">{{obj.nocertificado}}</a></td>
                <td><a href="{{obj.get_absolute_url_detail}}" class="color-default">{{obj.contacto|default:"-"}}</a></td>
                <td><a href="{{obj.get_absolute_url_detail}}" class="color-default">{{obj.email_contacto|default:"-"}}</a></td>
                <td>
                    <a href="{{obj.get_absolute_url_detail}}" class="color-default">
                        {%if obj.estatus == 'success'%}
                            <i class="fa fa-circle color-success"></i>
                        {%elif  obj.estatus == 'danger'%}
                            <i class="fa fa-circle color-danger"></i>
                        {%else%}
                            <i class="fa fa-circle color-warning"></i>
                        {%endif%}
                    </a>
                </td>
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}s