{% extends "generic/detail.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}


{%block more_options%}
{%endblock%}

{%block detail_grid%}
    <div class="grid-margins-items" size="2">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">{{object|upper}}</h2>
            </div>
            <div class="stats__info">
                <div class="row stats grid">
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            {%if object.rfc %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.rfc}}</h3>
                                        <small class="color-5 mt-3 fs-9">RFC</small>
                                    </div>
                                </div>
                            {%endif%}
                            {%if object.razon_social %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.razon_social}}</h3>
                                        <small class="color-5 mt-3 fs-9">RAZÓN SOCIAL</small>
                                    </div>
                                </div>
                            {%endif%}
                            {%if object.persona %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.persona}}</h3>
                                        <small class="color-5 mt-3 fs-9">TIPO DE PERSONA</small>
                                    </div>
                                </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock detail_grid%}