{% extends "generic/list.html" %}
{% load app_tags%}

{%block list%}
    <thead>
        <tr>
            <th>Organización</th>
            <th>Fecha</th>
            <th>UUID</th>
            <th>Ticket</th>
            <th>RFC</th>
            <th>Subtotal</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td><a href="/factura/ver/{{obj.pk}}/" class="color-default">{{obj.company}}</a></td>
                <td><a href="/factura/ver/{{obj.pk}}/" class="color-default">{{obj.fecha|replace_space:"T"}}</a></td>
                <td><a href="/factura/ver/{{obj.pk}}/" class="color-default">{{obj.uuid}}</a></td>
                <td><a href="/factura/ver/{{obj.pk}}/" class="color-default">{{obj.ticket}}</a></td>
                <td><a href="/factura/ver/{{obj.pk}}/" class="color-default">{{obj.rfc}}<br /><small>{{obj.name}}</small></a></td>
                <td><a href="/factura/ver/{{obj.pk}}/" class="color-default">$ {{obj.subtotal}}</a></td>
                <td><a href="/factura/ver/{{obj.pk}}/" class="color-default">$ {{obj.total}}</a></td>
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}s