{% extends "dashboard.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{% block title %}{{ model|verbose_name_plural|upper }} :: {{request.user.company.name}}{% endblock title %}

{%block pre_css%}
    {% include "components/forms_css.html"%}
    <style>
    .colorpicker-2x .colorpicker-saturation {
        width: 100px;
        height: 100px;
    }

    .colorpicker-2x .colorpicker-hue,
    .colorpicker-2x .colorpicker-alpha {
        width: 30px;
        height: 100px;
    }

    .colorpicker-2x .colorpicker-preview,
    .colorpicker-2x .colorpicker-preview div {
        height: 30px;
        font-size: 16px;
        line-height: 160%;
    }

    .colorpicker-saturation .colorpicker-guide,
    .colorpicker-saturation .colorpicker-guide i {
        height: 10px;
        width: 10px;
        border-radius: 10px;
    }
    #div_id_lat{
        display:none;
    }
    #div_id_lng{
        display:none;
    }
    .trumbowyg-dropdown button {
        font-size: 1rem;
        height: 20px!important;
        padding: 0 0rem!important;
    }
    .form-control:disabled, .form-control[readonly] {
        opacity: 1!important;
    }
    </style>
{%endblock%}

{%block content%}
    <div class="toolbar mb-0">
        <div class="toolbar__label">
            <h5 class="title-quantity mt-0 mb-0 ml-r3">
                {%block breadcrumbs%}
                    <a href="{%url 'project:dashboard'%}" class="color-default">PANEL</a> 
                    <i class="fa fa-angle-double-right"></i> 
                    <a href="{{model.get_absolute_url_list}}{{posturl|addposturl:'?'}}" class="color-default"><small class="fs-9 color-5">listado de</small> {{ model|verbose_name_plural|upper }}</a>
                    <span class="color-4">
                        <i class="fa fa-angle-double-right"></i> 
                        {%if class == 'CreateView'%}
                            CREAR {{ model|verbose_name_singular|upper }}
                        {%elif class == 'UpdateView'%}
                            {{object}}
                        {%endif%}
                    </span>
                {%endblock%}
            </h5>
        </div>
    </div>
    <div class="grid-margins mt-0" id="form-create">
        {%block form%}
            <form id="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="grid-margins-items" size="{%block size_create%}2{%endblock%}">
                    <div class="stats__item">
                        <div class="stats__chart bg-default">
                            <h2 class="color-1 fs-18 mb-0">
                                {%block title_card_form%}
                                    {%if class == 'CreateView'%}
                                        CREAR {{ model|verbose_name_singular|upper }}
                                    {%elif class == 'UpdateView'%}
                                        EDITAR <small>{{object}}</small>
                                    {%endif%}
                                {%endblock title_card_form%}
                            </h2>
                        </div>
                        <div class="stats__info">
                            <div class="form-group">
                                {{ form|crispy }}
                                <button type="submit" name="form" class="btn btn-lg waves-effect bg-color-default color-1">GUARDAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {%endblock form%}
    </div>
    {%block extra_create%}
    {%endblock%}
{%endblock content%}

{%block support%}
{%endblock%}

{%block js%}
    <script src="{%static 'js/validate.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{VAR.VAR_GLOBAL.GOOGLEMAPS}}&libraries=places"></script>
{%endblock js%}

{%block script%}
    {{ block.super }}
    {% include "components/forms_js.html"%}
{%endblock script%}

{%block redirect_url%}{{model.get_absolute_url_list}}{{posturl|addposturl:'?'}}{%endblock%}

{%block extend_vue_Data%}
    vcolor: '{{object.color|default:VAR.VAR_LOCAL.COLOR_DEFAULT}}',
    lat: '{{object.lat|default:''}}',
    lng: '{{object.lng|default:''}}',
{%endblock extend_vue_Data%}

{%block extend_vue_mounted%}
    self = this
    var a = $(".select2-parent")[0] ? $(".select2-parent") : $("body");
    $("select.select2").select2({ 
        dropdownAutoWidth: !0, 
        language: "es",
        width: "100%",
        dropdownParent: a 
    })
    $("#form").validate({
        errorClass: "has-error",
        lang: 'es',
        rules: {
            {%block rules%}
            {%endblock rules%}                          
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        },
        submitHandler: function(form) {
            {%block submit_form%}
                form.submit();
            {%endblock submit_form%}
        }
    });
    $('.colorPicker').colorpicker({
        customClass: 'colorpicker-2x',
        format: "hex",
        sliders: {
            saturation: {
              maxLeft: 100,
              maxTop: 100
            },
            hue: {
              maxTop: 100
            },
            alpha: {
              maxTop: 100
            }
        },
    }).on('changeColor', function(val) { 
        if(val.value) self.vcolor = val.value
    });
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('id_address')),
            {types: ['geocode']}
        );
        autocomplete.addListener('place_changed', fillInAddress);
    }
    function fillInAddress() {
        var place = autocomplete.getPlace();
        self.lat = place.geometry.location.lat()
        self.lng = place.geometry.location.lng()
    }
    initAutocomplete();
    $('.dateinput').flatpickr({
        dateFormat: 'd/m/Y',
    });
    $('.timeinput').flatpickr(
    {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i:S",
    });
    $('.wysiwyg').trumbowyg({
        lang: 'es',
        imageWidthModalEdit: true,
        btns: [
            ['undo', 'redo'], // Only supported in Blink browsers
            ['formatting'],
            ['strong', 'em', 'del'],
            ['foreColor', 'backColor'],
            ['noembed'],
            ['superscript', 'subscript'],
            ['link'],
            ['insertImage'],
            ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
            ['unorderedList', 'orderedList'],
            ['horizontalRule'],
            ['removeformat'],
            ['fullscreen']
        ]
    });
    formcreate_height = $('#form-create').height() + $('.trumbowyg-box').height()
    $('#form-create').css('height', formcreate_height);
{%endblock extend_vue_mounted%}

{%block extend_vue_methods%}
{%endblock extend_vue_methods%}