{% extends "dashboard.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block content%}
    <div class="toolbar mb-0">
        <div class="toolbar__label">
            <h5 class="title-quantity mt-0 mb-0 ml-r3">
                <a href="{%url 'project:dashboard'%}" class="color-default">PANEL</a> 
                <i class="fa fa-angle-double-right"></i>
                <a href="{{object.get_absolute_url_list}}{{posturl|addposturl:'?'}}" class="color-default"><small class="fs-9 color-5">listado de</small> {{ model|verbose_name_plural|upper }}</a>
                <span class="color-4">
                    <i class="fa fa-angle-double-right"></i> 
                    VER <small class="fs-11 color-default">{{object|upper}}</small>
                </span>
            </h5>
        </div>
    </div>
    <div class="grid-margins mt-0">
        {%if object.get_absolute_url_add or object.get_absolute_url_update or object.get_absolute_url_delete or object.have_actions%}
            {%block actions%}
                <div class="grid-margins-items mt-0" size="4">
                    <div class="stats__item padding0 no-border">
                        <div class="stats__info padding0">
                            <div class="row stats grid padding0">
                                {%block more_options%}
                                {%endblock%}
                                <div class="grid-item mb-0">
                                    <div class="listview listview--inverse listview--striped">
                                        {%if VAR.MODULE|addaction:'can_create_'|addlowerclassname:model|haspermission:request.user%}
                                            {%if object.get_absolute_url_add%}
                                                <div class="listview__item lh-9">
                                                    <a href="{{object.get_absolute_url_add}}{{posturl|addposturl:'?'}}">
                                                        <div class="widget-past-days__info">
                                                            <h3 class="color-4 fs-14 mb-0">{{ model.add_text.0 }}</h3>
                                                            <small class="color-default mt-3 pl-10"><i class="fa fa-plus"></i> {{ model.add_text.1 }}</small>
                                                            <small class="color-5 mt-3 fs-9">{{ model.add_text.2 }}</small>
                                                        </div>
                                                    </a>
                                                </div>
                                            {%endif%}
                                        {%endif%}
                                    </div>
                                </div>
                                <div class="grid-item mb-0">
                                    <div class="listview listview--inverse listview--striped">
                                        {%if VAR.MODULE|addaction:'can_edit_'|addlowerclassname:model|haspermission:request.user%}
                                            {%if object.get_absolute_url_update%}
                                                <div class="listview__item lh-9">
                                                    <a href="{{object.get_absolute_url_update}}{{posturl|addposturl:'?'}}">
                                                        <div class="widget-past-days__info">
                                                            <h3 class="color-4 fs-14 mb-0">{{ model.edit_text.0 }}</h3>
                                                            <small class="color-default mt-3 pl-10"><i class="fas fa-pencil-alt"></i> {{ model.edit_text.1 }}</small>
                                                            <small class="color-5 mt-3 fs-9">{{ model.edit_text.2 }}</small>
                                                        </div>
                                                    </a>
                                                </div>
                                            {%endif%}
                                        {%endif%}
                                    </div>
                                </div>
                                <div class="grid-item mb-0">
                                    <div class="listview listview--inverse listview--striped">
                                        {%if VAR.MODULE|addaction:'can_delete_'|addlowerclassname:model|haspermission:request.user%}
                                            {%if object.get_absolute_url_delete%}
                                                <div class="listview__item lh-9">
                                                    <div class="widget-past-days__info">
                                                        <a href="" v-on:click="del(text='{{model.delete_text.3}}',url='{{object.get_absolute_url_delete}}{{posturl|addposturl:'?'}}',$event)">
                                                            <h3 class="color-default fs-14 mb-0 danger-color">{{ model.delete_text.0 }}</h3>
                                                            <small class="color-default mt-3 pl-10 danger-color"><i class="fa fa-trash danger-color"></i> {{ model.delete_text.1 }}</small>
                                                            <small class="color-5 mt-3 fs-9 danger-color">{{ model.delete_text.2 }}</small>
                                                        </a>
                                                    </div>
                                                </div>
                                            {%endif%}
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%endblock%}
        {%endif%}
    </div>
    <div class="grid-margins mt-r2">
        {%block detail_grid%}
            <div class="grid-margins-items" size="2">
                <div class="stats__item">
                    <div class="stats__chart bg-default">
                        <h2 class="color-1 fs-18 mb-0">{{object|upper}}</h2>
                    </div>
                    <div class="stats__info">
                        <div class="row stats grid">
                            {%block detail%}
                            {%endblock%}
                        </div>
                    </div>
                </div>
            </div>
        {%endblock detail_grid%}
        {%block extra_grid%}
        {%endblock extra_grid%}
    </div>
{%endblock content%}

{%block support%}
{%endblock%}

{%block redirect_url%}{{model.get_absolute_url_list}}{{posturl|addposturl:'?'}}{%endblock%}

{%block extend_vue_methods%}
    del(text=false, url=false, event, textbutton='ELIMINAR!'){
        if (event) event.preventDefault()
        swal({
            title: 'Estas seguro?',
            text: text,
            type: 'warning',
            confirmButtonClass: 'btn btn-danger bg-danger color-white',
            confirmButtonText: textbutton,
        }).then(function(){
            window.location.replace(url);
        });
    },
{%endblock extend_vue_methods%}

