{% extends "dashboard.html" %}
{% load static%}
{% load app_tags%}

{% block title %}{{ model|verbose_name_plural|upper }} :: {{request.user.company.name}}{% endblock title %}

{%block local_style%}
    {% include "include/dashboard_styles.html" %}
{%endblock local_style%}

{%block content%}
    <div class="toolbar mb-0">
        <div class="toolbar__label">
            <h5 class="title-quantity mt-0 mb-0 ml-r3">
                <a href="{%url 'project:dashboard'%}" class="color-default">PANEL</a> 
                <i class="fa fa-angle-double-right"></i>
                {%block extend_breadcums%}
                {%endblock extend_breadcums%} 
                <a href="{{model.get_absolute_url_list}}{{posturl|addposturl:'?'}}" class="color-default"><small class="fs-9 color-5">listado de</small> {{ model|verbose_name_plural|upper }}</a>
                <span class="color-4">
                    <small>{{object_list|length}}</small> <small class="fs-9 color-default">MOSTRADO(S)</small>
                </span>
            </h5>
        </div>
        <div class="actions">
            <a class="color-default vertical-align" data-ma-action="toolbar-search-open">BUSCAR</a> <i class="actions__item zmdi zmdi-search" data-ma-action="toolbar-search-open"></i>
        </div>
        <form v-on:submit.prevent="onsubmit__q">
            <div class="toolbar__search" style="display: none;">
                <input v-model="q" type="text" placeholder="{{ model|verbose_name_plural|upper }} que deseas buscar...?">
                <i class="toolbar__search__close zmdi zmdi-long-arrow-left color-default" data-ma-action="toolbar-search-close"></i>
            </div>
        </form>
    </div>
    <div class="grid-margins mt-0">
        {%block actions%}
            {%if VAR.MODULE|addaction:'can_create_'|addlowerclassname:model|haspermission:request.user%}
                {%if model.get_absolute_url_add%}
                    <div class="grid-margins-items mt-0" size="{%if filters%}1{%else%}4{%endif%}">
                        <div class="stats__item padding0 no-border">
                            <div class="stats__info padding0">
                                <div class="row stats grid padding0 no-margin">
                                    <div class="grid-item mb-0">
                                        <div class="listview listview--inverse listview--striped">
                                            <div class="listview__item lh-9">
                                                <a href="{{model.get_absolute_url_add}}{{posturl|addposturl:'?'}}">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-4 fs-14 mb-0">{{ model.add_text.0 }}</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-plus"></i> {{ model.add_text.1 }}</small>
                                                        <small class="color-5 mt-3 fs-9">{{ model.add_text.2 }}</small>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endif%}
            {%endif%}
        {%endblock%}
        {%block filters%}
            {%if filters%}
                <div class="grid-margins-items mt-0 padding0" size="3">
                    <div class="stats__item padding0 no-border">
                        <div class="stats__info padding0">
                            <div class="row stats grid no-margin padding0">
                                {%for q__ in filters %}
                                    <div class="grid-item mb-0 padding0">
                                        <div class="listview listview--inverse listview--striped padding0">
                                            <div class="listview__item lh-9">
                                                <div class="form-group mb-r1">
                                                    <label class="color-default">Filtrar por {{q__.label}}</label>
                                                    <v-select v-model="{{q__.name}}" :options="{{q__.name}}options" :on-change="q__change"></v-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}
        {%endblock%}
    </div>
    <div class="grid-margins mt-0">
        <div class="grid-margins-items" size="4">
            <div class="stats__item padding1">
                <div class="stats__chart bg-default">
                    <h2 class="color-1 fs-18 mb-0">{{ model|verbose_name_plural|upper }}</h2>
                </div>
                <div class="stats__info">
                    {%block content_buttons%}
                    {%endblock content_buttons%}
                    <div class="table-responsive">
                         {%if object_list%}
                            {%if q__ or q%} 
                                <span class="color-default text-center ml-10">
                                    {{object_list|length}} RESULTADOS {%if q%}para '{{q}}'{%endif%}
                                    <a href="{{model.get_absolute_url_list}}{{posturl|addposturl:'?'}}" class="btn btn-secondary btn--icon-text waves-effect btn-sm ml-10"><i class="zmdi zmdi-arrow-back"></i> LISTADO COMPLETO</a>
                                </span>
                            {%endif%}
                            {%block extend_q%}
                            {%endblock extend_q%}
                            <table class="table table-sm table-hover">
                                {%block list%}
                                {%endblock list%}
                            </table>
                            <nav>
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item pagination-first"><a class="page-link" href="?page=1" v-on:click.stop.prevent="filter(1,'page','pagina')"></a></li>
                                    {% endif %}
                                    {% if page_obj.number|add:'-4' > 1 %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-4' }}" v-on:click.stop.prevent="filter({{ page_obj.number|add:'-4' }},'page','pagina')">&hellip;</a></li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                        {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}" v-on:click.stop.prevent="filter({{ i }},'page','pagina')">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'4' }}" v-on:click.stop.prevent="filter({{ page_obj.number|add:'4' }},'page','pagina')">&hellip;</a></li>
                                    {% endif %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item pagination-last"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" v-on:click.stop.prevent="filter({{ page_obj.paginator.num_pages }},'page','pagina')"></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {%block help_text%}
                            {%endblock help_text%}
                        {%else%}
                            {%if q__ or q%} 
                                <h4 class="mt-r2 mb-r4 text-center">
                                    No hay {{ model|verbose_name_plural|upper }} {%if q%} para '{{q}}'{%endif%} <br />
                                    <a href="{{model.get_absolute_url_list}}{{posturl|addposturl:'?'}}" class="btn btn-secondary btn--icon-text waves-effect mt-r2"><i class="zmdi zmdi-arrow-back"></i> LISTADO COMPLETO</a>
                                </h4>
                            {%else%}
                                <h4 class="mt-r2 mb-r4 text-center">No hay {{ model|verbose_name_plural|upper }} en esta organización</h4>
                            {%endif%}
                        {%endif%}
                    </div>
                    {%block extra_content%}
                    {%endblock extra_content%}
                </div>
            </div>
        </div>
    </div>
{%endblock content%}

{%block support%}
{%endblock%}

{%block prejsvue%}
    <script src="{%static 'js/vueselect.js'%}"></script>  
{%endblock%}

{%block extend_vue_Data%}
    q: '',
    {%for q__ in filters %}
        {{q__.name}}: {id: null, label:'{{q__.l}}', q__:null},
        {{q__.name}}options: [
            {id: 'delete__q', label: '-', q__:'{{q__.name}}'},
            {%for obj in q__.objects%}      
                {id: {%if obj.id%}{{obj.id}}{%else%}'{{obj}}'{%endif%}, label: '{{obj}}', q__:'{{q__.name}}'},
            {%endfor%}
        ],
    {%endfor%}
{%endblock extend_vue_Data%}

{%block extend_vue_methods%}
    filter(parameter, name, label){
        if (!parameter) return;
        if (!name) return;
        if (parameter == 'delete__q'){
            $.query.REMOVE(name)
            $.query.REMOVE('l'+name)
        } 
        else{
            $.query.SET(name, parameter)
            $.query.SET('l'+name, label)
        } 
        window.location.replace(location.origin + location.pathname + $.query.toString());
    },
    onsubmit__q(){
        this.filter(this.q, 'q', 'q')
    },
    q__change(value){
        this.filter(value.id, value.q__, value.label)
    },
    del(text=false, url=false, textbutton='ELIMINAR!'){
        swal({
            title: 'Estas seguro?',
            text: text,
            type: 'warning',
            confirmButtonClass: 'btn btn-danger bg-danger color-white',
            confirmButtonText: textbutton,
        }).then(function(){
            window.location.replace(url);
        });
    },
{%endblock extend_vue_methods%}

{%block vue_components%}
    Vue.component('v-select', VueSelect.VueSelect);
{%endblock vue_components%}

{%block redirect_url%}{{model.get_absolute_url_list}}{{posturl|addposturl:'?'}}{%endblock%}

{%block extend_vue_mounted%}
$( "#ras-form" ).click(function( event ) {
    event.preventDefault();
    $('.form-check-input:checked').each(function() {
        console.log($(this).val())
        $.getJSON('{%url "sellpoint:sellpoint_api"%}?method=ras_cut&cut='+$(this).val()+'&ras='+$("#ras").val(),function(json){
            notify('bottom', 'left', '', 'success', 'animated flipInX', 'animated flipOutX', '1000', 'CORTE EXITOSO!', '', );
        }).fail(function(xhr,errmsg,err){
            notify('bottom', 'left', '', 'inverse', 'animated flipInX', 'animated flipOutX', '2000', 'NO HAY CONEXIÓN CON EL SERVIDOR', '', )
        });
    });
    location.reload();
});
$( "#ocult-form" ).click(function( event ) {
    event.preventDefault();
    $('.form-check-input:checked').each(function() {
        $.getJSON('{%url "sellpoint:sellpoint_api"%}?method=ocult_form&cut='+$(this).val()+'&ras='+$("#ras").val(),function(json){
            notify('bottom', 'left', '', 'success', 'animated flipInX', 'animated flipOutX', '1000', 'SE OCULTO DE FORMA EXITOSA!', '', );
        }).fail(function(xhr,errmsg,err){
            notify('bottom', 'left', '', 'inverse', 'animated flipInX', 'animated flipOutX', '2000', 'NO HAY CONEXIÓN CON EL SERVIDOR', '', )
        });
    });
    location.reload();
});
$( "#select_all" ).click(function( event ) {
    event.preventDefault();
    $('.form-check-input').prop('checked',true);
});
$( "#deselect_all" ).click(function( event ) {
    event.preventDefault();
    $('.form-check-input').prop('checked',false);
});
{%endblock extend_vue_mounted%}