{% extends "generic/list.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}
{% load humanize%}

{%block local_style%}
    {{ block.super }}
    <style>
        .stats__info small {
            margin-top: 0rem;
                display: table-cell;
        }
    </style>
{%endblock local_style%}

{%block list%}
    <button type="" class="btn btn-primary mb-2" id="select_all">Seleccionar todos</button>
    <button type="" class="btn btn-primary mb-2" id="deselect_all" style="margin-left:10px;">Quitar todos</button>
    {%if request.user.is_staff%}
        <form class="form-inline" >
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Rasurar al 100%</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="ras" value="100">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2" id="ras-form">Rasurar</button>
            <button type="submit" class="btn btn-primary mb-2 ml-2" id="ocult-form">Ocultar</button>
        </form>
    {%endif%}
    <thead>
        <tr>
            {%if request.user.is_staff%}<th></th>{%endif%}
            <th>ID</th>
            <th>PUNTO DE VENTA</th>
            <th>FECHA CORTE</th>
            <th>TICKETS</th>
            <th>SUBTOTAL</th>
            <th>IEPS</th>
            <th>IVA</th>
            <th>FALTANTE</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        
        {%for obj in object_list%}
            <tr>
                {%if request.user.is_staff%}
                <td style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}1c!important;{%endif%}">
                    <input class="form-check-input" type="checkbox" value="{{obj.id}}" id="{{obj.id}}">
                </td>
                {%endif%}
                <td style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}1c!important;{%endif%}">
                    <a href="{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}"> 
                        {%if not obj.final_time%}
                            {{obj.len_cuts}}
                        {%else%}
                            {{obj.serial}}
                        {%endif%}
                    </a>
                </td>
                <td style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}1c!important;{%endif%}">
                    <a href="{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">
                        {{obj.sellpoint}}
                    </a>
                </td>
                <td style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}1c!important;{%endif%}">
                    <a href="{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">
                        {{obj.final_time|date:"d/m/Y H:i"}}
                    </a>
                </td>
                    <td style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}1c!important;{%endif%}">
                    <a href="{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">
                        Cob: {{obj.cob}} / Falt: {{obj.pen}}
                    </a>
                </td>
                <td style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}1c!important;{%endif%}">
                    <a href="{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">
                        ${{obj.total|minus:obj.iva|minus:obj.ieps|floatformat:2|intcomma}}
                    </a>
                </td>
                <td style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}1c!important;{%endif%}">
                    <a href="{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">
                            ${{obj.ieps|floatformat:2|intcomma}}
                    </a>
                </td>
                <td style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}1c!important;{%endif%}">
                    <a href="{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">
                        ${{obj.iva|floatformat:2|intcomma}}
                    </a>
                </td>
                </td>
                    <td style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}1c!important;{%endif%}">
                    <a href="{%if request.user.visible_username == 'alberto'%}/corte/ver_/{{obj.pk}}/{%elif request.user.visible_username == 'RSarabia'%}/corte/ver/{{obj.pk}}/porciento/100/{%else%}{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}{%endif%}" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">
                        ${{obj.totalfaltante|floatformat:2|intcomma}}
                    </a>
                </td>
                <td style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}1c!important;{%endif%}">
                    <a href="{%if request.user.visible_username == 'alberto'%}/corte/ver_/{{obj.pk}}/{%elif request.user.visible_username == 'RSarabia'%}/corte/ver/{{obj.pk}}/porciento/100/{%else%}{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}{%endif%}" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">
                        ${{obj.total|floatformat:2|intcomma}}
                    </a>
                </td>
                
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}
