{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}
{% load humanize%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Punto de venta</title>
	<link href="http://laloma.zaresapp.com/static/ace/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<style media="print" type="text/css">
    .noimprime
    {
        display: none;
    }
    .right
    {
        position:absolute;
        right:0px;
    }
	@page{margin: 0;}
</style>
<body>
	<table width="248" HEIGHT="50" border="0" align="center">
		<tr>
			<td  align="center"><font size="5">CORTE {{object.serial|upper}}</font><br /></td>
		</tr>
		<tr>
			<td  align="center"><font size="5">TOTAL: ${{object.cut_lines_ras.total|floatformat:2|intcomma}}</font></td>
		</tr>
		<tr>
			<td style="line-height:13px; " align="center">
                <font size='1'>
					{%if object.sellpoint.header_line_1%}{{object.sellpoint.header_line_1}}<br />{%endif%}
					{%if object.sellpoint.header_line_2%}{{object.sellpoint.header_line_2}}<br />{%endif%}
					{%if object.sellpoint.header_line_3%}{{object.sellpoint.header_line_3}}<br />{%endif%}
					{%if object.sellpoint.header_line_4%}{{object.sellpoint.header_line_4}}<br />{%endif%}
					{%if object.sellpoint.header_line_5%}{{object.sellpoint.header_line_5}}<br />{%endif%}
					FECHA DE CORTE: {{object.final_time|date:'SHORT_DATETIME_FORMAT'}}<br />
                </font>
			</td>
		</tr>
	</table>
	
	<table  width="248" border="1" align="center" style="line-height:15px;">
		<thead>
			<tr>
				<th>
					<font size="1">U.</font>
				</th>
				<th>
					<font size="1"> Prod.</font>
				</th>
				<th>
					<font size="1"> Un.</font>
				</th>
				<th>
					<font size="1"> IVA.</font>
				</th>
				<th>
					<font size="1"> Ieps.</font>
				</th>
				<th>
					<font size="1">Total</font>
				</th>
			</tr>
		</thead>
		
		<tbody>
            {%for key, value in object.cut_lines_ras.lines.items%}
                <tr align="right">
                    <td>
                        <span style="font-size: 10px;">{{value.quantity}}</span>
                    </td>
                    <td align="center">
                        <span style="font-size: 10px;">{{value.text_product}}</span>
                    </td>
                    <td align="left">
                        <span style="font-size: 10px;">${{value.price|floatformat:2|intcomma}}</span>
                    </td>
                    <td align="left">
                        <span style="font-size: 10px;">${{value.iva|floatformat:2|intcomma}}</span>
                    </td >
                    <td align="left">
                        <span style="font-size: 10px;">${{value.ieps|floatformat:2|intcomma}}</span>
                    </td >
                    <td align="left">
                        <span style="font-size: 10px;">${{value.total|floatformat:2|intcomma}}</span>
                    </td>
                </tr>
            {%endfor%}
			<tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right">Subtotal:</div>
				</th>
				<th class="total-amount" colspan="1" align="right">
					
						<div class="text-left"><font size="1" >${{object.cut_lines_ras.subtotal|floatformat:2|intcomma}}</font></div>
					
				</th>
			</tr>
			<tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right">Iva:</div>
					
				</th>
				<th class="total-amount" colspan="1" align="right">
					
						<div class="text-left"><font size="1" >${{object.cut_lines_ras.iva|floatformat:2|intcomma}}</font></div>
					
					
				</th>
			</tr>
			<tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right">Ieps:</div>
				</th>
				<th class="total-amount" colspan="1" align="right">
					
						<div class="text-left"><font size="1" >${{object.cut_lines_ras.ieps|floatformat:2|intcomma}}</font></div>
					
					
				</th>
			</tr>
			<tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right">Total:</div>
				</th>
				<th class="total-amount" colspan="1" align="right">
					
						<div class="text-left"><font size="1">${{object.cut_lines_ras.total|floatformat:2|intcomma}}</font></div>
					
				</th>
			</tr>
			<tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right"></div>
				</th>
				<th class="total-amount" colspan="1" align="right">
					
				</th>
			</tr>
			<tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right"></div>
				</th>
				<th class="total-amount" colspan="1" align="right">
					
				</th>
			</tr>
			<tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right">Pan blanco</div>
				</th>
				<th class="total-amount" colspan="1" align="right">
					<div class="text-left"><font size="1">{{object.cut_lines_ras.blanco_pz}} pz</font></div>
				</th>
			</tr>
			<tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right"></div>
				</th>
				<th class="total-amount" colspan="1" align="right">
					<div class="text-left"><font size="1">${{object.cut_lines_ras.blanco|floatformat:2|intcomma}}</font></div>
				</th>
            </tr>
            <tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right">Pan dulce</div>
				</th>
				<th class="total-amount" colspan="1" align="right">
					<div class="text-left"><font size="1">{{object.cut_lines_ras.dulce_pz}} pz</font></div>
				</th>
			</tr>
			<tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right"></div>
				</th>
				<th class="total-amount" colspan="1" align="right">
					<div class="text-left"><font size="1">${{object.cut_lines_ras.dulce|floatformat:2|intcomma}}</font></div>
				</th>
			</tr>
			<tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right">Otros</div>
				</th>
				<th class="total-amount" colspan="1" align="right">
					<div class="text-left"><font size="1">{{object.cut_lines_ras.otros_pz}} pz</font></div>
				</th>
			</tr>
			<tr>
				<th class="total-label" colspan="5" align="right">
					<div class="text-right"></div>
				</th>
				<th class="total-amount" colspan="1" align="right">
					<div class="text-left"><font size="1">${{object.cut_lines_ras.otros|floatformat:2|intcomma}}</font></div>
				</th>
			</tr>
		</tfoot>
	</table>
</body>
<script src="http://laloma.zaresapp.com/static/ace/assets/js/jquery-2.0.3.min.js"></script>
<script src="http://laloma.zaresapp.com/static/ace/assets/js/bootstrap.min.js"></script>
<script src="http://laloma.zaresapp.com/static/ace/assets/js/typeahead-bs2.min.js"></script>
<script src="http://laloma.zaresapp.com/static/ace/assets/js/ace-elements.min.js"></script>
<script src="http://laloma.zaresapp.com/static/ace/assets/js/ace.min.js"></script>
<script>
		cuts = [{%for cut in cuts%}'{{cut.pk}}',{%endfor%}]
		{%if print == '1'%}
			window.print();
		{%else%}
			var time = 3000;
			$.each( cuts, function( index, c ){
				setTimeout( function(){ window.open('http://pasteleriaslaestrella.pasteleriaslaestrella.com/corte/ver/'+c+'/25?print=1','','height=200,width=150') }, time)
				time += 3000;
			});
		{%endif%}
</script>

</body>
</html> 