{% extends "generic/detail.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}
{% load humanize%}

{%block more_options%}
{%endblock%}

{%block actions%}
    <div class="grid-margins-items" size="3">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">ACCIONES</h2>
            </div>
            <div class="stats__info">
                <div class="row stats grid">
                    {%if not object.final_time%}
                        <div class="grid-item">
                            <div class="listview listview--inverse listview--striped">
                                <div class="listview__item lh-9">
                                    <a href=""  v-on:click.prevent="make_cut({{object.pk}})">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-4 fs-14 mb-0">CORTE {{object}}</h3>
                                            <small class="color-default mt-3 pl-10"><i class="fa fa-cut"></i> Hacer Corte de esta venta</small>
                                            <small class="color-5 mt-3 fs-9">No se podrán modificar los tickets una vez cortado</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {%endif%}
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            <div class="listview__item lh-9">
                                <a href="{%url 'sellpoint:ticket-list'%}?q__cut={{object.pk}}">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-4 fs-14 mb-0">TICKETS DE CORTE</h3>
                                        <small class="color-default mt-3 pl-10"><i class="fa fa-tag"></i> Mostrar listado de tickets</small>
                                        <small class="color-5 mt-3 fs-9">No se podrán modificar los tickets una vez cortado</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            <div class="listview__item lh-9">
                                <a href="" data-ma-action="print">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-4 fs-14 mb-0">IMPRIMIR</h3>
                                        <small class="color-default mt-3 pl-10"><i class="fa fa-print"></i> Imprimir corte</small>
                                        <small class="color-5 mt-3 fs-9">Se imprimira este corte, o puedes guardarlo en PDF</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if  perms.sellpoint.admin_cut %}
                        {%if object.final_time%}
                            <div class="grid-item">
                                <div class="listview listview--inverse listview--striped">
                                    <div class="listview__item lh-9">
                                        <a href=""  v-on:click.prevent="make_cut_cfdi({{object.pk}})">
                                            <div class="widget-past-days__info">
                                                <h3 class="color-4 fs-14 mb-0">GENERAR FACTURA</h3>
                                                <small class="color-default mt-3 pl-10"><i class="fa fa-file-pdf-o"></i> Generar factura del corte</small>
                                                <small class="color-5 mt-3 fs-9">Se facturará como venta al público y se reporta al SAT</small>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {%endif%}
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
{%endblock%}

{%block detail_grid%}
    <div class="grid-margins-items" size="3">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">CORTE {{object|upper}}</h2>
            </div>
            <div class="stats__info">
                <div class="invoice">
                    <div class="row invoice__address">
                        <div class="col-6">
                            <div class="text-right">
                                <p>CORTE {{object|upper}}</p>
                                {% if object.final_time%}
                                    FECHA DE CORTE: <strong>{{object.final_time|date:'SHORT_DATETIME_FORMAT'}}</strong><br />
                                {%else%}
                                    CORTE EN PROCESO
                                {%endif%}
                                FECHA DE INICIO: {{object.init_time|date:'SHORT_DATETIME_FORMAT'}}<br />
                                CLIENTES: {{object.customers}}<br />
                                PENDIENTES: {{object.pen}}<br />
                                COBRADOS: {{object.cob}}<br />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-left">
                                <h4 clas="color-default">{{object.sellpoint}}</h4>
                                {%if object.sellpoint.header_line_1%}{{object.sellpoint.header_line_1}}<br />{%endif%}
                                {%if object.sellpoint.header_line_2%}{{object.sellpoint.header_line_2}}<br />{%endif%}
                                {%if object.sellpoint.header_line_3%}{{object.sellpoint.header_line_3}}<br />{%endif%}
                                {%if object.sellpoint.header_line_4%}{{object.sellpoint.header_line_4}}<br />{%endif%}
                                {%if object.sellpoint.header_line_5%}{{object.sellpoint.header_line_5}}<br />{%endif%}
                            </div>
                        </div>
                    </div>
                    <table class="table invoice__table">
                        <thead>
                            <tr class="text-uppercase" style="background-color: #f7f7f7;">
                                <th>PRODUCTO</th>
                                <th>CANTIDAD</th>
                                <th>PRECIO</th>
                                <th>IVA</th>
                                <th>IEPS</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for key, value in object.cut_lines_ras.lines.items%}
                                <tr>
                                    <td style="width: 50%" class="color-default">{{value.text_product}}</td>
                                    <td class="color-default">{{value.quantity}}</td>
                                    <td class="color-default">$ {{value.price|floatformat:2|intcomma}}</td>
                                    <td class="color-default">$ {{value.iva|floatformat:2|intcomma}}</td>
                                    <td class="color-default">$ {{value.ieps|floatformat:2|intcomma}}</td>
                                    <td class="color-default">$ {{value.total|floatformat:2|intcomma}}</td>
                                </tr>
                            {%endfor%}
                            <tr>
                                <td colspan="4" class="text-right">SUBTOTAL:</td>
                                <td colspan="2" class="color-default">$ {{object.cut_lines_ras.subtotal|floatformat:2|intcomma}}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right">IVA:</td>
                                <td colspan="2" class="color-default">$ {{object.cut_lines_ras.iva|floatformat:2|intcomma}}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right">IEPS:</td>
                                <td colspan="2" class="color-default">$ {{object.cut_lines_ras.ieps|floatformat:2|intcomma}}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-right">TOTAL:</td>
                                <td colspan="2" class="color-default"><strong>$ {{object.cut_lines_ras.total|floatformat:2|intcomma}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row invoice__address">
                         <div class="col-6">
                            <div class="text-right">
                                {%if object.sellpoint.rfc_cuts.rfc%}{{object.sellpoint.rfc_cuts.rfc}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.razon_social%}{{object.sellpoint.rfc_cuts.razon_social}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.persona%}Persona {{object.sellpoint.rfc_cuts.persona}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.curp%}{{object.sellpoint.rfc_cuts.curp}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.telefono%}{{object.sellpoint.rfc_cuts.telefono}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.contacto%}{{object.sellpoint.rfc_cuts.contacto}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.email_contacto%}{{object.sellpoint.rfc_cuts.email_contacto}}{%endif%}<br />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-left">
                                {%if object.sellpoint.rfc_cuts.calle%}{{object.sellpoint.rfc_cuts.calle}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.numero_exterior%}{{object.sellpoint.rfc_cuts.numero_exterior}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.numero_interior%}{{object.sellpoint.rfc_cuts.numero_interior}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.colonia%}{{object.sellpoint.rfc_cuts.colonia}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.localidad%}{{object.sellpoint.rfc_cuts.localidad}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.municipio_delegacion%}{{object.sellpoint.rfc_cuts.municipio_delegacion}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.estado%}{{object.sellpoint.rfc_cuts.estado}}{%endif%}<br />
                                {%if object.sellpoint.rfc_cuts.codigo_postal%}{{object.sellpoint.rfc_cuts.codigo_postal}}{%endif%}<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock detail_grid%}

{%block extend_vue_methods%}
    make_cut: function(cut){
        $.getJSON('{%url "sellpoint:sellpoint_api"%}?method=make_cut&sellpoint={{object.sellpoint.id}}&cut='+cut, function(json){
            location.reload();
        }).fail(function(xhr,errmsg,err){
            error_message('Algo salió mal!', 'Contacta a un administrador para solucionar este problema.')
        })
    },
{%endblock extend_vue_methods%}
