{% extends "generic/list.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}
{%block list%}
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>DEPENDE DE</th>
            <th>COLOR</th>
            <th>SEPARAR</th>
            <th>ACTIVO?</th>
            {%if VAR.MODULE|addaction:'can_delete_'|addlowerclassname:model|haspermission:request.user and obj.get_absolute_url_delete%}
                <th></th>
            {%endif%}
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td><a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">{{obj.name}}</a></td>
                <td><a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">{{obj.parent|default_if_none:"-"}}</a></td>
                <td><a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default"><i class="fa fa-circle" style="color:{{obj.color}}"></i></a></td>
                <td><a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default"><i class="fa fa-{{obj.pull_cut|yesno:'check,times'}}"></i></a></td>
                <td><a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default"><i class="fa fa-{{obj.is_active|yesno:'check,times'}}"></i></a></td>
                {%if VAR.MODULE|addaction:'can_delete_'|addlowerclassname:model|haspermission:request.user and obj.get_absolute_url_delete%}
                    <td><a v-on:click.prevent="del(text='{{model.delete_text.3}}',url='{{obj.get_absolute_url_delete}}{{posturl|addposturl:'?'}}')" class="color-default"><i class="fas fa-trash-alt"></i></a></td>
                {%endif%}
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}
