{% extends "generic/detail.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block more_options%}
{%endblock%}

{%block detail%}
    <div class="grid-item">
        <div class="listview listview--inverse listview--striped">
            {%if object.name %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.name}}</h3>
                        <small class="color-5 mt-3 fs-9">Nombre</small>
                    </div>
                </div>
            {%endif%}
            {%if object.color %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0"><i class="fa fa-circle fa-2x" style="color:{{obj.color}}"></i></h3>
                        <small class="color-5 mt-3 fs-9">Color</small>
                    </div>
                </div>
            {%endif%}
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">{{object.parent|default_if_none:'No depende de otro'}}</h3>
                    <small class="color-5 mt-3 fs-9">Depende de:</small>
                </div>
            </div>
            {%if object.is_active %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.is_active|yesno:'SI, NO'}}</h3>
                        <small class="color-5 mt-3 fs-9">Esta activo?</small>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
{%endblock detail%}

