{% extends "generic/list.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}
{% load humanize%}

{%block actions%}
{%endblock%}

{%block list%}
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>IVA</th>
            <th>IEPS?</th>
            <th>Activo?</th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td><a href="{{obj.get_absolute_url_detail}}?{{posturl}}" class="color-default">{{obj.product}}</a></td>
                <td><a href="{{obj.get_absolute_url_detail}}?{{posturl}}" class="color-default">${{obj.price|floatformat:2|intcomma}}</a></td>
                <td><a href="{{obj.get_absolute_url_detail}}?{{posturl}}" class="color-default"><i class="fa fa-{{obj.iva|yesno:'check,times'}}"></i></a></td>
                <td><a href="{{obj.get_absolute_url_detail}}?{{posturl}}" class="color-default"><i class="fa fa-{{obj.ieps|yesno:'check,times'}}"></i></a></td>
                <td><a href="{{obj.get_absolute_url_detail}}?{{posturl}}" class="color-default"><i class="fa fa-{{obj.is_active|yesno:'check,times'}}"></i></a></td>
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}

