{% extends "generic/list.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}
{% load sellpoint_tags%}
{% load humanize%}


{%block list%}
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>PUNTOS DE VENTA</th>
            <th>MENU</th>
            <th>ACTIVO?</th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td>
                    <a href="{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}" class="color-default">
                        {{obj.name}}<br>
                        {{obj.quantity}} {{obj.units.nombre}} [{{obj.units.codigo}}] 
                        <small>{{obj.code}}</small>
                    </a>
                </td>
                <td>
                    {{obj.make_menu|safe}}
                </td>
                <td>
                    <a href="{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}" class="color-default">
                        <i class="fa fa-circle" style="color:{{obj.menu}}.color"></i> {{obj.menu}}
                    </a>
                </td>
                <td><a href="{{obj.get_absolute_url_detail}}{{posturl|addposturl:'?'}}" class="color-default"><i class="fa fa-{{obj.is_active|yesno:'check,times'}}"></i></a></td>
                {%if VAR.MODULE|addaction:'can_delete_'|addlowerclassname:model|haspermission:request.user and obj.get_absolute_url_delete%}
                    <td><a v-on:click.prevent="del(text='{{model.delete_text.3}}',url='{{obj.get_absolute_url_delete}}{{posturl|addposturl:'?'}}')" class="color-default"><i class="fas fa-trash-alt"></i></a></td>
                {%endif%}
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}

