{% extends "generic/detail.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block more_options%}
{%endblock%}

{%block detail%}
    <div class="grid-item">
        <div class="listview listview--inverse listview--striped">
            {%if object.name %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.name}}</h3>
                        <small class="color-5 mt-3 fs-9">Nombre</small>
                    </div>
                </div>
            {%endif%}
            {%if object.sellpoints %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.print_my_sellpoints}}</h3>
                        <small class="color-5 mt-3 fs-9">Puntos de venta</small>
                    </div>
                </div>
            {%endif%}
            {%if object.menu %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.menu}}</h3>
                        <small class="color-5 mt-3 fs-9">Menu</small>
                    </div>
                </div>
            {%endif%}
            {%if object.is_active %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.is_active|yesno:'SI,NO'}}</h3>
                        <small class="color-5 mt-3 fs-9">Esta activo?</small>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
    <div class="grid-item">
        <div class="listview listview--inverse listview--striped">
            {%if object.code %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.code.nombre}}<br /><small>{{object.code.codigo}}</small></h3>
                        <small class="color-5 mt-3 fs-9">Código</small>
                    </div>
                </div>
            {%endif%}
            {%if object.units %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.units.nombre}}<br /><small>{{object.units.codigo}}</small></h3>
                        <small class="color-5 mt-3 fs-9">Unidades</small>
                    </div>
                </div>
            {%endif%}
            {%if object.quantity %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.quantity}}</h3>
                        <small class="color-5 mt-3 fs-9">Cantidad</small>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
{%endblock detail%}

