{% extends "generic/create.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block breadcrumbs%}
    <a href="{%url 'project:dashboard'%}" class="color-default">PANEL</a> 
    <i class="fa fa-angle-double-right"></i> 
    <a href="{{object.product.get_absolute_url_list}}{{posturl|addposturl:'?'}}" class="color-default"><small class="fs-9 color-5">listado de</small> {{ object.product|verbose_name_plural|upper }}</a>
{%endblock%}

{%block rules%}
    number_tickets: {
        required : true,
        number : true,
        max: 10,
        min: 1,
    },
    quantity: {
        required: true,
        number: true,
        digits: true,
        max: 9999,
        min: 1,
    },
{%endblock rules%}