{% extends "generic/detail.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block pre_css%}
    <style>
        {% include "includes/sellpoint_vendor_styleticket.html" with sellpoint=object%}
    </style>
{%endblock%}

{%block more_options%}
{%endblock%}

{%block detail_grid%}
    <div class="grid-margins-items" size="2">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">{{object|upper}}</h2>
            </div>
            <div class="stats__info">
                <div class="row stats grid">
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            {%if object.name %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.name}}</h3>
                                        <small class="color-5 mt-3 fs-9">Nombre</small>
                                    </div>
                                </div>
                            {%endif%}
                            {%if object.company %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.company.name}}</h3>
                                        <small class="color-5 mt-3 fs-9">Organización</small>
                                    </div>
                                </div>
                            {%endif%}
                            {%if object.serial %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.serial.name}}</h3>
                                        <small class="color-5 mt-3 fs-9">Serie</small>
                                    </div>
                                </div>
                            {%endif%}
                            {%if object.serial %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.serial.serial}}</h3>
                                        <small class="color-5 mt-3 fs-9">Folio actual</small>
                                    </div>
                                </div>
                            {%endif%}
                            {%if object.number_tickets %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.number_tickets}}</h3>
                                        <small class="color-5 mt-3 fs-9"># Tickets que imprime</small>
                                    </div>
                                </div>
                            {%endif%}
                            {%if object.is_active %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.is_active|yesno:"SI,NO"}}</h3>
                                        <small class="color-5 mt-3 fs-9">Esta activo?</small>
                                    </div>
                                </div>
                            {%endif%}
                            {%if object.auto_cash %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.auto_cash|yesno:"SI,NO"}}</h3>
                                        <small class="color-5 mt-3 fs-9">Cobran vendedores?</small>
                                    </div>
                                </div>
                            {%endif%}
                            {%if object.creation_date %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.creation_date|date:"SHORT_DATE_FORMAT"}}</h3>
                                        <small class="color-5 mt-3 fs-9">Fecha de creación</small>
                                    </div>
                                </div>
                            {%endif%}
                            {%if object.modified_date %}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{object.modified_date|date:"SHORT_DATE_FORMAT"}}</h3>
                                        <small class="color-5 mt-3 fs-9">Última vez modificada</small>
                                    </div>
                                </div>
                            {%endif%}
                            <div class="listview__item lh-9">
                                <div class="widget-past-days__info">
                                    <h3 class="color-default fs-14 mb-0">{{object.assign_cut}}</h3>
                                    <small class="color-5 mt-3 fs-9">Corte activo</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock detail_grid%}

{%block js%}
    {{ block.super }}
{%endblock js%}

{%block extend_vue_Data%}
{%endblock extend_vue_Data%}

{%block extend_vue_methods%}
    {{ block.super }}
    
{%endblock extend_vue_methods%}

{%block vue_filters%}
{%endblock vue_filters%}

{%block extend_vue_mounted%}
{%endblock extend_vue_mounted%}



