{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static%}
{% load mptt_tags %}
{% load app_tags%}

{% block title %}{{sellpoint.name}} :: VENDEDOR{% endblock title %}

{%block meta%}
{%endblock meta%}

{%block local_style%}
    {% include "includes/sellpoint_vendor_styles.html" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.css">
{%endblock local_style%}

{%block hide_info%}
{%endblock hide_info%}

{%block headertitle%}{{sellpoint}}  <span v-if="disccount" style="margin-right: 20px;color: #ff5c5c;">Descuento: ${disccount * 100}%</span><span class="fs-11" v-else>{{sellpoint.company}}</span>{%endblock headertitle%} 

{%block company_menu%}
{%endblock company_menu%}

{%block extend_aside%}
    <hr v-if="printers.length > 0" class="hr-sidebar "/>
    <h5 v-if="printers.length > 0" class="text-center">IMPRESORAS DISPONIBLES</h5>
    <a v-for="printer in printers" class="listview__item" v-on:click="active_print = printer.url">
        <i class="fa fa-print sidebar-icon" v-if="active_print == printer.url"></i>
        <div class="listview__content">
            <div class="listview__heading"><strong>${printer.port}</strong> <small>${printer.name}</small></div>
            <p class="fs-11">${printer.format_date} // ${printer.format_time}</p>
        </div>
    </a>
    <a class="listview__item" v-if="printers.length > 0" v-on:click="active_print = false">
        <i class="fa fa-times sidebar-icon"></i>
        <div class="listview__content">
            <div class="listview__heading">ELIMINAR IMPRESORA</div>
            <p class="fs-11">Da click para quitar la impresora en uso</p>
        </div>
    </a>
    {%if sellpoint.cut_in_point%}
        <hr class="hr-sidebar mt-50" />
        <a v-on:click="make_cut" class="listview__item" v-if="eneable_cut">
            <i class="fa fa-cut sidebar-icon"></i>
            <div class="listview__content">
                <div class="listview__heading">CORTE <strong>{{sellpoint.name|upper}}</strong></div>
                <p class="fs-11">Hacer corte {{sellpoint.name}}</p>
            </div>
        </a>
        <a class="listview__item" v-if="eneable_cut == false">
            <i class="fa fa-cut sidebar-icon"></i>
            <div class="listview__content">
                <div class="listview__heading">CORTE <strong> ESPERE...</strong></div>
                <p class="fs-11"></p>
            </div>
        </a>
        <hr class="hr-sidebar mt-50" />
    {%endif%}
{%endblock extend_aside%}

{%block menu%}
    <ul class="navigation">
        {% recursetree nodes %}
                <li class="{% if children %}navigation__sub navigation__sub--toggled{% endif %}">
                    <a href="" class="menu" v-on:click.prevent="show_products({{node.id}})">
                        <i class="zmdi zmdi-circle" style="color:{{node.color}};font-size: 17px;"></i>
                        {{ node.name|upper|truncatechars:26 }}
                        {% if children %}
                            <i class="zmdi zmdi-plus pull-right"></i>
                        {% endif %}
                    </a>
                    {% if children %}
                        <ul>
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
        {% endrecursetree %}
    </ul>
{%endblock %}

{%block aside%}
{%endblock aside%}

{%block content%}
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-9">
            <div class="card">
                <div class="card-block card-quantity">
                    <div class="row no-gutters">
                        {%if sellpoint.id == 22%}
                            <div class="col-sm-12 col-md-3 paddinglr-2">
                                <div class="stats__item item-product" v-on:click="change_disccount(.20)" v-if="active_menu === 531">
                                    <div class="stats__info info-product">
                                        <div class="div-title-product">
                                            <h2 class="title-product"><i class="fa fa-circle color-default fs-7"></i> DESCUENTO</h2>
                                        </div>
                                        <h2 class="title-price">20%</h2>
                                        <div class="row no-gutters footer-product">
                                            <div class="col-sm-6">
                                                <h2 class="title-product pull-left"><small>1</small></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 paddinglr-2">
                                <div class="stats__item item-product" v-on:click="change_disccount(.50)"v-if="active_menu === 531" >
                                    <div class="stats__info info-product">
                                        <div class="div-title-product">
                                            <h2 class="title-product"><i class="fa fa-circle color-default fs-7"></i> DESCUENTO</h2>
                                        </div>
                                        <h2 class="title-price">50%</h2>
                                        <div class="row no-gutters footer-product">
                                            <div class="col-sm-6">
                                                <h2 class="title-product pull-left"><small>1</small></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endif%}
                        <div class="col-sm-12 col-md-3 paddinglr-2" v-for="product in products" v-if="product.is_favorite">
                            <div class="stats__item item-product"  v-on:click="add_product(product, 'quantity', product.price, 'add',)" >
                                <div class="stats__chart" v-bind:style="{ 'background-color': product.color, }"></div>
                                <div class="stats__info info-product">
                                    <div class="div-title-product">
                                        <h2 class="title-product"><i class="fa fa-circle color-default fs-7"></i> ${product.name}</h2>
                                    </div>
                                    <h2 class="title-price">${product.str_price}</h2>
                                    <div class="row no-gutters footer-product">
                                        <div class="col-sm-6">
                                            <h2 class="title-product pull-left fs-7"><small>${product.quantity}</small></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters mt-20">
                        <div class="col-sm-12 col-md-6 paddinglr-2" v-if="active_quantity">
                            <div class="stats__item item-quantity">
                                <div class="stats__info info-quantity">
                                    <h2 class="title-quantity" v-on:click="change_quantity_line('refresh')"> ${quantity_line} <br /><small>Toca para borrar</small></h2>
                                    
                                    <hr class="hr-ticket" />
                                    <div class="row no-gutters footer-quantity">
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity_line('1')">1</h2></div>
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity_line('2')">2</h2></div>
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity_line('3')">3</h2></div>
                                    </div>
                                    <div class="row no-gutters footer-quantity">
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity_line('4')">4</h2></div>
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity_line('5')">5</h2></div>
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity_line('6')">6</h2></div>
                                    </div>
                                    <div class="row no-gutters footer-quantity">
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity_line('7')">7</h2></div>
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity_line('8')">8</h2></div>
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity_line('9')">9</h2></div>
                                    </div>
                                    <div class="row no-gutters footer-quantity">
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" {%if sellpoint.id == 22%}v-on:click="change_quantity_line('.')"{%endif%} id="dot-quantity-line">.</h2></div>
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity_line('0')">0</h2></div>
                                        <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity_line('change')"><i class="zmdi zmdi-mail-reply"></i></h2></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 paddinglr-2" v-else>
                            <div class="stats__item item-product" v-on:click="change_quantity_line('change')">
                                <div class="stats__info info-product">
                                    <div class="div-title-product">
                                        <h2 class="title-quantity title-quantity-padding"><i class="zmdi zmdi-apps"></i> &nbsp;&nbsp;CANTIDAD</h2>
                                    </div>
                                    <h2 class="title-price">&nbsp;&nbsp;</h2>
                                    <div class="row no-gutters footer-product">
                                        <div class="col-sm-6">
                                            <h2 class="title-product pull-left fs-7"><small>&nbsp;&nbsp;</small></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 paddinglr-2" v-for="product in products" v-if="active_menu === product.menu_pk">
                            <div class="stats__item item-product" v-on:click="add_product(product, 'quantity', product.price, 'add',)">
                                <div class="stats__chart" v-bind:style="{ 'background-color': product.color, }"></div>
                                <div class="stats__info info-product">
                                    <div class="div-title-product">
                                        <h2 class="title-product">${product.name}</h2>
                                    </div>
                                    <h2 class="title-price">${product.str_price}</h2>
                                    <div class="row no-gutters footer-product">
                                        <div class="col-sm-6">
                                            <h2 class="title-product pull-left fs-7"><small>${product.quantity}</small></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card card-outline-3 mt-25 mb-0">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        {%if request.user.company.id == 30 or request.user.company.id == 31%}
                            <button class="btn btn--icon waves-effect bg-info color-3 btn-actions" id="sellpoint-ticket" v-on:click="sellpoint_ticket()"><i class="zmdi zmdi-home"></i></button>
                        {%endif%}
                    </div>
                    <div class="col-sm-4 text-center">
                        {%if request.user.company.id == 30 or request.user.company.id == 31%}
                            <button class="btn btn--icon waves-effect bg-info color-3 btn-actions" id="order-ticket" v-on:click="order_ticket()"><i class="zmdi zmdi-edit"></i></button>
                        {%endif%}
                    </div>
                    <div class="col-sm-4 text-center">
                        <button class="btn btn--icon waves-effect bg-danger color-3 btn-actions" id="delete-ticket" v-on:click="message_delete_ticket('actual')" disabled="disabled"><i class="zmdi zmdi-delete"></i></button>
                    </div>
                </div>
                <div class="mt-25">
                    <div v-for="line in ticket.ticket_lines" v-on:click="modal_line(line)">
                        <h2 class="card-title color-2"><strong >${line.quantity}</strong> ${line.text_product}</h2>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 paddinglr-25">
                                <small class="text-left fs-12">$ ${line.price|price}</small>
                            </div>
                            <div class="col-sm-6 col-md-6 paddinglr-25 text-right">
                                <small class="text-right"><strong class="color-2 fs-12">$ ${line.total|price}</strong></small>
                            </div>
                        </div>
                        <hr class="hr-ticket">
                    </div>
                    <h2 class="card-footer color-2 text-right fs-20"><strong class="color-2">$ ${ticket.total|price}</strong></h2>
                    <modal>
                    </modal>
                </div>
                
            </div>
            <div class="modal fade" tabindex="-1">
                {% include "includes/sellpoint_vendor_ticket.html" %}
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="modal-order">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body modal-body-ticket">
                    <div class="grid-margins-items" size="{%block size_create%}2{%endblock%}">
                        <div class="stats__item">
                            <div class="stats__info">
                                <div class="form-group">
                                    {{ form|crispy }}
                                    <div class="form-group form-group--float">
                                        <input type="text" v-model="ticket.order_datetime" name="order_total" required="required" value="24-12-2018 12:00" id="id_order_total" class="form-control flatpickr form-control" data-id="disableSpecific"> 
                                        <label for="id_order_total" class="form-control-label ">
                                            Selecciona una fecha
                                        </label> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="modal-sellpoint">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body modal-body-ticket">
                    <div class="row">
                        {% with sellpoints_=request.user|get_my_sellpoints:VAR.COMPANY %}
                            {%if sellpoints_%}
                                {%for sellpoint_ in sellpoints_%}
                                    <a href="http://{%url 'sellpoint:sellpoint_vendor'%}?sellpoint={{sellpoint_.id}}" class="listview__item">
                                        <div class="col-6" style="text-align: center;padding-top: 1rem;min-height: 8rem;">
                                            <h5 class="title-quantity title-quantity-padding">{{sellpoint_.name|upper}}</h5
                                        ></div>
                                    </a>
                                {%endfor%}
                            {%endif%}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}

{%block footer%}
    <button class="btn btn-danger btn--action waves-effect btn--fixed bg-color-default color-1" id="print-ticket" disabled="disabled" v-on:click="print_ticket"><i class="zmdi zmdi-print"></i></button>
{%endblock%}

{%block js%}
    <script src="{%static 'js/vue.js'%}"></script>
    <script src="{%static 'js/socketio.js'%}"></script>
    <script src="{%static 'js/print.js'%}"></script>
    <script src="{%static 'js/moment.js'%}"></script>
    <script src="{%static 'js/storage.js'%}"></script>
    <script src="{%static 'vendors/vue-barcode/dist/vue-barcode.min.js'%}"></script>
    <script src="{%static 'vendors/vue-qrcode/dist/vue-qrcode.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.js"></script>
{%endblock js%}

{%block script%}
    {% include "includes/sellpoint_vendor_js.html" %}
{%endblock script%}


{%block components%}
    {% include "includes/sellpoint_vendor_components.html" %}
{%endblock components%}
