{% extends "generic/list.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block list%}
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th># <i class="fas fa-print"></i></th>
            <th>SERIE</th>
            {%if VAR.COMPANY|hasmodule:"invoice" %}
                <th>FACTURACIÓN</th>
            {%endif%}
            <th>CORTE</th>
            <th>ACTIVA?</th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td style="{%if obj.color%}background-color:{{obj.color}}1c!important;{%endif%}"><a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.color%}color:{{obj.color}}!important;{%endif%}">{{obj.name}}<br /><small>Cobra vendedor: <i class="fa fa-{{obj.auto_cash|yesno:'check,times'}}"></i></small></a></td>
                <td style="{%if obj.color%}background-color:{{obj.color}}1c!important;{%endif%}"><a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.color%}color:{{obj.color}}!important;{%endif%}">{{obj.number_tickets}}</a></td>
                <td style="{%if obj.color%}background-color:{{obj.color}}1c!important;{%endif%}">
                    <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.color%}color:{{obj.color}}!important;{%endif%}">
                        {%if obj.serial%}{{obj.serial}} - {{obj.serial.serial}} <br /> {%if obj.serial.hexadecimal%}<small>ES HEXADECIMAL</small>{%endif%} {%else%} {{obj.serial|default:'Aleatorio'}} {%endif%}
                    </a>
                </td style="{%if obj.color%}background-color:{{obj.color}}!important;{%endif%}">
                {%if VAR.COMPANY|hasmodule:"invoice" %}
                    <td style="{%if obj.color%}background-color:{{obj.color}}1c!important;{%endif%}">
                        <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.color%}color:{{obj.color}}!important;{%endif%}">RFC CORTE: {{obj.rfc_cuts|default:'-'}}</a><br />
                        <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.color%}color:{{obj.color}}!important;{%endif%}">RFC CLIENTES: {{obj.rfc_tickets|default:'-'}}</a>
                    </td>
                {%endif%}
                <td style="{%if obj.color%}background-color:{{obj.color}}1c!important;{%endif%}"><a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.color%}color:{{obj.color}}!important;{%endif%}">{{obj.assign_cut}}</a></td>
                <td style="{%if obj.color%}background-color:{{obj.color}}1c!important;{%endif%}"><a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default" style="{%if obj.color%}color:{{obj.color}}!important;{%endif%}"><i class="fa fa-{{obj.is_active|yesno:'check,times'}}"></i></a></td>
                {%if VAR.MODULE|addaction:'can_delete_'|addlowerclassname:model|haspermission:request.user and obj.get_absolute_url_delete%}
                    <td style="{%if obj.color%}background-color:{{obj.color}}1c!important;{%endif%}"><a v-on:click.prevent="del(text='{{model.delete_text.3}}',url='{{obj.get_absolute_url_delete}}{{posturl|addposturl:'?'}}')" class="color-default" style="{%if obj.color%}color:{{obj.color}}!important;{%endif%}"><i class="fas fa-trash-alt"></i></a></td>
                {%endif%}
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}
