{% extends "layout.html" %}

{% load static%}
{% load user_agents %}


{% block title %}{{sellpoint.name}} :: CAJERO{% endblock title %}

{%block meta%}
{%endblock meta%}

{%block local_style%}
    {% include "includes/sellpoint_casher_styles.html" %}
    <style>
        .campanven{
            background-color: #ebefff!important;
        }
        .camrosven{
            background-color: #ffebeb!important;
        }
    </style>
{%endblock local_style%}

{%block hide_info%}
{%endblock hide_info%}

{%block headertitle%}{{sellpoint}} <span class="fs-11">{{sellpoint.company}}</span>{%endblock headertitle%}

{%block company_menu%}
{%endblock company_menu%}


{%block contentfull%}content--full{%endblock%}

{%block content%}
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-8">
            <h2 class="title-quantity">CORTE <span>${cut.code}</span></h2>
            <div class="table-responsive">
                <table class="table table-sm mb-0 table-striped" >
                    <thead>
                    <tr>
                        <th>INFO</th>
                        <th>FOLIO</th>
                        <th>CANTIDAD</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="ticket in tickets" v-if="ticket.status === 'PEN'">
                            <td class="color-2 no-line-space" v-bind:class="ticket.user_string" v-on:dblclick="ticket_click(ticket.barcode)">${ticket.user_string}
                                <br />
                                <small>${ticket.format_date} - ${ticket.format_time}</small>
                            </td>
                            <td class="color-2" v-bind:class="ticket.user_string" v-on:dblclick="ticket_click(ticket.barcode)">${ticket.barcode}</td>
                            <td class="color-2" v-bind:class="ticket.user_string" v-on:dblclick="ticket_click(ticket.barcode)">$ ${ticket.total|price}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="row no-gutters">
                {% if not request|is_tablet %}
                    <div class="col-sm-12 col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <h2 class="title-quantity">COBRAR TICKET</h2>
                                <form v-on:submit.prevent="ticket_payment">
                                    <div class="input-group">
                                        <input id="barcode" type="text" class="form-control" placeholder="Click aquí para marcar" autofocus="autofocus" v-model="barcode" v-on:click="barcode = ''">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {%endif%}
                <div class="col-sm-12 col-md-12">
                    <div class="card">
                        <div class="card-block max-height-400" style="max-height: 600px;overflow-y: hidden;">
                            <h2 class="title-quantity">TICKETS COBRADOS</h2>
                            <table class="table table-sm mb-0">
                                <thead>
                                    <tr>
                                        <th>FOLIO</th>
                                        <th>CANTIDAD</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="ticket in tickets" v-if="ticket.status === 'COB'">
                                        <td class="color-2" v-bind:class="ticket.user_string">${ticket.barcode} </td>
                                        <td class="color-2" v-bind:class="ticket.user_string">$ ${ticket.total|price}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}

{%block js%}
    <script src="{%static 'js/vue.js'%}"></script>
    <script src="{%static 'js/socketio.js'%}"></script>
    <script src="{%static 'js/storage.js'%}"></script>
{%endblock js%}

{%block script%}
    {% include "includes/sellpoint_casher_js.html" %}
{%endblock script%}


{%block components%}
    {% include "includes/sellpoint_vendor_components.html" %}
{%endblock components%}
