{% extends "generic/list.html" %}

{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}
{% load humanize%}

{%block pre_css%}
    {% include "components/forms_css.html"%}
{%endblock%}

{%block local_style%}
    {{ block.super }}
    <style>
        .margin-auto{
            margin:auto;
        }
        .w-table{
            width: {{VAR.VAR_LOCAL.SELLPOINT.TICKETSIZE}}px;
        }
    </style>
{%endblock local_style%}

{%block actions%}
{%endblock actions%}

{%block extend_q%}
    {%if q__cut%}
        <br />
        <span class="color-default text-center ml-10">
            {{object_list|length}} TICKETS DEL CORTE {{q__cut}}
            <a href="{{q__cut.get_absolute_url_detail}}" class="btn btn-secondary btn--icon-text waves-effect btn-sm ml-10"><i class="zmdi zmdi-arrow-back"></i> REGRESAR AL CORTE </a>
        </span>
    {%endif%}
{%endblock extend_q%}

{%block list%}
    <thead>
        <tr>
            <th>FOLIO</th>
            <th>VENDEDOR</th>
            <th>CONEXION</th>
            <th>FECHA</th>
            <th>CORTE</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td  style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}33!important;{%endif%}"><a v-on:click.prevent="open_modal('{{obj.pk}}')" href="" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">{{obj.barcode}} {%if not obj.live%}<i class="fa fa-circle fs-9 danger-color"></i>{%endif%}</a></td>
                <td  style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}33!important;{%endif%}"><a v-on:click.prevent="open_modal('{{obj.pk}}')" href="" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">{{obj.user_string}}</a></td>
                <td  style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}33!important;{%endif%}"><a v-on:click.prevent="open_modal('{{obj.pk}}')" href="" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}" id="status-{{obj.pk}}">{{obj.status}}</a></td>
                <td  style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}33!important;{%endif%}"><a v-on:click.prevent="open_modal('{{obj.pk}}')" href="" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">{{obj.format_date}} {{obj.format_time}}</a></td>
                <td  style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}33!important;{%endif%}"><a v-on:click.prevent="open_modal('{{obj.pk}}')" href="" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">{{obj.cut}}</a></td>
                <td  style="{%if obj.sellpoint.color%}background-color:{{obj.sellpoint.color}}33!important;{%endif%}"><a v-on:click.prevent="open_modal('{{obj.pk}}')" href="" class="color-default" style="{%if obj.sellpoint.color%}color:{{obj.sellpoint.color}}!important;{%endif%}">${{obj.total|floatformat:2|intcomma}}</a></td>
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}

{%block endcontent%}
    <div class="modal fade" id="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    {% include "includes/sellpoint_vendor_ticket.html"%}
                </div>
                <div class="modal-footer">
                    {% if  perms.sellpoint.admin_ticket %}
                        <div class="btn-group dropdown" style="margin-right: 3rem;">
                            <button type="button" data-toggle="dropdown" class="btn btn-link pull-left" aria-expanded="false" style="color:#575757;font-weight: 600;">
                                <i class="fa fa-angle-down"></i> CAMBIAR ESTATUS
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="" v-on:click.prevent="change_status('PEN')">PENDIENTE</a>
                                <a class="dropdown-item" href="" v-on:click.prevent="change_status('COB')">COBRADO</a>
                                <a class="dropdown-item" href="" v-on:click.prevent="change_status('CAN')">CANCELAR</a>
                            </div>
                        </div>
                    {% endif %}
                    <button type="button" class="btn btn-link" v-if="ticket.invoice" v-on:click.prevent="reset_invoice"><i class="fa fa-file"></i> REINICIAR FACTURA</button>
                    <button type="button" class="btn btn-link" v-on:click.prevent="print_ticket"><i class="fa fa-print"></i> IMPRIMIR</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">CERRAR</button>
                </div>
            </div>
        </div>
    </div>
{%endblock endcontent%}

{%block js%}
    {{ block.super }}
    <script src="{%static 'vendors/vue-barcode/dist/vue-barcode.min.js'%}"></script>
    <script src="{%static 'vendors/vue-qrcode/dist/vue-qrcode.min.js'%}"></script>
    <script src="{%static 'js/print.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
{%endblock js%}

{%block script%}
    {{ block.super }}
    {% include "components/forms_js.html"%}
{%endblock script%}

{%block extend_vue_Data%}
    {{ block.super }}
    ticket: [],
    sellpoint: [],
    qrtext: false,
{%endblock extend_vue_Data%}

{%block vue_components_in%}
    components: {
        'barcode': VueBarcode,
        'qrcode': VueQrcode,
    },
{%endblock vue_components_in%}

{%block extend_vue_methods%}
    {{ block.super }}
    open_modal: function(pk){
        $.getJSON('{%url "sellpoint:sellpoint_api"%}?method=get_ticket_info&pk='+pk, function(json){
            self.ticket = json.ticket
            self.sellpoint = json.sellpoint
            self.ticket.ticket_lines = json.ticket_lines
            self.ticket.subtotal = self.ticket.total - self.ticket.iva - self.ticket.ieps
            {% include "includes/qrcode.html" %}
            $("#modal").modal("show");
        })
    },
    print_ticket: function(){
        const d = new window.printd.Printd()
        const cssText = `
            {% include "includes/sellpoint_vendor_styleticket.html" %}
        `
        setTimeout(function(){
            d.print( document.getElementById('ticket'), cssText)
        }, 100);
    },
    change_status: function(status){
        $.getJSON('{%url "sellpoint:sellpoint_api"%}?method=change_status_ticket&pk='+self.ticket.pk+'&status='+status, function(json){
            $("#status-"+self.ticket.pk).text(status)
        })
    },
    reset_invoice: function(){
        $.getJSON('{%url "sellpoint:sellpoint_api"%}?method=reset_invoice&pk='+self.ticket.pk, function(json){
            self.ticket.invoice = false
            console.log("ok")
        })
    },
{%endblock extend_vue_methods%}

{%block vue_filters%}
    filters: {
        price: function (value) {
            let val = (value/1).toFixed(2)
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
    }
{%endblock vue_filters%}

{%block extend_vue_mounted%}
{%endblock extend_vue_mounted%}
