{% extends "generic/detail.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}
{% load humanize%}

{%block more_options%}
{%endblock%}

{%block detail%}
    <div class="grid-item">
        <div class="listview listview--inverse listview--striped">
            {%if object.product %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.product}}</h3>
                        <small class="color-5 mt-3 fs-9">Producto</small>
                    </div>
                </div>
            {%endif%}
            {%if object.sellpoint %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.sellpoint}}</h3>
                        <small class="color-5 mt-3 fs-9">Puntos de venta</small>
                    </div>
                </div>
            {%endif%}
            {%if object.alias %}
                <div class="listview__item lh-9">
                    <div class="widget-past-days__info">
                        <h3 class="color-default fs-14 mb-0">{{object.alias}}</h3>
                        <small class="color-5 mt-3 fs-9">Alias</small>
                    </div>
                </div>
            {%endif%}
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">{{object.inventory}}</h3>
                    <small class="color-5 mt-3 fs-9">Inventario</small>
                </div>
            </div>
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">${{object.price|floatformat:2|intcomma}}</h3>
                    <small class="color-5 mt-3 fs-9">Precio</small>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="listview listview--inverse listview--striped">
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">{{object.iva|yesno:'SI,NO'}}</h3>
                    <small class="color-5 mt-3 fs-9">IVA</small>
                </div>
            </div>
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">{{object.ieps|yesno:'SI,NO'}}</h3>
                    <small class="color-5 mt-3 fs-9">IEPS</small>
                </div>
            </div>
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">{{object.is_dynamic|yesno:'SI,NO'}}</h3>
                    <small class="color-5 mt-3 fs-9">Precio Dinámico</small>
                </div>
            </div>
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">{{object.bar_code|default_if_none:'No hay asociado'}}</h3>
                    <small class="color-5 mt-3 fs-9">Codigo de Barras</small>
                </div>
            </div>
            <div class="listview__item lh-9">
                <div class="widget-past-days__info">
                    <h3 class="color-default fs-14 mb-0">{{object.is_active|yesno:'SI,NO'}}</h3>
                    <small class="color-5 mt-3 fs-9">Esta Activo?</small>
                </div>
            </div>
        </div>
    </div>
{%endblock detail%}

