/* Style for our header texts
	* --------------------------------------- */
	
	header{
		position: fixed;
		top: 0;
		z-index: 2;
		width: 100%;
		height:auto;
	}
	.menu__overlay{
		position:fixed;
	}
	h1{
		font-size: 5em;
		
		color: #fff;
		margin:0;
	}
	.intro p{
		color: #fff;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}
	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
		background-position: center;
	}
	.slide{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	
	#section1{
		background-image: url(../img/ui_pro1.jpg);
	}
	#section2{
		background-image: url(../img/ui_pro21.jpg);
	}
	#section3{
		background-image: url(../img/ui_pro2.jpg);
	}
	#section4{
		background-image: url(../img/ui_pro3.jpg);
	}
	#section5{
		background-image: url(../img/ui_pro4.jpg);
	}
	#section6{
		background-image: url(../img/ui_pro5.jpg);
	}
	#section7{
		background-image: url(../img/ui_pro6.jpg);
	}
	#section8{
		background-image: url(../img/ui_pro7.jpg);
	}
	#section9{
		background-image: url(../img/ui_pro8.jpg);
	}
	#section10{
		background-image: url(../img/ui_pro9.jpg);
	}
	#section11{
		background-image: url(../img/ui_pro10.jpg);
	}
	
	#section3 h1{
		color: #000;
	}
	/*----Images for web porfolio page---------*/
	.web_portfolio #section1{
		background-image: url(../img/web_banner/Airbons.jpg);
	}
	.web_portfolio #section2{
		background-image: url(../img/web_banner/appe.jpg);
	}
	.web_portfolio #section3{
		background-image: url(../img/web_banner/Go-list.jpg);
	}
	.web_portfolio #section4{
		background-image: url(../img/web_banner/Layers-club.jpg);
	}
	.web_portfolio #section5{
		background-image: url(../img/web_banner/Loop.jpg);
	}
	.web_portfolio #section6{
		background-image: url(../img/web_banner/mobile-M-POwer.jpg);
	}
	.web_portfolio #section7{
		background-image: url(../img/web_banner/Rebelking.jpg);
	}
	.web_portfolio #section8{
		background-image: url(../img/web_banner/Rado-Parkett.jpg);
	}
	.web_portfolio #section9{
		background-image: url(../img/web_banner/The-Nines.jpg);
	}
	.web_portfolio #section10{
		background-image: url(../img/web_banner/Unified.jpg);
	}
	/*----Images for branding porfolio page---------*/
	.brand_portfolio #section1{
		background-image: url(../img/branding_banner/Airbons.jpg);
	}
	.brand_portfolio #section2{
		background-image: url(../img/branding_banner/Fashion-Cicle.jpg);
	}
	.brand_portfolio #section3{
		background-image: url(../img/branding_banner/Garderoba.jpg);
	}
	.brand_portfolio #section4{
		background-image: url(../img/branding_banner/I-m-Honey.jpg);
	}
	.brand_portfolio #section5{
		background-image: url(../img/branding_banner/Kuggle.jpg);
	}
	.brand_portfolio #section6{
		background-image: url(../img/branding_banner/Pocketcart.jpg);
	}
	.brand_portfolio #section7{
		background-image: url(../img/branding_banner/Rado-Parkett.jpg);
	}
	.brand_portfolio #section8{
		background-image: url(../img/branding_banner/Social-Blyss.jpg);
	}
	.brand_portfolio #section9{
		background-image: url(../img/branding_banner/The-Bodhi-Group.jpg);
	}
	.brand_portfolio #section10{
		background-image: url(../img/branding_banner/Villar-Brother.jpg);
	}
	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}
	.view_project_btn{
		border: 2px solid #fff;
		font-size: 18px;
		font-family: "proximanova";
		border-radius: 45px;
		text-transform: uppercase;
		width: 254px;
		height: 64px;
		color:#fff;
		display: inline-block;
		background: url(../img/arrow_white_port.png);
		background-repeat: no-repeat;
		background-position: 175px center;
	}
	.view_project_btn:hover,.view_project_btn:focus{
		color:#000;
		background-image:url(../img/arrow_black.png);
		background-color:#fff;
		text-decoration:none;
	}
	.view_project_btn span{
		width:200px;
		height:60px;
		display:table-cell;
		vertical-align:middle;
	}
	.start_project{height:92%;}

	.close_icon {
	float: right;
	padding: 10px 60px;
	}
	#section-footer #footer-text
	{
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 20px 0;
	}
	#fp-nav ul li:last-child{display:none;}
	#section-footer{
		position: relative;

	}
	@media (max-width: 767px) {
		#section-footer{
			height: auto!important;
			position: relative;

		}
		#work_us{
			    margin-bottom: 0;
		padding-bottom: 0;
		}
		#work_us  h1 {
			font-size: 29px;
			margin: 0;
		}
		#work_us hr{margin-bottom: 10px;}
		.foot_txt .col-lg-6:first-child p{font-size:13px;}
		#work_us p{ margin-bottom: 0;}
		.start_project {
			height: 89%;
		}
		.start_project .slideInUp {
			padding-top: 0;
		}
		
	}