.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  cursor: pointer;
  padding: 20px 15px;
  height: 64px;
  position: absolute;
  top: 2%;
  right: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 64px;
  padding-top:30px;
}
.menu-opener.active{width: auto;
z-index: 3;}

 .menu-opener.active {
  background: #ffffff;
}

.menu-opener-inner {
	background: url('../img/menu.png');
	height: 0;
	margin-top: 0;
	width: 2.5rem;
	float:right;
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}

.menu-opener-inner::before, .menu-opener-inner::after {
  background: transparent;
  content: '';
  display: block;
  height: 0;
  width: 2.5rem;
}

.menu-opener-inner.menu_blk{background-image:url('../img/menu_blk.png');}

.menu-opener:hover .menu-opener-inner,.menu-opener:hover .menu-opener-inner::before, .menu-opener:hover .menu-opener-inner::after{opacity:0.8;}
/*.menu-opener-inner.active::before, .menu-opener-inner.active::after {
	background: #000;
	height: 4px;
}*/

.menu-opener-inner.active img{
	display:none;
}
.menu-opener .menu-opener-inner.active{
	background: url('../img/cross.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}
/*
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
  margin-top:9px;
}*/
.menu-opener-inner img{margin-top:-9px;}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);

}
.menu-opener-inner.active {
  background: transparent;
}
/*
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
  
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}*/

.menu {
	background: #fff;
	color: #000;
	height: auto;
	position: absolute;
	top: 0;
	right: -320px;
	width: 320px;
	z-index: -1;
}
#menuScrollbar{clear:both;}

.menu.active {
	z-index: 2;
	right: 0;
}
.menu a{color:#000;}
.menu a:focus{text-decoration:none;}
.menu .menu-link {
  color: #000;
  padding: 12px 0;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
	clear: both;
  padding: 30px 30px;
  padding-bottom:80px;
  font-family: proximanova_semibold;

}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 24px;
  font-weight: 100;
  height: 100%;
  text-align: left;
  text-decoration: none;
  margin-top: 15px;
}
.menu-link:first-child{margin-top:0;}
.menu .menu-link:hover{color:#999999;text-decoration:none;}
.menu_sept_line{
	width: 100%;
	display: inline-block;
	background:transparent;
	background-repeat: no-repeat;
	background-position: center;
	height: 2px;
	margin-top: 0;
}
.menu .menu_sept_line{background: url('../img/sept.jpg');background-repeat: no-repeat;background-size: 100% 1px;}
.menu .menu_desc{padding:0 30px;}
.menu .menu_desc p{
	color: #999999;
	font-size: 15px;
	padding: 5px 0;
	padding-bottom: 0;
}
.menu .menu_desc h6 i{
	font-size: 20px;
	vertical-align: middle;
	padding-right:8px;
}
.menu .menu_desc h6 img{margin-right:10px;vertical-align:middle;}
.menu .menu_desc h6{
	font-size: 18px;
	font-family: proximanova;
	color: #000;
	margin-top: 15px;
}
.menu .menu_desc h4{
	padding-top: 30px;
	font-family: proximanova;
	font-size: 18px;
	color: #000;
	font-weight: normal;
	margin: 0;
}
.menu .menu_desc  h6.menu_heading  i{
	font-size:30px;
}

.menu .menu_social {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	display:inline-block;
	width:100%;
}
.menu .menu_social span:first-child a{padding-left:0;}
.menu .menu_social span:nth-child(4) a{padding-right:0;}
.menu .menu_social a {
	padding: 14px;
	padding-right: 40px;
	text-align: center;
	font-size: 22px;
	color:#000;
	float: left;
}
.menu .menu_social a:hover .fa-facebook{color:#3b5998;}
.menu .menu_social a:hover .fa-twitter{color:#00aced;}
.menu .menu_social a:hover .fa-google-plus{color:#dd4b39;}
.menu .menu_social a:hover .fa-pinterest-p{color:#cb2027;}
.menu_logo{
	float: left;
	padding: 20px 30px;
	clear: both;
	padding-bottom: 0;
	padding-right: 0
}

ul.port_menu {
	list-style: none;
	padding-left: 0;
	padding-top: 5px;
	display:none;
}
ul.port_menu li {
	padding: 5px 0;
}
.menu ul.port_menu li a {
	color: #999;
	font-size: 16px;text-decoration: none;
}
.menu ul.port_menu li:hover a {
	color: #000;
	text-decoration:none;
}
@media only screen and (min-width:1800px){
	.menu-inner{
		padding-top: 60px;
		padding-bottom: 144px;
	}
	.menu .menu_social {
		
		padding-bottom: 0;
		padding-top: 30px;
	}
}

/*----CSS For Menu icon----*/

.ui-menu {
	position: absolute;
	z-index: 920;
	right: 0;
	top: 19px;
	padding: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: opacity .35s;
	transition: opacity .35s;
}

.ui-menu__content {
position: relative;
display: block;
width: 30px;
height: 20px;
}
.ui-menu__line {
position: absolute;
left: 0;
top: 0;
width: 90%;
height: 3px;
background: #fff;
opacity:1;
-webkit-transition: background-color .35s,-webkit-transform .175s cubic-bezier(.215,.61,.355,1),opacity .175s cubic-bezier(.215,.61,.355,1);
transition: background-color .35s,transform .175s cubic-bezier(.215,.61,.355,1),opacity .175s cubic-bezier(.215,.61,.355,1);
-webkit-transform: translateY(0)translateZ(0);
transform: translateY(0)translateZ(0);
}
.menu-opener.active .ui-menu__line {background: #000 !important;}
.ui-menu:hover .ui-menu__line {
	opacity:0.8;
}
.ui-menu__line_1 {
top: 0;
}
.ui-menu__line_2 {
top: 8px;
}
.ui-menu__line_3 {
top: 16px;
}
.menu-opener.active .ui-menu__line_1 {
-webkit-transform: translateY(8px)rotate(45deg);
-ms-transform: translateY(8px)rotate(45deg);
transform: translateY(8px)rotate(45deg);
}
.menu-opener.active .ui-menu__line_2 {
opacity: 0;
}
.menu-opener.active .ui-menu__line_3 {
-webkit-transform: translateY(-8px)rotate(-45deg);
-ms-transform: translateY(-8px)rotate(-45deg);
transform: translateY(-8px)rotate(-45deg);
}

@media screen and (max-width: 767px) {
	body {
		-webkit-overflow-scrolling: touch;
	}
}

/*
.menu .mCSB_container{
	height:100%;
}
.menu .menu-inner{
	padding-bottom:0;
	height: auto;
}
.menu.active .menu_desc{
	position: absolute;
	bottom: 0;
	clear: both;
	display: block;
}*/
/*

@media only screen and (min-width:1800px){
	.menu-opener-inner {
		height: 4px;
		margin-top: 6px;
	}
	#menuScrollbar{height:900px;}
	.menu.active .menu-link {
		padding: 15px 0;text-decoration: none;
	}
	.menu_sept_line{margin-top:29px;margin-bottom: 20px;}
	.menu.active .menu_desc h4{padding-top:40px;}
	.menu.active .menu_desc h6 {
		margin-top: 30px;
	}
	.menu.active .menu_social {
		margin-top: 35px;
	}
	.menu.active .menu_social a {
		padding: 16px 20px;
		font-size: 25px
	}
	.menu.active .menu_social span:first-child a {
		padding-left: 0;
	}
}
/*----Google nexux 10 -------*/
/* Portrait */
/**
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.menu{min-height:1280px;}
	#menuScrollbar{height:1280px;}
	.top_head{
		min-height: 1280px;
		max-height: 1280px;
	}
	
	.menu-opener-inner {
		height: 4px;
		margin-top: 6px;
	}
	.table_cell {
		height: 950px;
	}
	#menuScrollbar{height:1100px;}
	.head_txt h4,.head_txt p{font-size:28px;}
	.menu.active .menu-link {
		padding: 30px 0 !important;text-decoration: none;
	}
	.menu_sept_line{margin-top:29px;margin-bottom: 20px;}
	.menu.active .menu_desc h4{padding-top:60px !important;}
	.menu.active .menu_desc h6 {
		margin-top: 40px !important;
	}
	.menu.active .menu_social {
		margin-top: 50px !important;
	}
	.menu.active .menu_social a {
		padding: 16px 20px;
		font-size: 25px
	}
	.menu.active .menu_social span:first-child a {
		padding-left: 0;
	}
}
/* Landscape */
/**
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.menu{min-height:800px;}
	#menuScrollbar{height:800px;}
	.top_head{
		min-height: 800px;
		max-height: 800px;
	}
	
	.menu-opener-inner {
		height: 4px;
		margin-top: 6px;
	}
	#menuScrollbar{height:700px;}
	.table_cell {
		height: 500px;
	}
	.menu.active .menu-link {
		padding: 15px 0;text-decoration: none;
	}
	.menu_sept_line{margin-top:29px;margin-bottom: 20px;}
	.menu.active .menu_desc h4{padding-top:40px;}
	.menu.active .menu_desc h6 {
		margin-top: 30px;
	}
	.menu.active .menu_social {
		margin-top: 35px;
	}
	.menu.active .menu_social a {
		padding: 16px 20px;
		font-size: 25px
	}
	.menu.active .menu_social span:first-child a {
		padding-left: 0;
	}
}
/*---Other Small Mobile  deveices-*/
/**

@media screen and (max-width: 767px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
 
  .menu.active {
	width: -webkit-calc(320px - 2rem);
	width: -moz-calc(320px - 2rem); 
	width: calc(320px - 2rem);
  }
  #menuScrollbar{height:400px;}
}
/* Landscape */
/**
@media (max-device-width: 1024px) and (orientation: landscape) { 

 .menu{min-height:600px;}
	#menuScrollbar{height:500px;}
	.menu.active .menu_desc h6 {
		margin-top: 20px;
	}
	.top_head{
		min-height: 600px;
		max-height: 600px;
	}
	.table_cell {
		height: 300px;
	}

}
/*--------IPad (1/2)----------*/
/**
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) {
	.menu{min-height:1024px;}
	#menuScrollbar{height:1024px;}
	.top_head{
		min-height: 1024px;
		max-height: 1024px;
	}
	.menu.active .menu_desc h6 {
		margin-top: 20px;
	}
}

/* Landscape */
/**
@media screen and (device-width: 1024px) and (device-height: 768px) and (-webkit-device-pixel-ratio: 1) {
	.menu{min-height:768px;}
	#menuScrollbar{height:650px;}
	.menu.active .menu_desc h6 {
		margin-top: 20px;
	}
	.top_head{
		min-height: 768px;
		max-height: 768px;
	}
	.table_cell {
		height: 500px;
	}
}
/*--------IPad (3/4)----------*/
/**
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
	.menu{min-height:1024px;}
	#menuScrollbar{height:1024px;}
	.top_head{
		min-height: 1024px;
		max-height: 1024px;
	}
	.menu.active .menu_desc h6 {
		margin-top: 20px;
	}
}

/* Landscape */
/**
@media screen and (device-width: 1024px) and (device-height: 768px) and (-webkit-device-pixel-ratio: 2) {
	.menu{min-height:768px;}
	#menuScrollbar{height:650px;}
	.menu.active .menu_desc h6 {
		margin-top: 20px;
	}
	.top_head{
		min-height: 768px;
		max-height: 768px;
	}
	.table_cell {
		height: 500px;
	}
}
/*-----For Tablet(landscape and Portrait)------*/
/**
@media screen and (min-width:768px) and (max-width:1024px) {
	
	.menu.active .menu-link {
		padding: 15px 0;text-decoration: none;
	}
	.menu_sept_line{margin-top:29px;margin-bottom: 20px;}
	.menu.active .menu_desc h4{padding-top:40px;}
	
	.menu.active .menu_social {
		margin-top: 35px;
	}
	.menu.active .menu_social a {
		padding: 16px 20px;
		font-size: 25px
	}
	.menu.active .menu_social span:first-child a {
		padding-left: 0;
	}
}
/*----BlackBerry Playbook device (portrait)-------*/
/**
@media (max-device-width: 600px) and (orientation: portrait) { 
	.menu{min-height:1024px;}
	#menuScrollbar{height:1024px;}
	.top_head{
		min-height: 1024px;
		max-height: 1024px;
	}
	.menu.active .menu_desc h6 {
		margin-top: 20px;
	}
	.head_txt h1 {
		font-size: 98px;
		margin-bottom: 0;
	}
	.table_cell {
		height: 700px;
	}	
	.menu-opener-inner {
		height: 4px;
		margin-top: 6px;
	}
	#menuScrollbar{height:900px;}
	.menu.active .menu-link {
		padding: 15px 0;text-decoration: none;
	}
	.menu_sept_line{margin-top:29px;margin-bottom: 20px;}
	.menu.active .menu_desc h4{padding-top:40px;}
	.menu.active .menu_desc h6 {
		margin-top: 30px;
	}
	.menu.active .menu_social {
		margin-top: 35px;
	}
	.menu.active .menu_social a {
		padding: 16px 20px;
		font-size: 25px
	}
	.menu.active .menu_social span:first-child a {
		padding-left: 0;
	}
}
/*----Small Mobile device (portrait)-------*/

/* Portrait */
/**
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.menu{min-height:480px;}
	#menuScrollbar{height:350px;}
	.top_head{
		min-height: 480px;
		max-height: 480px;
	}
	.table_cell{
		height: 290px;
	}
	.head_txt h1{margin-top: 5px;font-size: 50px;margin-bottom: 0;}
	.head_txt p{font-size: 16px;}
	.foot_txt .col-lg-6:first-child p{font-size:13px;padding-bottom:5px;}
	.head_mouse{bottom:20px;}
	.menu.active {
		width: -webkit-calc(340px - 2rem);
		width: -moz-calc(340px - 2rem);
		width: calc(340px - 2rem);
	}
	
}
/* Portrait */
/**
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3) {
	.menu{min-height:640px;}
	#menuScrollbar{height:520px;}
	.top_head{
		min-height: 640px;
		max-height: 640px;
	}
	.table_cell{
		height: 430px;
	}
	.head_txt h1{margin-top: 5px;font-size: 60px;margin-bottom: 0;}
	.head_txt p{font-size: 20px;}
	.foot_txt .col-lg-6:first-child p{font-size:13px;padding-bottom:5px;}
	.head_mouse{bottom:20px;}
	.menu.active {
		width: -webkit-calc(380px - 2rem);
		width: -moz-calc(380px - 2rem);
		width: calc(380px - 2rem);
	}
 }
/*----Apple iphone5 (3/4) Portrait-------*/
/**
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
	.menu{min-height:568px;}
	#menuScrollbar{height:380px;}
	.top_head{
		min-height: 568px;
		max-height: 568px;
	}
	.table_cell{
		height: 320px;
	}
	.head_txt h1{margin-top: 5px;font-size: 50px;margin-bottom: 0;}
	.head_txt p{font-size: 16px;}
	.foot_txt .col-lg-6:first-child p{font-size:13px;padding-bottom:5px;}
	.head_mouse{bottom:20px;}
	.menu.active {
		width: -webkit-calc(340px - 2rem);
		width: -moz-calc(340px - 2rem);
		width: calc(340px - 2rem);
	}
}




/*----Apple iphone6 Plus (Portrait)-------*/
/**
@media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3){
	.menu{min-height:736px;}
	#menuScrollbar{height:620px;}
	.top_head{
		min-height: 736px;
		max-height: 736px;
	}
	.table_cell{
		height: 500px;
	}
	.head_txt h1{margin-top: 5px;font-size: 65px;margin-bottom: 0;}
	.head_txt p{font-size: 16px;}
	.foot_txt .col-lg-6:first-child p{font-size:13px;padding-bottom:5px;}
	.head_mouse{bottom:20px;}
	
}
/*----Apple iphone6 Plus (Landscape)-------*/
/**
@media screen and (device-width: 736px) and (device-height: 414px) and (-webkit-device-pixel-ratio: 3){
	menu{min-height:414px;}
	#menuScrollbar{height:320px;}
	
	.top_head{
		min-height: 414px;
		max-height: 414px;
	}
	.table_cell{
		height: 100%;
	}
	.head_txt h1{margin-top: 0px;font-size: 75px}
	.head_txt h4{font-size: 20px;}
	.head_txt p{font-size: 14px;}
	.foot_txt .col-lg-6:first-child p{font-size:13px;padding-bottom:5px;}
	.head_mouse{bottom:10px;}
	.head_mouse img{width:80%;}
	
}





/*----Apple iphone6 (3/4) Portrait-------*/
/**
@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2){
	.menu{min-height:667px;}
	#menuScrollbar{height:550px;}
	.top_head{
		min-height: 667px;
		max-height: 667px;
	}
	.table_cell{
		height: 420px;
	}
	.head_txt h1{margin-top: 5px;font-size: 65px;margin-bottom: 0;}
	.head_txt p{font-size: 16px;}
	.foot_txt .col-lg-6:first-child p{font-size:13px;padding-bottom:5px;}
	.head_mouse{bottom:20px;}
	
}
/*----Apple iphone6 (3/4) Landscape-------*/
/**
@media screen and (device-width: 667px) and (device-height: 375px) and (-webkit-device-pixel-ratio: 2){
	menu{min-height:375px;}
	#menuScrollbar{height:250px;}
	
	.top_head{
		min-height: 375px;
		max-height: 375px;
	}
	.table_cell{
		height: 100%;
	}
	.head_txt h1{margin-top: 0px;font-size: 75px}
	.head_txt h4{font-size: 20px;}
	.head_txt p{font-size: 14px;}
	.foot_txt .col-lg-6:first-child p{font-size:13px;padding-bottom:5px;}
	.head_mouse{bottom:10px;}
	.head_mouse img{width:80%;}
	
}
/*----Apple iphone5 (3/4) Landscape-------*/
/**
@media screen and (device-width: 568px) and (device-height: 320px) and (-webkit-device-pixel-ratio: 2){
	.menu{min-height:320px;}
	#menuScrollbar{height:220px;}
	
	.top_head{
		min-height: 320px;
		max-height: 320px;
	}
	.table_cell{
		height: 100%;
	}
	.head_txt h1{margin-top: 0px;font-size: 45px}
	.head_txt h4{font-size: 15px;}
	.head_txt p{font-size: 14px;}
	.foot_txt .col-lg-6:first-child p{font-size:13px;padding-bottom:5px;}
	.head_mouse{bottom:10px;}
	.head_mouse img{width:80%;}
}
/*----Small Mobile Device (Landscape)-------*/
/* Landscape */
/**
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.menu{min-height:320px;}
	#menuScrollbar{height:220px;}
	
	.top_head{
		min-height: 320px;
		max-height: 320px;
	}
	.table_cell{
		height: 100%;
	}
	.head_txt h1{margin-top: 0px;font-size: 45px}
	.head_txt h4{font-size: 15px;}
	.head_txt p{font-size: 14px;}
	.foot_txt .col-lg-6:first-child p{font-size:13px;padding-bottom:5px;}
	.head_mouse{bottom:10px;}
	.head_mouse img{width:80%;}
}

/* Landscape */
/**
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 3) {
	.menu{min-height:360px;}
	#menuScrollbar{height:270px;}
	
	.top_head{
		min-height: 360px;
		max-height: 360px;
	}
	.table_cell{
		height: 100%;
	}
	.head_txt h1{margin-top: 0px;font-size: 60px}
	.head_txt h4{font-size: 18px;}
	.head_txt p{font-size: 14px;}
	.foot_txt .col-lg-6:first-child p{font-size:13px;padding-bottom:5px;}
	.head_mouse{bottom:10px;}
	.head_mouse img{width:80%;}
}
**/
