* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
}
.row-block {
  margin: auto;
}
.tbl {
  display: table;
}
.tbl > .cell {
  
  position: relative;
  
}
.tbl-block {
  margin: auto;
  min-height: inherit;
  width: 100%;
  margin-top: 30px;
}
.tbl-fixed {
  table-layout: fixed;
}

.slider-section .author {
   height: auto;
	margin: 0 auto 0;
	margin-top: 140px;
}
.slider-section .author img {
	border-radius: 50%;
	vertical-align: middle;
	border: 5px solid #fff;
	-moz-box-shadow: 0px 0px 4px 2px #fff;
	-webkit-box-shadow: 0px 0px 4px 2px #fff;
	box-shadow: 0px 0px 4px 2px #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#fff')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#fff');

}

img.preload {
    opacity: 0;
}

.slider-section p {
	color: #949393;
	display: inline-block;
	line-height: 1.375;
	margin-bottom: 0;
	font-size: 16px;
	font-style: italic;
}
.slider-section .author .name {
	color: #295a9c;
	font-size: 22px;
	font-family: proximanova_semibold;
	font-style: normal;
	margin-top:10px;
}
.slider-section .author .title hr {
	margin-bottom: 20px;
	margin-top: 20px;
}
.height-680 {
	min-height: 565px;

}
.text-center {
text-align: center;
}
img.preload.complete {
    opacity: 1;
    transition: opacity 0.3s ease 0s;
}
.slider {
  height: 100%;
  left: 0;
  min-height: inherit;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
}
@media (max-width: 767px) {
  .slider {
    min-height: 0;
    position: relative;
  }
}
.slider .slide {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  width: 100%;
}
@media (max-width: 767px) {
  .slider .slide {
    height: auto;
  }
}
.slider .slide.current {
  opacity: 1;
  top: 0;
}
@media (max-width: 767px) {
  .slider .slide.current {
    position: relative;
  }
}
.slider .slide.animating {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s, transform 0.3s;
}

.slider .slide .tbl {
  height: 100%;
}
.slider.swipe-mode {
  cursor: -webkit-grab;
}
.slider.swipe-mode.slider-swiping {
  cursor: -webkit-grabbing;
}
.slider.swipe-mode:after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.slider.swipe-mode .slide.current {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slider.swipe-mode .slide.previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.slider.swipe-mode .slide.next {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.slider.swipe-mode .slide.animating {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.15, 0.2, 0, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.15, 0.2, 0, 1);
  -o-transition: -o-transform 0.4s cubic-bezier(0.15, 0.2, 0, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.15, 0.2, 0, 1), -moz-transform 0.4s cubic-bezier(0.15, 0.2, 0, 1), -o-transform 0.4s cubic-bezier(0.15, 0.2, 0, 1), transform 0.4s cubic-bezier(0.15, 0.2, 0, 1);
}
.slider.swipe-mode .slide.animating.previous,
.slider.swipe-mode .slide.animating.next {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.slider.fade-mode {
  cursor: default;
}
.slider.fade-mode .slide {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  -o-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
.slider.fade-mode .slide.current {
  opacity: 1;
}
.slider.fade-mode .slide.current.animating {
  -webkit-transition: opacity 1.4s !important;
  -moz-transition: opacity 1.4s !important;
  -o-transition: opacity 1.4s !important;
  transition: opacity 1.4s !important;
}
.slider.fade-mode .slide.animating {
  -webkit-transition: opacity 0.4s !important;
  -moz-transition: opacity 0.4s !important;
  -o-transition: opacity 0.4s !important;
  transition: opacity 0.4s !important;
}
.slider .arrow {
  display: none;
}
.slider.arrow-mode.swipe-mode.slider-swiping .arrow {
  display: none;
}
.slider.arrow-mode .arrow {
  background: none;
  border: 0;
  cursor: pointer;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  z-index: 1;
}
.touch .slider.arrow-mode .arrow {
  display: none;
}
.slider.arrow-mode .arrow.arrow-prev {
  cursor: url(/img/obj-cursor-left.png), w-resize;
  cursor: -webkit-image-set(url(/img/obj-cursor-left.png) 1x, url(/img/obj-cursor-left@2x.png) 2x), w-resize;
  left: 0;
  width: 20%;
}
.slider.arrow-mode .arrow.arrow-next {
  cursor: url(/img/obj-cursor-right.png), e-resize;
  cursor: -webkit-image-set(url(/img/obj-cursor-right.png) 1x, url(/img/obj-cursor-right@2x.png) 2x), e-resize;
  right: 0;
  width: 80%;
}
.slider .tabs {
  display: none;
}
.slider.tab-mode ul.tabs {
  display: block;
  bottom: 40px;
  line-height: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}
@media (max-width: 767px) {
  .slider.tab-mode ul.tabs {
    bottom: 0;
    margin-bottom: 20px;
    position: relative;
  }
}
.slider.tab-mode ul.tabs li {
  background-color: #b5b5b5;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 0 14px;
  opacity: 1;
  position: relative;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width: 8px;
  z-index: 2;
}
.slider.tab-mode ul.tabs li.current {
  opacity: 1;
}
.dark .slider.tab-mode ul.tabs li {
  background-color: #FFF;
}
.slider .button-control {
  display: none;
}
@media (max-width: 767px) {
  .slider.button-mode {
    padding-bottom: 27px;
  }
  .slider-section .author {
		margin: 0 auto;
	}
	.slider .slide {
		min-height: 430px;
	}
}
.slider.button-mode .button-control {
  background: center no-repeat url(../img/arrow_black_large.png);
  border: 0;
  border-radius: 50%;
  bottom: 60px;
  -webkit-box-shadow: inset 0 0 0 2px transparent, inset 0 0 0 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 0 2px transparent, inset 0 0 0 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 0 0 2px transparent, inset 0 0 0 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 2px transparent, inset 0 0 0 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: block;
  height: 54px;
  left: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, 50%, 0);
  -moz-transform: translate3d(-50%, 50%, 0);
  -o-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
  vertical-align: top;
  visibility: visible;
  width: 54px;
  z-index: 2;
  -webkit-transition: -webkit-box-shadow 0.4s;
  -moz-transition: -moz-box-shadow 0.4s;
  -o-transition: -o-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s, -moz-box-shadow 0.4s, -o-box-shadow 0.4s, box-shadow 0.4s;
}
.slider.button-mode .button-control:hover {
  -webkit-box-shadow: inset 0 0 0 2px #000000, inset 0 0 0 2px transparent;
  -moz-box-shadow: inset 0 0 0 2px #000000, inset 0 0 0 2px transparent;
  -o-box-shadow: inset 0 0 0 2px #000000, inset 0 0 0 2px transparent;
  box-shadow: inset 0 0 0 2px #000000, inset 0 0 0 2px transparent;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
@media (max-width: 767px) {
  .slider.button-mode .button-control {
    bottom: 0;
    position: relative;
  }
}
.dark .slider.button-mode .button-control {
  background-image: url(/img/arrow_white_large.svg);
  -webkit-box-shadow: inset 0 0 0 3px transparent, inset 0 0 0 2px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 0 0 3px transparent, inset 0 0 0 2px rgba(255, 255, 255, 0.4);
  -o-box-shadow: inset 0 0 0 3px transparent, inset 0 0 0 2px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 0 3px transparent, inset 0 0 0 2px rgba(255, 255, 255, 0.4);
}
.no-touch .dark .slider.button-mode .button-control:hover {
  -webkit-box-shadow: inset 0 0 0 3px #FFF, inset 0 0 0 2px transparent;
  -moz-box-shadow: inset 0 0 0 3px #FFF, inset 0 0 0 2px transparent;
  -o-box-shadow: inset 0 0 0 3px #FFF, inset 0 0 0 2px transparent;
  box-shadow: inset 0 0 0 3px #FFF, inset 0 0 0 2px transparent;
}
.slider.button-mode.tab-mode .tabs {
  bottom: 50px;
  text-align: left;
  left: 50%;
  transform: translate3d(-40px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: -webkit-transform 0.4s, -moz-transform 0.4s, -o-transform 0.4s, transform 0.4s;
  white-space: nowrap;
}
.slider.button-mode.tab-mode .tabs li {
  -webkit-transform: translate3d(0, 50%, 0);
  -moz-transform: translate3d(0, 50%, 0);
  -o-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  -webkit-transition: height 0.4s, opacity 0.4s, width 0.4s;
  -moz-transition: height 0.4s, opacity 0.4s, width 0.4s;
  -o-transition: height 0.4s, opacity 0.4s, width 0.4s;
  transition: height 0.4s, opacity 0.4s, width 0.4s;
}
.slider.button-mode.tab-mode .tabs li.current {
  height: 54px;
  opacity: 0;
  width: 54px;
}
@media (max-width: 767px) {
  .slider.button-mode.tab-mode .tabs {
    bottom: 27px;
    margin-bottom: 0;
    position: absolute;
  }
}
.slider .dots ul li {
  -webkit-transition: all 0.4s cubic-bezier(0.15, 0.2, 0, 1);
  -moz-transition: all 0.4s cubic-bezier(0.15, 0.2, 0, 1);
  -o-transition: all 0.4s cubic-bezier(0.15, 0.2, 0, 1);
  transition: all 0.4s cubic-bezier(0.15, 0.2, 0, 1);
}