/*------------------------------------------------------------------
[Table of contents]

1. Body/ #page-top
	2. Header Tag/ header
		2.1. Navigation / .navbar
	3. UI/UX Section / section
		3.1. Content / .container
	4. Respoinsive Web Design Section / section
		4.1. Content / .container
	5. Branding Section / section
		5.1. Content / .container
	6. Happy Client Section / section
		6.1. Content / .container	
	7. Work With Us / #contact
		7.1. Content / .container
	8. Footer Tag/ footer
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color codes]

Background:	#ffffff (White)
Header h1:	#000000,#ffffff (Black and White)
Header h2:	#333 (Dark Grey)
Footer:		#fff (background White)

a (standard):	#295a9c (dark blue)
-------------------------------------------------------------------*/



/* BEGIN Open proximaNova Regular, Semibold and Light */

@font-face {
	font-family: "proximanova_light";
	src: url("../fonts/proximanovalight.eot");
	src: url("../fonts/proximanovalight.eot#iefix") format("embedded-opentype"),
	url("../fonts/proximanovalight.woff") format("woff"),
	url("../fonts/proximanovalight.ttf") format("truetype"),
	url("../fonts/proximanovalight.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "proximanova_semibold";
	src: url("../fonts/proximanova-semibold-webfont.eot");
	src: url("../fonts/proximanova-semibold-webfont.eot#iefix") format("embedded-opentype"),
	url("../fonts/proximanova-semibold-webfont.woff") format("woff"),
	url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"),
	url("../fonts/proximanova-semibold-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "proximanova";
	src: url("../fonts/proximanova-regular-webfont.eot");
	src: url("../fonts/proximanova-regular-webfont.eot#iefix") format("embedded-opentype"),
	url("../fonts/proximanova-regular-webfont.woff") format("woff"),
	url("../fonts/proximanova-regular-webfont.ttf") format("truetype"),
	url("../fonts/proximanova-regular-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

/*---------------------Common Css--------------------*/

body{
	font-family: "proximanova";
	font-size:14px;
	width: 100%;
	overflow-x: hidden !important;
	position:relative;
}
h1,h2,h3,h4,h5,h6{
	font-family: "proximanova_semibold";
}
header{
	color:#fff;
	height:100%;
}
button,button:focus,button:active,button:hover,button:visited{outline:none !important;}
a,a:focus,a:active,a:hover,a:visited{outline:none !important;text-decoration: none!important;}
::-webkit-input-placeholder { color:#a9a9a9; }
::-moz-placeholder { color:#a9a9a9;} /* firefox 19+ */
:-ms-input-placeholder { color:#a9a9a9;} /* ie */
input:-moz-placeholder { color:#a9a9a9;}
textarea,input{outline:none !important;}
/*------Start Css for Checkbox-------*/
.checkbox {
  padding-left: 20px; 
}
.checkbox label {
display: inline-block;
vertical-align: middle;
position: relative;
padding-left: 5px; 
}
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 22px;
	height: 22px;
	left: 0;
	top: 5px;
	margin-left: -24px;
	border: 1px solid #6e6e6e;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 21px;
	height: 20px;
	left: 0;
	top: 4px;
	margin-left: -24px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 16px;
	color: #6e6e6e;
	font-weight: normal;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
opacity: 0;
z-index: 1; }
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  /*outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; */
 }
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65; }
  .checkbox input[type="checkbox"]:disabled + label::before,
  .checkbox input[type="radio"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
border-radius: 50%; }
.checkbox.checkbox-inline {
margin-top: 0; }


.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #70b918;
  border-color: #70b918; }
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff; }


input[type="checkbox"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before {
  color: #fff; }
input[type="checkbox"] .styled:checked + label::after {
  color: #fff; }

/*------End Css for Checkbox-------*/
.top_head{
	background:url(../img/banner_bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	width: 100%;
	overflow:hidden;
	
}
.top_nav{
	width:100%;
	display:inline-block;
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
}
.table_cell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 60vh;
	width: 1024px;
}
.contact_us_page .top_head,.abt_us_page .top_head{max-height:700px;min-height:450px}
.contact_us_page .table_cell,.abt_us_page .table_cell{height:auto;padding-top:65px;}
.top_nav .nav_menu i{vertical-align: text-bottom;}
.top_nav .nav_menu{
	color: #FFFFFF;
    float: right;
    font-size: 25px;
    padding: 2px 10px;
    text-align: center;
    vertical-align: middle;	
}
.top_nav .nav_menu:hover{
	background:rgba(255,255,255,1);
	border-radius:5px;
	opacity:1;
	color: #000000;
	
}
.overlay{
	position:absolute;
	height:100%;
	background:rgba(0,0,0,0.6);
	width:100%;
	top:0;
	z-index:1;
}
.navbar{
	display:none;
	z-index:999999;
}
.head_txt{
	margin-top:90px;
	text-align:center;
}
.head_txt h1 {font-size:120px; margin-bottom: 0;}
.head_txt h1 span{
	font-family: "proximanova_light";
}
.head_txt h4{
	font-family: "proximanova";
	text-transform:uppercase;
	margin: 0;
	font-size: 20px;
    letter-spacing: 5px;
}
.head_txt p{
	margin-top: 25px;
	font-size:20px;
	font-family: proximanova_light;
}
#ui_ux_design{
	padding-bottom: 0px;
	margin-bottom: 0;
}

#work_us p{color:#949393;}
.sec_bottom_img{text-align:center;}
.sec_bottom_img{
	padding: 40px 0;
	margin: 30px 0;
	padding-bottom: 0;
	margin-bottom: 0;
	display:none;
}
section h1{font-size:48px;margin: 0;color: #000;}
section{
	text-align: center;
	margin: 0 0;
	padding: 60px 0;
	margin-top:0;
	position: relative;
	padding-bottom:35px;
	background: #fff;
	
}
section.showsImg{min-height: 855px;}
section p{
	font-size: 18px;
	/* line-height: 1.2; */
	color: #8d8d8d;
	margin-bottom: 18px;
}
section a{font-size: 18px;}
section a i.fa-long-arrow-right{font-size: 25px;vertical-align:middle;}
section a.chkout  i.fa-long-arrow-right{
	vertical-align:middle;
	padding-left:10px;
	font-size: 25px;
}
#sec_branding{
	margin-bottom: -20px;
	position: relative;
}
.bg_grey{
	background:#fafafa;
}
#sec_res_web{
	margin-top: 0;
}
#sec_happy_client{
	
	margin-top: 0;
	position: relative;
}
#sec_happy_client h1{
	margin:0;
	padding:0;
}
#work_us .chkout{
	border: 2px solid #295a9c;
	font-weight: bold;
	font-family: "proximanova_light";
	border-radius: 45px;
	text-transform: uppercase;
	width: 304px;
	height: 64px;
	display: inline-block;
	background: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 232px center;
}
#work_us .chkout:hover{
	background-color: #295a9c;
	text-decoration: none;
	color: #fff;
	background-image: url(../img/arrow_white.png);
}
#work_us .chkout span{
	width: 260px;
	height: 60px;
	display: table-cell;
	vertical-align:middle;
}
.help_attach{
	font-size: 13px;
    color: #c3c3c3;
    clear: both;
    display: inline-block;
    /* float: right; */
    text-align: right;
    padding-left: 10px;
}
/*---Css for Start your project button click------*/
.form_row{position:relative;top:0;}
.questions{
	min-height: 210px;
	display: inline-block;
	width: 100%;
	height: 100%;
	clear: both;
}
.skip_step{
	display: inline-block;
	padding: 15px;
	color:#a9a9a9;
	font-size:18px;
}
.skip_step:hover{
	color: #295a9c;
	
}
.skip_step:hover,.skip_step:focus,.skip_step:active{text-decoration: none;}
.chkbox_col{margin-right:15px;}
.chkbox_col label{
	font-size: 22px;
	font-family: proximanova_light;
	color: #6e6e6e;
}
/*----End start your project button's css-----*/
.chkout  img{
	vertical-align:baseline;
	padding-left:6px;
}
.head_mouse{
	width: 100%; 
	text-align: center;
	vertical-align: middle;
	text-align:center;
	position: relative;
	display:inline-block;	
}
.head_mouse span{
	width: 1px;
	height: 10px;
	background: #fff;
	margin-top: 7px;
	display: inline-block;
}
.menu__overlay{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: none;
	background: rgb(0, 0, 0);
	opacity: 0;
	z-index: 3;
	cursor: pointer;
	-webkit-transform: translateZ(0px);
	transform: translateZ(0px);
}
.logo{
	padding: 20px 7px;
}
/*------Css for menu----*/
.navbar {
    width:100%;
    background-color: #fff;
    z-index: 5;
    position: fixed;
    right: 0px;
    height: 100%;
    -webkit-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
        moz-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
          o-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
footer{
	color:#a4a4a3;
	padding-top:30px;
	width:100%;
	display:inline-block;
}
footer .container{
	padding: 15px 0;
	border-top:1px solid #e8e8e8;
}
.foot_txt {
/* margin-top: 14px; */
	display: inline-block;
	width: 100%;
}
.foot_txt .col-lg-6{
	padding:0;
}
.foot_txt p, .foot_txt a {
	color: #a4a4a3;
	margin-bottom: 0;
	vertical-align: middle;
}
.foot_txt .col-lg-6:first-child p{padding-top:7px;}
.foot_txt .social_icons{
	text-align:right;
	float:right;
}
.foot_txt .social_icons i,.contact_info .social_icons i{
	vertical-align:middle;
}
.foot_txt a {
	font-size: 20px;
	padding-left: 20px;
}

.foot_txt a:hover .fa-facebook,.contact_info .social_icons a:hover .fa-facebook{color:#3b5998;}
.foot_txt a:hover .fa-twitter,.contact_info .social_icons  a:hover .fa-twitter{color:#00aced;}
.foot_txt a:hover .fa-google-plus,.contact_info .social_icons  a:hover .fa-google-plus{color:#dd4b39;}
.foot_txt a:hover .fa-pinterest-p,.contact_info .social_icons  a:hover  .fa-pinterest-p{color:#cb2027;}
.start_project {
	background: #fff;
	position: absolute;
	display: none;
	height: 450px;
	width: 100%;
	z-index: 1;
	float: left;
	clear: both;
	bottom: 0;
}
.close_icon{
	float: right;
	padding: 10px 40px;
}
.start_project .start_pro_inner{
	margin-top: 30px;
	text-align: left;
}
.start_project input[type="text"],.start_project input[type="tel"],.start_project input[type="email"]{
	padding: 0;
	width: 70%;
	border: none;
	font-size: 40px;
	font-family: proximanova_light;
	color: #000000;
	float:left;
	outline: none !important;
}
.start_project label{
	color: #010101;
	font-size: 24px;
	font-weight: normal;
	text-align: left;
}
.foot_sec{position:relative;}
.input_box::-webkit-input-placeholder { font-size:22px;padding-top:13px;padding-left:5px;}
.input_box::-moz-placeholder {font-size:22px;padding-top:13px;padding-left:5px;} /* firefox 19+ */
.input_box:-ms-input-placeholder {font-size:22px;padding-top:13px;padding-left:5px;} /* ie */
.input_box:-moz-placeholder {font-size:22px;padding-top:13px;padding-left:5px;}
.nxt_btn{
	background: transparent;
	border: 2px solid #295a9c;
	color: #295a9c;
	font-size: 18px;
	font-family: proximanova_semibold;
	padding: 12px 30px;
	vertical-align: top;
	text-transform: uppercase;
}
.nxt_btn:hover,.nxt_btn:focus,.nxt_btn:active{
	background: #295a9c;
	border-color:#295a9c;
	color:#fff;
}
.nxt_btn i.fa-long-arrow-right{
	vertical-align: middle;
	font-size: 24px;
	margin-top: -1px;
}
.fade_div_hide,.fade_hide_btn{visibility:hidden;}

/*----------Css for about-us page-------------*/
#abt_us_sec{
	background:url('../img/abt_sec.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	min-height:598px;
}

.top_head.about_us_ban{
	background-image:url('../img/about_us_ban.jpg');
	background-position:center;
}
#ab_bot_sec{
	background:url('../img/abt_sec_small.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height:302px;
}
.about_us_ban .head_txt h1{font-size:100px;}
.abt_us_page section.abt_us_wrd p{text-align:left;font-size:15px;}
ul.abt_nav {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.abt_nav li {
    display: inline-block;
	font-size:14px;
	color:#8d8d8d;
	float: left;
	padding: 5px 12px;
}
.abt_nav li img {
    width: 30px;
}
.abt_nav li:first-child{padding-left: 0;}
.abt_us_meet_img{text-align:center;}
.abt_us_meet_img img{
	height: 320px;
    margin-top: -20px;
}
.abt_us_page  section.abt_us_sec p{padding:0 100px;color:#fff;font-size:26px;font-style:italic;text-align:center;}
ul.abt_wrk_pro_list {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
	width:100%;
}
.abt_wrk_pro_list li {
    display: inline-block;
    float: left;
    width: 21.8%;
	height:218px;
    font-size: 16px;
    color: #8d8d8d;
    border: 1px dashed #e4e4e4;
    padding: 22px 22px;
    border-radius: 50%;
	position:relative;
    margin-left: -25px;
}
.abt_wrk_pro_list li h3{font-size:20px;font-family: "proximanova_semibold";}
.abt_wrk_pro_list li.briefly h3{
    color: #295a9c;
}
.abt_wrk_pro_list li.research h3{
    color: #851a53;
}
.abt_wrk_pro_list li.bulb h3{
    color: #cd1f44;
}
.abt_wrk_pro_list li.create h3{
    color: #f16c22;
}
.abt_wrk_pro_list li .list_img{min-height:50px;}
.abt_wrk_pro_list li .list_img img {
    max-height: 50px;
}
.abt_wrk_pro_list li.launch h3{
    color: #f3a81d;
}
.list_img img {
    margin-top: 10px;
}

.abt_wrk_pro_list li p {
    font-size: 14px;
}
.abt_wrk_pro_list li span{
	position: absolute;
    right: 7px;
    top: 44%;
}
.abt_wrk_pro_list li:first-child{margin-left:0;}
ul.abt_interes_facts {
    display: inline-block;
    width: 100%;
    padding: 0;
	margin:0;
}
ul.abt_interes_facts li {
    display: inline-block;
    width: 24%;
    color: #fff;
}
ul.abt_interes_facts li h1 {
    color: #fff;
    font-size: 60px;
}
ul.abt_interes_facts li .abt_facts_img {padding: 12px 0;}
ul.abt_interes_facts li h6 {
    font-size: 20px;
    font-family: "proximanova";
}
.abt_table_cell{
	display: table-cell;
    vertical-align: middle;
    text-align: center
}

/*----------Css for contact us page--------------------*/
.top_head.contact_us_ban{
	background-image:url('../img/contact_us_ban.jpg');
	background-position:center;
}
.contact_frm{
	text-align: left;
}
.contact_frm button{
    margin-left: 15px;
    margin-top: 35px;
	text-align:left;
}
ul.contact_info {
    position: relative;
    display: inline-block;
    width: 100%;
	list-style:none;
}
ul.contact_info li {
    font-size: 18px;
    color: #8d8d8d;
    border-bottom: 1px solid #f0f0f0;
    text-align: left;
    position: relative;
	display: inline-block;
    width: 100%;
	padding: 6px 0;
}
ul.contact_info li h6 {
    font-size: 18px;
    color: #8d8d8d;
    font-family: "proximanova";
}
ul.contact_info li span.font_icons {
    position: absolute;
    right: 5px;
}
ul.contact_info li p {
    font-size: 20px;
    color: #000;
}
.contact_info .social_icons {display:inline-block;width:100%;padding: 0;}
.contact_info .social_icons span:first-child a {padding-left:0;}
.contact_info .social_icons a {
	color: #000;
    padding: 0px 10px;
    display: inline-block;
	padding-bottom: 10px;
}
.contact_us_detail h1{text-align:right;    margin-bottom: 58px;}
.cont_us_form p{text-align:left;display:block;clear:both;padding: 0 30px;font-size:15px;}
.cont_us_form h1{text-align:left;padding-left:30px;}
.cont_us_form hr{float:left;margin-left:30px;border-color:#000;}

/*-----Css for attach your file------*/
.tuck {
	left: -10000%;
	opacity: 0;
	position: absolute;
	
}
.file_upload_label{cursor:pointer;}
.next:disabled,.submit:disabled{cursor:default;border-color:rgba(41,90,156,0.6)!important;color:rgba(41,90,156,0.6);}
.next:enabled,.submit:enabled{border-color:rgba(41,90,156,1)!important;color:rgba(41,90,156,1);}
.next:hover:enabled,.submit:hover:enabled,.next:focus:enabled,.submit:focus:enabled,.next:active:focus:enabled,.submit:active:focus:enabled{color:rgba(255,255,255,1);background-color:rgba(41,90,156,1);}
.counter {
	display: inline-block;
	cursor: default;
	font-weight: 300;
	margin-left: 20px;
	opacity: .4;
	outline: medium none;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
textarea#user_desc  {
	border: 0;
	box-shadow: none;
	font-size: 24px;
	line-height: 1.83;
	margin-bottom: 26px;
	padding: 0;
	width: 100%;
	resize: none;
	overflow:hidden;	
	height:70px;
}
/*-----------Css for Contact us form------------------*/
.form-style .success{
	background: #D8FFC0;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
	border: none;
	font-weight: bold;
	color: #2E6800;
	border-left: 3px solid #2E6800;
}
.form-style .error {
	background: #FFE8E8;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
	border: none;
	font-weight: bold;
	color: #FF0000;
	border-left: 3px solid #FF0000;
}
.succ_img{text-align:center;}
#popup2 .success,#popup .success,.bMulti .success{font-size:22px;text-align:center;}
#popup, #popup2, .bMulti {
    background-color: #fff;
    color: #000;
    display: none;
    min-width: 450px;
    padding: 25px;
}
/*-------Css for responsive design---*/
@media only screen and (min-width:1800px){
	.about_us_ban .head_txt h1{font-size:120px;}
	.abt_us_page .container,.abt_us_page .container .table_cell{width: 1300px;}
	.abt_nav li,.abt_us_page section.abt_us_wrd p{font-size:18px;}
	.abt_nav li img {
		width: 40px;
	}
	.abt_us_page section.abt_us_sec p{padding:0 240px;}
	.abt_wrk_pro_list li .list_img{min-height:60px;}
	.abt_wrk_pro_list li .list_img img {
		max-height: 60px;
	}
	.abt_wrk_pro_list li h3{font-size:24px;}
	.abt_wrk_pro_list li p {
		font-size: 16px;
	}
	.abt_wrk_pro_list li {
		width: 21.5%;
		min-height: 285px;
		padding: 40px 25px;
	}
	.abt_us_meet_img img{
		height: 400px;
	}
	.cont_us_form p{font-size:18px;}
}

@media screen and (min-width:768px) and (max-width:1024px) {
	.abt_wrk_pro_list li{
		display: inline-block;
		float: none;
		height: 210px;
		margin-left: -25px;
		width: 210px;
	}
	
	/*.abt_nav li{margin-left:0;padding:5px 4px;}*/
	#abt_us_sec{height:400px;}
	.abt_wrk_pro_list li .list_img img,.abt_wrk_pro_list li .list_img{max-height: 35px;}
	.abt_wrk_pro_list li p {
		font-size: 13px;
	}
	.sec_bottom_img img{max-width:100%;}
}

@media (max-height: 300px) {
	.head_mouse{display: none;}
	start_project {height:600px;}
}
@media (max-width: 680px) {
	.head_txt h1{
		font-size: 52px;
		margin-top:0;
	}
	
	.head_txt h4,.head_txt p{font-size: 16px;}
	.head_txt p{    margin-top: 10px;}
	.head_mouse img{
		width: 22px;
	}
	.sec_bottom_img img{max-width:100%;}
	.start_project {height:550px;}
	.start_project .slideInUp{padding-top: 55%;}
	textarea#user_desc {
		font-size: 20px;
		margin-bottom: 10px;
		line-height: normal
	}
	.start_project .start_pro_inner{margin-top:20px;}
}
@media (max-width: 767px) {
	.about_us_ban .head_txt h1,.contact_us_page .head_txt h1{font-size: 40px;}
	.contact_us_page .top_head,.abt_us_page .top_head{
		min-height:250px;
	}
	.foot_txt .col-lg-6:first-child p {
		font-size: 13px;
	}
	.contact_us_page .table_cell,.abt_us_page .table_cell{padding-top:20px;}
	.sec_bottom_img img{max-width:100%;}
	.table_cell{width:auto;}
	section {
		margin: 15px 0;
		padding: 25px 0;
	}
	section h1 {
		font-size: 36px;
		margin: 0;
	}
	section p, section a {
		font-size: 18px;
		line-height: 1.5;
	}
	
	.foot_txt p, .foot_txt a,.foot_txt .social_icons{
		text-align:center;
	}
	section.showsImg {
		min-height: 678px;
	}
	#work_us .chkout{max-width:100%;}
	.start_project label{font-size:20px;}
	.start_project input[type="text"],.start_project input[type="tel"],.start_project input[type="email"]{
		width:95%;
	}
	.input_box::-webkit-input-placeholder { font-size:16px;}
	.input_box::-moz-placeholder {font-size:16px;}
	.input_box:-ms-input-placeholder {font-size:16px;}
	.input_box:-moz-placeholder {font-size:16px;}
	.abt_us_meet_img img {
		height: auto;
		margin-top: 0;
		max-width: 100%;
	}
	.abt_nav li{margin-left:0;padding:5px 4px;}
	#abt_us_sec{min-height: 357px;}
	.abt_wrk_pro_list li{
		display: block;
		float: none;
		height: 270px;
		margin: 0 auto -25px;
		width: 270px;
	}
	.abt_wrk_pro_list li:first-child {
		margin-left: auto;
	}
	.abt_wrk_pro_list li span {
		bottom: 0;
		top:auto;
		right: auto;
		transform: rotate(90deg);
	}
	.abt_us_page section.abt_us_sec p {
		font-size: 20px;
		padding: 10px 0;
	}
	ul.abt_interes_facts li {
		padding: 10px 0;
		width: 49%;
	}
	ul.abt_interes_facts li .abt_facts_img {
		min-height: 40px;padding: 0 0 10px;
	}
	.abt_facts_img img {
		height: 40px;
	}
	ul.abt_interes_facts li h1{  font-size: 30px;}
	ul.abt_interes_facts li h6{  font-size: 15px;margin:5px 0;}
	.abt_us_meet_img {
		text-align: center;
	}
	.checkbox.checkbox-inline {
		margin-left: 0;
		width: 100%;
	}
}