.upload_box{
	margin:0 auto;
	padding: 20px 0 0 0;
	width: 500px;
	height: 70px;
}

.file_browser{
	width: 161px; 
	height: 38px;
	background:url("../file_icons/select_files.png") no-repeat;
	float: left;
}

.hide_broswe{
	opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity:0);
	width:160px;
	padding:5px;
	cursor:pointer;
}

.file_upload{
	width: 128px;
	height: 38px;
	float: left;
	margin: 0 0 0 60px;
}

.upload_button{
	background:url("../file_icons/upload_files.png") no-repeat;
	width: 130px;
	height: 40px;
	text-indent: -1000px;
	border: 0px;
	cursor:pointer;
}
.file_boxes{
	margin:0 auto;
	width: auto;
}

.bx_main{
	width: auto;
	float: left;
	margin-right: 10px;
}


.bx_2{
	width: auto;
	/* height: 36px; */
	/* border-top: 1px solid #636363; */
	/* border-bottom: 1px solid #636363; */
	/* background-color: #eeeeee; */
	text-align: left;
	float: left;
	/* padding: 4px 0 0 10px; */
	/* font-family: verdana, arial; */
	font-size: 11px;
	/* color: #000; */
	line-height: 15px;
	margin: 3px 0 0 0;
}
.bx_3{
	width: 20px;
	float: left;
	padding: 0 3px;
	margin: 1px 0 0 0;
	cursor: pointer;
	margin-left:3px;
}
.bx_3:hover{opacity:0.6;}
.bx_3 a:hover,.bx_3 a:focus{text-decoration:none;}
.fname{
	font-size: 15px;
	color: #a9a9a9;
	line-height: 11px
}

.fsize{
	
	font-size: 10px;
	color: #000;
	
}




.file_upload_main_wrapper 
{
	width: 788px;
	height:auto;
	margin: 0 auto;
	border: solid 1px #cbcbcb;
	 background-color: #FFF;
	 box-shadow: 0 0 15px #cbcbcb;
	-moz-box-shadow: 0 0 15px #cbcbcb;
	-webkit-box-shadow: 0 0 15px #cbcbcb;
}

#file_system_displayer_container 
{
	padding: 10px;
	margin: 0 auto;
}

#file_system_displayer_header 
{
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:left;
}

#header_file_names 
{
	text-align:left;
	float: left;
	width: 466px;
	padding:5px;
	border:1px solid #CCC;
	background:#F6F6F6;
	box-shadow: 0 0 15px #cbcbcb;
	-moz-box-shadow: 0 0 15px #cbcbcb;
	-webkit-box-shadow: 0 0 15px #cbcbcb;
}

#header_file_size 
{
	width: 99px;
	float: left;
	text-align:left;
	padding:5px;
	border:1px solid #CCC;
	border-left:0px solid #CCC;
	background:#F6F6F6;
	box-shadow: 0 0 15px #cbcbcb;
	-moz-box-shadow: 0 0 15px #cbcbcb;
	-webkit-box-shadow: 0 0 15px #cbcbcb;
}



#header_file_last_date_modified 
{
	width: 90px;
	float: left;
	text-align:left;
	padding:5px;
	border:1px solid #CCC;
	border-left:0px solid #CCC;
	background:#F6F6F6;
	box-shadow: 0 0 15px #cbcbcb;
	-moz-box-shadow: 0 0 15px #cbcbcb;
	-webkit-box-shadow: 0 0 15px #cbcbcb;
}

#header_file_remove 
{
	width: 88px;
	float: left;
	padding:5px;
	border:1px solid #CCC;
	border-left:0px solid #CCC;
	border-right:0px solid #CCC;
	background:#F6F6F6;
	box-shadow: 0 0 15px #cbcbcb;
	-moz-box-shadow: 0 0 15px #cbcbcb;
	-webkit-box-shadow: 0 0 15px #cbcbcb;
	text-align:center;
}

.hove_this_link span { color:#CCC; }
.hove_this_link:hover { background-color:#DBE6FE; }
.hove_this_link:hover span { color:#000; }


#files_left {
	width: 460px;
	float:left;
	cursor:pointer;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:left;
	padding:8px;
	height:16px;
	border-right:1px solid #CCC;
}

#files_size_left 
{
	width: 93px;
	float: left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-align:left;
	padding:8px;
	height:16px;
	border-right:1px solid #CCC;
}

#files_time_left 
{
	width: 84px;
	float: left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	text-align:left;
	padding:8px;
	height:16px;
	border-right:1px solid #CCC;
}

#files_remove_left 
{
	width: 83px;
	float: left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:left;
	padding:8px;
	height:16px;
	text-align:center;
	color:blue;
}
.files_remove_left_inner:hover
{
	cursor:pointer;
	text-decoration:underline;
}


.blue { background-color: #E9F0FF; }
.white { background-color:#FFFFFF; }


.browse_file_box{ font-weight:bold; font-size:12px;font-family:Arial, Helvetica, sans-serif;text-align:center;background:#f2f2f2 url('../images/browse_file_by_vasplus_programming_blog.png') no-repeat 12px 9px;color:green;border:1px solid #ccc;height:30px;cursor: default;width:106px;-moz-border-radius:5px; -webkit-border-radius:5px;float:left; }




.general_button 
{
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;
  border: 1px solid #63a62f;box-shadow: 0 2px 3px #666666;-moz-box-shadow: 0 2px 3px #666666;-webkit-box-shadow: 0 2px 3px #666666;
  color: #fff;
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  min-width: 70px;
  width: auto;
  padding:8px;padding-left:12px; padding-right:12px;
  text-decoration:none;
  margin-right:30px;
}
.general_button:hover 
{
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    box-shadow: 0 2px 3px #666666;
	-moz-box-shadow: 0 2px 3px #666666;
	-webkit-box-shadow: 0 2px 3px #666666;
    cursor: pointer; 
}