{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{VAR.VAR_LOCAL.PAGES.TITLE}} :: {{VAR.VAR_LOCAL.PAGES.SLOGAN}}</title>
        <meta name="description" content="{{VAR.VAR_LOCAL.PAGES.DESCRIPTION}}">
        <meta name="viewport" content="width=device-width, initial-scale=.8, shrink-to-fit=no, user-scalable=no">
        <link href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.ICO}}" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{VAR.VAR_GLOBAL.FONT_AWESOME}}">
        <meta property="fb:app_id"                content="" /> 
        <meta property="og:type"                  content="place" /> 
        <meta property="og:url"                   content="{{VAR.VAR_LOCAL.PAGES.DOMAIN}}" /> 
        <meta property="og:title"                 content="{{VAR.VAR_LOCAL.PAGES.TITLE}}" /> 
        <meta property="og:image"                 content="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}{{VAR.VAR_LOCAL.PAGES.IMAGE}}" /> 
        <meta property="place:location:latitude"  content="19.2821593" /> 
        <meta property="place:location:longitude" content="-99.1599261" />
        {%for obj in css%}
            {% include obj %}
        {%endfor%}
        <style>
            @media (min-width: 992px){
              h1 {
                margin-top: 25rem;
              }
            }
            .home {
                background-color: #4a0000;
            }
            .take-a-look {
                border: solid 2px #ffffff;
                color: #ffffff;
                background-color: #f4f4f41f;
            }
            .central_logo{
                max-width: 550px;
            }
            .white {
                color: white;
            }
            .a-access {
                background-color: #ffffff12!important;
                border: solid 2px #fff!important;
                padding: 15px!important;
                width: 60px!important;
                height: 60px!important;
                font-size: 25px!important;
                color: #ff0000!important;
            }
            .ul-access {
                top: 90%!important;
                right: 30px;
            }
            body {
                background:radial-gradient(154vh at 0% 0%, #7a85318c 0%, #0000000a 50%, #0253a229 100%), radial-gradient(180vh at 100% 100%, #3739569c 0%, #ffef2c29 50%, #0000 100%), linear-gradient(to right, #2d3b73, #ffffc4)!important;
            }
            .home {
                background-color: #f4f4f400;
            }
            .onepage-pagination li a.active {
                background-color: rgba(255, 255, 255, 0.25);
                border: solid 2px #fff;
                text-decoration: none;
                display: none;
            }
        </style>
        <script src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <div class="main">
            <section class="home">
                <div class="container">
                    <div class="row">
                        <div class="home-copy col-xs-12 col-sm-8 col-sm-offset-2 animated fadeInDown delay-2 ">
                            <h1 class="demo1"><img class="central_logo" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}img/logo.png"></h1>
                            {%comment%}
                                <a href="/facturacion">
                                    <span class="take-a-look animated fadeInDown delay-4">FACTURACIÓN</span>
                                </a>
                            {%endcomment%}
                        </div>
                    </div>
                </div>
            </section>
            <ul class="onepage-pagination animated fadeInRight delay-2 ul-access">
                <li>
                    <a class="a-access" id="a-access" v-on:click="login_user">
                        <i class="fa fa-key white"></i>
                    </a>
                </li>
            </ul>
        </div>
        <script src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/plugins.js"></script>
        {%for obj in js%}
            {% include obj %}
        {%endfor%}
        <script src="{%static 'js/vue.js'%}"></script>
        <script>
            var hub = new Vue({
                el: '#a-access',
                methods: {
                    login_user: function (event) {
                        window.location.href = "{%url 'project:login_user'%}";
                    }
                }
            });
        </script>
    </body>
</html>
