{% extends "generic/list.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block extend_breadcums%}
    <a href="{%url 'magicproseries:event-list'%}" class="color-default"><small class="fs-9 color-5">listado de</small> Eventos</a>
    <i class="fa fa-angle-double-right"></i>
{%endblock extend_breadcums%} 

{%block content_buttons%}
    <button class="btn btn-dark btn--icon-text mr-10 bg-color-default" v-on:click.prevent="photo('form_photo')"><i class="zmdi zmdi-upload"></i> SUBIR FOTO DEL EVENTO </button>
{%endblock content_buttons%}

{%block list%}
    <thead>
        <tr>
            <th>FOTO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td>
                    <div href="" class="cover__img" >
                        <img id="logo" src="{{VAR.MEDIA_URL}}media/{{obj.photo}}" alt="">
                    </div>
                </td>
                <th>
                    {%if not obj.wer%}
                        <button v-on:click.prevent="del(text='{{model.delete_text.3}}',url='{{obj.get_absolute_url_delete}}{{posturl|addposturl:'?'}}')" class="btn btn-danger btn--icon"><i class="zmdi zmdi-delete"></i></button>
                    {%endif%}
                </th>
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}


{%block extra_content%}
    <form id="form_photo" method="post" enctype="multipart/form-data" style="display:none" v-on:submit.prevent="onSubmit()">{% csrf_token %}
        <div class="form-group">
            {{ form_photo|crispy }}
        </div>
    </form>
{%endblock extra_content%}

{%block extend_vue_Data%}
    {{ block.super }}
{%endblock extend_vue_Data%}

{%block extend_vue_mounted%}
    self = this
    $('#id_photo').change(function(){
        self.onSubmit('form_photo');
    });
{%endblock extend_vue_mounted%}

{%block extend_vue_methods%}
    {{ block.super }}
    photo: function (event) {
        $('#id_photo').trigger('click');
    },
    onSubmit: function () {
        if ($('#id_photo').val().split('.').pop() == 'png' || $('#id_photo').val().split('.').pop() == 'jpg' || $('#id_photo').val().split('.').pop() == 'jpeg'){
            data = new FormData($('#form_photo').get(0));
            $.ajax({
                url: '{%url "magicproseries:mps_api" %}?method=form_photo&event={{event.id}}',
                type: 'post',
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function(data) {
                    if (data.api == false){
                        alert(data.message)
                    }
                    else{
                        location.reload();
                    }
                },
                error: function(data){
                    alert("Algo salió mal!")
                },
            });
        } 
        else alert('Sube un archivo .png o .jpg')
    }, 
{%endblock extend_vue_methods%}