{% extends "sites/magicproseries/base.html" %}
{% load static %}
{% load mps %}
{% load humanize %}
{% load crispy_forms_tags %}
{%block style%}
	.youplay-banner-parallax.youplay-banner.banner-top .image {
		margin-top: 8rem;
	}
	.img-logo{
		max-width: 120px;
	}
	.angled-img .img>img {
		-webkit-transform: skew(7deg) scale(1.16);
		-ms-transform: skew(7deg) scale(1.16);
		-o-transform: skew(7deg) scale(1.16);
		transform: skew(7deg) scale(1.16);
		opacity: .7;
	}
	.map{
		min-height: 30rem;
		background-color: #fff;
	}
	.fs-12{
		font-size:12px;
	}
	.fs-9{
		font-size:9px;
	}
	.gold{
		color: #beaf25;
	}
	.silver{
		color: #99c5d0;
	}
	.bronce{
		color: #937e3b;
	}
	.description{
		color: rgb(250, 255, 207)!important;
	}
{%endblock style%}

{%block og%}
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://magicproseries.com{{object.get_absolute_url_detail}}" />
	<meta property="og:title" content="{{object.name}} :: {{object.store.name}}" />
	{%if object.wertext and object.get_photos %}
			<meta property="og:image" content="{{VAR.MEDIA_URL}}media/{{object.get_photos.0.photo.photo}}" />
	{%else%}
		<meta property="og:image" content="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/banner-bg.jpg" />
	{%endif%}
{%endblock og%}


{%block content%}
	<section class="youplay-banner banner-top youplay-banner-parallax xsmall">
		<div class="image" data-speed="0.4">
			<img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/banner-event.jpg" alt="" class="jarallax-img">
		</div>
		<div class="info">
			<div>
				<div class="container">
					<h1 class="h1 mt-5rem">{{object.name}}</h1>
					<h4 class="h3 ml-5rem">{{object.store.name}}</h4>
					<div class="meta">
						<div class="item">
							<i class="fa fa-calendar meta-icon"></i>
							{{object.date}}
						</div>
						<div class="item">
							<i class="fa fa-clock meta-icon"></i>
							{{object.time}}
						</div>
						<br class=""/>
						<div class="item mt-10">
							<i class="fas fa-map-marker meta-icon"></i>
							{{object.address_}}
						</div>
					</div>
					<article class="news-one">
						<div class="description">
							<a href="" class="angled-img pull-left img-logo">
								<div class="img mb-5rem">
									<img src="{{VAR.MEDIA_URL}}media/{{object.store.logo}}" alt="">
								</div>
							</a>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
	<div class="youplay-carousel gallery-popup">
		{%for photo in object.get_photos%}
			<a class="angled-img" href="{{VAR.MEDIA_URL}}media/{{photo.photo}}">
				<div class="img">
					<img src="{{VAR.MEDIA_URL}}media/{{photo.photo}}" alt="">
				</div>
			</a>
		{%endfor%}
	</div>

	<div class="container youplay-news youplay-post">
		<div class="col-md-9">
			<article class="news-one">
				<div class="description">
					{{object.description|cut:'color: rgb(75, 79, 86);'|safe}}
				</div>
				<div class="youplay-review-rating">
					<div class="row">
						<div class="col-md-4">
							<div class="youplay-hexagon-rating" data-max="10" title="9.1 out of 10"><span>{{object.event_type}}</span></div>
							<h4 class="text-left ml-10">{{object.event_type_}}</h4>
							<h4 class="text-left ml-10"><strong>$ {{object.price|floatformat:"2"|intcomma}}</strong></h4>							
						</div>
						<div class="col-md-8">
							<h3 class="mt-0">PREMIOS</h3>
							<p>
								{{object.prizes|safe}}
							</p>
						</div>
					</div>
				</div>
				<div class="meta">
					<div class="item">
						<i class="fa fa-eye meta-icon"></i>
						VISTAS {{object.views}}
					</div>
					{%comment%}
					<div class="item">
						<a href="#"><i class="fa fa-heart"></i> 27</a>
					</div>
					{%endcomment%}
				</div>
				{%if object.facebook%}
					<div class="btn-group social-list social-likes social-likes_visible" data-counters="no">
						<a href="{{object.facebook}}" target="_blank" class="btn btn-default social-likes__widget social-likes__widget_facebook">
							<span class="social-likes__button social-likes__button_facebook">
								<i class="fab fa-facebook"></i> <span class="ml-1rem">VER EVENTO EN FACEBOOK </span>
							</span>
						</a>
					</div>
				{%endif%}
				{%comment%}
					<div class="btn-group social-list social-likes mb-5rem" data-counters="no">
						<span class="btn btn-default facebook" title="Share link on Facebook">ASISTIRÉ</span>
						
					</div>
				{%endcomment%}
			</article>
			{%comment%}
				<div class="comments-block">
					<h2>COMENTARIOS</h2>
				</div>
			{%endcomment%}
		</div>
		<div class="col-md-3">
			<div class="side-block">
				<h4 class="block-title">JUGADORES</h4>
				{%if object.wertext %}
					<div class="block-content p-0">
						<div class="row youplay-side-news">
							<div class="col-xs-12">
								{%for player in positions%}
									<h4 class="ellipsis"><a href="#" class="fs-12 {{player.color}}">{{player.points}}P {{player.player.first_name}} {{player.player.last_name}}</a></h4>
									<span class="date fs-9"> DCI {{player.player.dci }}, {{player.player.country}}</span>
								{%endfor%}
							</div>
						</div>
					</div>
				{%else%}
					<p><small>Este evento aun no esta reportado</small></p>
				{%endif%}
			</div>
		</div>
	</div>
	<footer class="youplay-footer-parallax mt-5rem">
		<div class="wrapper map" id="map">
		</div>
	</footer>
{%endblock content%}

{%block script%}
	<script type="text/javascript">
		var map;
		function initMap() {
			position = {lat: {{event.lat_}}, lng: {{event.lng_}}}
			map = new google.maps.Map(document.getElementById('map'), {
				center: position,
				zoom:15,
				styles: [
				  { "elementType": "geometry", "stylers": [ { "color": "#212121" } ] }, { "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, { "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] }, { "elementType": "labels.text.stroke", "stylers": [ { "color": "#212121" } ] }, { "featureType": "administrative", "elementType": "geometry", "stylers": [ { "color": "#757575" } ] }, { "featureType": "administrative.country", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] }, { "featureType": "administrative.locality", "elementType": "labels.text.fill", "stylers": [ { "color": "#bdbdbd" } ] }, { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] }, { "featureType": "poi.park", "elementType": "geometry", "stylers": [ { "color": "#181818" } ] }, { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] }, { "featureType": "poi.park", "elementType": "labels.text.stroke", "stylers": [ { "color": "#1b1b1b" } ] }, { "featureType": "road", "elementType": "geometry.fill", "stylers": [ { "color": "#2c2c2c" } ] }, { "featureType": "road", "elementType": "labels.text.fill", "stylers": [ { "color": "#8a8a8a" } ] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [ { "color": "#373737" } ] }, { "featureType": "road.highway", "elementType": "geometry", "stylers": [ { "color": "#3c3c3c" } ] }, { "featureType": "road.highway.controlled_access", "elementType": "geometry", "stylers": [ { "color": "#4e4e4e" } ] }, { "featureType": "road.local", "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] }, { "featureType": "transit", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] }, { "featureType": "water", "elementType": "geometry", "stylers": [ { "color": "#000000" } ] }, { "featureType": "water", "elementType": "labels.text.fill", "stylers": [ { "color": "#3d3d3d" } ] 
				   }
				],
				disableDefaultUI: true,
			});
			var marker = new google.maps.Marker({
				position: position,
				map: map,
				title: '{{event.store.name}}',
			});
		}
		initMap();
		$('#report_event').click(function() {
			$('#id_wer').trigger('click');
		});
		$('#id_wer').change(function(){
			if ($('#id_wer').val().split('.').pop() == 'wer'){
				data = new FormData($('#form').get(0));
				$.ajax({
					url: '{%url "magicproseries:mps_api" %}?method=upload_wer&event={{event.id}}',
					type: 'post',
					data: data,
					cache: false,
					processData: false,
					contentType: false,
					success: function(data) {
						if (data.api == true){
							location.reload();
						}
						else{
							alert(data.message)
						}
					},
					error: function(data){
						alert("Algo salió mal!")
					},
				});
			} 
			else alert('Sube el archivo .wer de este evento')
		});
	</script>
{%endblock script%}