{% extends "generic/list.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block list%}
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>HORA</th>
            <th>CREADO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td>
                    <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                        {{obj.name}}<br />
                        <small>{{obj.store}}</small>
                    </a>
                </td>
                <td>
                    <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                        {{obj.date}}
                        <small>{{obj.time}}</small>
                    </a>
                </td>
                <td>
                    <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                        {{obj.create}}
                    </a>
                </td>
                <th>
                    <a href="{%url 'magicproseries:event_gallery-list'%}?id={{obj.id}}&slug={{obj.slug}}" class="btn btn-dark btn--icon-text mr-10 bg-color-default"><i class="zmdi zmdi-upload"></i> GALERIA DE FOTOS </a>  
                    <button class="btn btn--icon-text mr-10 {%if obj.wer%}btn-success{%else%}bg-color-default{%endif%}" v-on:click.prevent="wer({{obj.id}})"><i class="zmdi zmdi-upload"></i> REPORTAR .wer</button>  
                    {%if not obj.wer%}
                        <button v-on:click.prevent="del(text='{{model.delete_text.3}}',url='{{obj.get_absolute_url_delete}}{{posturl|addposturl:'?'}}')" class="btn btn-danger btn--icon"><i class="zmdi zmdi-delete"></i></button>
                    {%endif%}
                </th>
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}

{%block extra_content%}
    <form id="form_wer" method="post" enctype="multipart/form-data" style="display:none" v-on:submit.prevent="onSubmit('form_wer')">{% csrf_token %}
        <div class="form-group">
            {{ form_wer|crispy }}
        </div>
    </form>
{%endblock extra_content%}

{%block extend_vue_Data%}
    {{ block.super }}
    event: 0,
{%endblock extend_vue_Data%}

{%block extend_vue_mounted%}
    self = this
    $('#id_wer').change(function(){
        self.onSubmit('form_wer');
    });
{%endblock extend_vue_mounted%}

{%block extend_vue_methods%}
    {{ block.super }}
    wer: function (event) {
        self.event = event
        $('#id_wer').trigger('click');
    },
    onSubmit: function (form) {
        if ($('#id_wer').val().split('.').pop() == 'wer' || $('#id_wer').val().split('.').pop() == 'xml'){
            data = new FormData($('#'+form).get(0));
            $.ajax({
                url: '{%url "magicproseries:mps_api" %}?method='+form+'&event='+self.event,
                type: 'post',
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function(data) {
                    if (data.api == false){
                        alert(data.message)
                    }
                    else{
                        location.reload();
                    }
                },
                error: function(data){
                    alert("Algo salió mal!")
                },
            });
        } 
        else alert('Sube un archivo .wer o .xml')
    }, 
{%endblock extend_vue_methods%}


