{% extends "dashboard.html" %}
{% load app_tags%}
{% load static %}

{% block title %}MPS :: YO SOY PRO{% endblock title %}

{%block headertitle%}MAGIC PRO SERIES{%endblock headertitle%}

{%block support%}
{%endblock%}

{%block extra_content%}
    <div class="grid-margins-items" size="1">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">MPS</h2>
            </div>
            <div class="stats__info">
                <div class="row stats grid">
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            {% if  perms.project.can_view_company %}
                                <div class="listview__item lh-9">
                                    <a href="{%url 'magicproseries:store-list'%}">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0">MIS TIENDAS</h3>
                                            <small class="color-default mt-3 pl-10"><i class="fa fa-building"></i> Configura tus tiendas </small>
                                            <small class="color-5 mt-3 fs-9"> Campos requeridos para configurar tu cuenta </small>
                                        </div>
                                    </a>
                                </div>
                            {%endif%}
                            {% if  perms.magicproseries.can_view_event%}
                                <div class="listview__item lh-9">
                                    <a href="{%url 'magicproseries:event-list'%}">
                                        <div class="widget-past-days__info">
                                            <h3 class="color-default fs-14 mb-0"> EVENTOS </h3>
                                            <small class="color-default mt-3 pl-10"><i class="fas fa-calendar-alt"></i> Lista de eventos </small>
                                            <small class="color-5 mt-3 fs-9">Administra los eventos de <strong>{{VAR.COMPANY}}</strong> </small>
                                        </div>
                                    </a>
                                </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock extra_content%}  