{% extends "generic/list.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block help_text%}
     <p>Da click en el logo o la foto de portada para cambiar las imagenes.</p>
{%endblock help_text%}

{%block list%}
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>LOGO</th>
            <th>PORTADA</th>
            <th>EMAIL</th>
            <th>CREADA</th>
            {%if VAR.MODULE|addaction:'can_delete_'|addlowerclassname:model|haspermission:request.user and obj.get_absolute_url_delete%}
                <th></th>
            {%endif%}
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td>
                    <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                        {{obj.name}}
                        <br /> Depende de: {%if obj.parent.code == 'MAGICPROSERIES'%}-{%else%}{{obj.parent|default_if_none:"-"}}{%endif%}
                    </a>
                </td>
                <td>
                    <a href="" v-on:click.prevent="logo({{obj.id}})" class="contacts__img" >
                        {%if obj.logo%}
                            <img id="logo" src="{{VAR.MEDIA_URL}}media/{{obj.logo}}" alt="">
                        {%else%}
                            <img id="logo" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/sq_logo.png" alt="">
                        {%endif%}
                    </a>
                </td>
                <td>
                    {%if obj.cover%}
                        <a href="" v-on:click.prevent="cover({{obj.id}})" class="cover__img" >
                            <img id="cover" src="{{VAR.MEDIA_URL}}media/{{obj.cover}}" alt="">
                        </a>    
                    {%else%}
                        <a href="" v-on:click.prevent="cover({{obj.id}})" class="contacts__img" >
                            <img id="cover" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/sq_logo.png" alt="">
                         </a>    
                    {%endif%}
                </td>
                <td>
                    <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                        EMAIL: {{obj.default_mail|default:"-"}} <br />
                        CONTACTO: {{obj.contact_mail|default:"-"}}
                    </a>
                </td>
                <td>
                    <a href="{{obj.get_absolute_url_update}}{{posturl|addposturl:'?'}}" class="color-default">
                        {{obj.creation_date|date:"SHORT_DATE_FORMAT"}}
                    </a>
                </td>
                {%if VAR.MODULE|addaction:'can_delete_'|addlowerclassname:model|haspermission:request.user and obj.get_absolute_url_delete%}
                    <td>{%if obj.can_delete%}<a v-on:click.prevent="del(text='{{model.delete_text.3}}',url='{{obj.get_absolute_url_delete}}{{posturl|addposturl:'?'}}')" class="color-default"><i class="fas fa-trash-alt"></i></a>{%endif%}</td>
                {%endif%}
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}

{%block extend_vue_Data%}
    {{ block.super }}
    store: 0,
{%endblock extend_vue_Data%}

{%block extra_content%}
    <form id="form_logo" method="post" enctype="multipart/form-data" style="display:none" v-on:submit.prevent="onSubmit('form_logo')">{% csrf_token %}
        <div class="form-group">
            {{ form_logo|crispy }}
        </div>
    </form>
    <form id="form_cover" method="post" enctype="multipart/form-data" style="display:none" v-on:submit.prevent="onSubmit('form_cover')">{% csrf_token %}
        <div class="form-group">
            {{ form_cover|crispy }}
        </div>
    </form>
{%endblock extra_content%}

{%block extend_vue_mounted%}
    self = this
    $('#id_logo').change(function(){
        self.onSubmit('form_logo', 'id_logo');
    });
    $('#id_cover').change(function(){
        self.onSubmit('form_cover', 'id_cover');
    });
{%endblock extend_vue_mounted%}

{%block extend_vue_methods%}
    logo: function (event) {
        self.store = event
        $('#id_logo').trigger('click');
    }, 
    cover: function (event) {
        self.store = event
        $('#id_cover').trigger('click');
    }, 
    onSubmit: function (form, field) {
        if ( $('#'+field).val().split('.').pop() == 'png' || $('#'+field).val().split('.').pop() == 'jpg'){
            data = new FormData($('#'+form).get(0));
            $.ajax({
                url: '{%url "magicproseries:mps_api" %}?method='+form+'&store='+self.store,
                type: 'post',
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function(data) {
                    if (data.api == false){
                        alert(data.message)
                    }
                    else{
                        location.reload();
                    }
                },
                error: function(data){
                    alert("Algo salió mal!")
                },
            });
        } 
        else alert('Sube un archivo .png o .jpg')
    }, 
{%endblock extend_vue_methods%}

