{% extends "generic/create.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block pre_css%}
    {{ block.super }}
    <link rel="stylesheet" href="{%static 'vendors/bower_components/flatpickr/dist/flatpickr.min.css'%}" />
{%endblock%}

{%block form%}
    <form id="form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="grid-margins-items" size="2">
            <div class="stats__item">
                <div class="stats__chart bg-default">
                    <h2 class="color-1 fs-18 mb-0">
                        DATOS DEL SOCIO
                    </h2>
                </div>
                <div class="stats__info">
                    <div class="form-group">
                        {{ form|crispy }}
                        <button type="submit" name="form" class="btn btn-lg waves-effect bg-color-default color-1">GUARDAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {%comment%}
    <form id="form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="grid-margins-items" size="2">
            <div class="stats__item">
                <div class="stats__chart bg-default">
                    <h2 class="color-1 fs-18 mb-0">
                        DIRECCIÓN
                    </h2>
                </div>
                <div class="stats__info">
                    <div class="form-group">
                        {{ userfinancialpartnersform|crispy }}
                        {{ form|crispy }}
                        <button type="submit" name="form" class="btn btn-lg waves-effect bg-color-default color-1">GUARDAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="grid-margins-items" size="2">
            <div class="stats__item">
                <div class="stats__chart bg-default">
                    <h2 class="color-1 fs-18 mb-0">
                        BANCOS
                    </h2>
                </div>
                <div class="stats__info">
                    <div class="form-group">
                        {{ userfinancialpartnersform|crispy }}
                        {{ form|crispy }}
                        <button type="submit" name="form" class="btn btn-lg waves-effect bg-color-default color-1">GUARDAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="grid-margins-items" size="2">
            <div class="stats__item">
                <div class="stats__chart bg-default">
                    <h2 class="color-1 fs-18 mb-0">
                        EMPRESAS
                    </h2>
                </div>
                <div class="stats__info">
                    <div class="form-group">
                        {{ userfinancialpartnersform|crispy }}
                        {{ form|crispy }}
                        <button type="submit" name="form" class="btn btn-lg waves-effect bg-color-default color-1">GUARDAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="grid-margins-items" size="2">
            <div class="stats__item">
                <div class="stats__chart bg-default">
                    <h2 class="color-1 fs-18 mb-0">
                        BENEFICIARIOS
                    </h2>
                </div>
                <div class="stats__info">
                    <div class="form-group">
                        {{ userfinancialpartnersform|crispy }}
                        {{ form|crispy }}
                        <button type="submit" name="form" class="btn btn-lg waves-effect bg-color-default color-1">GUARDAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="grid-margins-items" size="2">
            <div class="stats__item">
                <div class="stats__chart bg-default">
                    <h2 class="color-1 fs-18 mb-0">
                        DOCUMENTOS
                    </h2>
                </div>
                <div class="stats__info">
                    <div class="form-group">
                        {{ userfinancialpartnersform|crispy }}
                        {{ form|crispy }}
                        <button type="submit" name="form" class="btn btn-lg waves-effect bg-color-default color-1">GUARDAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {%endcomment%}
{%endblock form%}



{%block js%}
    {{ block.super }}
    <script src="{%static 'vendors/bower_components/flatpickr/dist/flatpickr.min.js'%}"></script>
{%endblock js%}

{%block rules%}
    first_name: {
        required: true,
    },
    last_name: {
        required: true,
    },
    gender: {
        required: true,
    },
    birthday: {
        required: true,
    },
    country: {
        required: true,
    },
    reference_number:{
        required: true,
    },
{%endblock rules%}

{%block extend_vue_mounted%}
    {{ block.super }}
    $('#id_actividad').select2({
        ajax: {
            url: '{%url "financialpartners:financialpartners_api"%}?method=get_clave_actividad_economica',
            data: function (params) {
                return {
                    search: params.term,
                }
            },
            processResults: function (data, params) {
                return {
                    results: data.items,
                };
            },
            cache: true
        },
        placeholder: 'Ingresa el código o actividad económica',
        escapeMarkup: function (markup) { return markup; },
        minimumInputLength: 1,
        templateResult: formatRepo,
        templateSelection: formatRepoSelection
    });
    function formatRepo (repo) {
        if (repo.loading) {
            return repo.text;
        }
        return repo.string;
    }
    function formatRepoSelection (repo) {
        return repo.string || repo.text;
    }
{%endblock extend_vue_mounted%}
