{% extends "generic/detail.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}
{% load app_financialpartners%}

{%block pre_css%}
    <style>
        {% include "includes/sellpoint_vendor_styleticket.html" with sellpoint=object%}
    </style>
{%endblock%}

{%block more_options%}
{%endblock%}

{%block detail_grid%}
    <div class="grid-margins-items" size="2">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">DATOS DEL SOCIO</h2>
            </div>
            <div class="stats__info">
                <div class="row stats grid">
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            <div class="listview__item lh-9">
                                <div class="widget-past-days__info">
                                    <h3 class="color-default fs-14 mb-0">{{object.string}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a  name="form" class="btn waves-effect bg-color-default color-1 mb-20"><i class="fa fa-file"></i> GENERAR ESTADO DE CUENTA </a>
            </div>
        </div>
    </div>
    <div class="grid-margins-items" size="2">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">DATOS FISCALES</h2>
            </div>
            <div class="stats__info">
                <div class="row stats grid">
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            {%for obj in object.my_fiscaldata%}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">
                                            {{obj.string}} 
                                            <span class="color-{%if obj|qeq_rfc%}danger{%else%}success{%endif%}">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </h3>
                                        <small class="color-5 mt-3 fs-9"></small>
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <a href="{% url 'financialpartners:fiscaldata-add' object.pk %}" name="form" class="btn waves-effect bg-color-default color-1 mb-20"><i class="fa fa-plus"></i> AGREGAR </a>
            </div>
        </div>
    </div>
     <div class="grid-margins-items" size="2">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">DIRECCIONES</h2>
            </div>
            <div class="stats__info">
                <div class="row stats grid">
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            {%for obj in object.my_address%}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{obj}}</h3>
                                        <small class="color-5 mt-3 fs-9"></small>
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <a href="{% url 'financialpartners:address-add' object.pk %}" name="form" class="btn waves-effect bg-color-default color-1 mb-20"><i class="fa fa-plus"></i> AGREGAR </a>
            </div>
        </div>
    </div>
    
    <div class="grid-margins-items" size="2">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">BENEFICIARIOS</h2>
            </div>
            <div class="stats__info">
                <a href="{% url 'financialpartners:financialpartners_beneficiarie-add' object.pk %}" name="form" class="btn waves-effect bg-color-default color-1"><i class="fa fa-plus"></i> AGREGAR </a>
                <div class="row stats grid">
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            {%for obj in object.my_financialpartners_beneficiaries%}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{obj.string}}</h3>
                                        <small class="color-5 mt-3 fs-9"></small>
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-margins-items" size="2">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">BANCOS</h2>
            </div>
            <div class="stats__info">
                <a href="{% url 'financialpartners:bank-add' object.pk %}" name="form" class="btn waves-effect bg-color-default color-1"><i class="fa fa-plus"></i> AGREGAR </a>
                <div class="row stats grid">
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            {%for obj in object.my_banks%}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{obj.string}}</h3>
                                        <small class="color-5 mt-3 fs-9"></small>
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-margins-items" size="2">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">HISTORIAL</h2>
            </div>
            <div class="stats__info">
                <div class="row stats grid">
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            <div class="listview__item lh-9">
                                <div class="widget-past-days__info">
                                    <h3 class="color-default fs-14 mb-0">Este usuario no tiene historial de cambios</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-margins-items" size="2">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">ARCHIVOS</h2>
            </div>
            <div class="stats__info">
                <a href="{% url 'financialpartners:file_user-add' object.pk %}" name="form" class="btn waves-effect bg-color-default color-1"><i class="fa fa-plus"></i> AGREGAR </a>
                <div class="row stats grid">
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            {%for obj in object.my_files%}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{obj.string}}</h3>
                                        <small class="color-5 mt-3 fs-9"></small>
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-margins-items" size="2">
        <div class="stats__item">
            <div class="stats__chart bg-default">
                <h2 class="color-1 fs-18 mb-0">INVERSIONES</h2>
            </div>
            <div class="stats__info">
                <a href="{% url 'financialpartners:investment-add' object.pk %}" name="form" class="btn waves-effect bg-color-default color-1"><i class="fa fa-plus"></i> AGREGAR </a>
                <div class="row stats grid">
                    <div class="grid-item">
                        <div class="listview listview--inverse listview--striped">
                            {%for obj in object.my_investments%}
                                <div class="listview__item lh-9">
                                    <div class="widget-past-days__info">
                                        <h3 class="color-default fs-14 mb-0">{{obj.string}}</h3>
                                        <small class="color-5 mt-3 fs-9"></small>
                                    </div>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock detail_grid%}

{%block js%}
    {{ block.super }}
    <script src="{%static 'vendors/jsbarcode/dist/JsBarcode.all.min.js'%}"></script>
{%endblock js%}

{%block extend_vue_Data%}
    ticket: [],
    sellpoint: [],
{%endblock extend_vue_Data%}

{%block extend_vue_methods%}
    {{ block.super }}
{%endblock extend_vue_methods%}

{%block vue_filters%}
{%endblock vue_filters%}

{%block extend_vue_mounted%}
{%endblock extend_vue_mounted%}



