{% extends "layout.html" %}
{% load static%}
{% load mptt_tags %}

{% block title %}{{sellpoint.name}} :: VENDEDOR{% endblock title %}

{%block meta%}
{%endblock meta%}

{%block local_style%}
    {% include "includes/sellpoint_vendor_styles.html" %}
{%endblock local_style%}

{%block hide_info%}
{%endblock hide_info%}

{%block headertitle%}{{sellpoint}} <span class="fs-11">{{sellpoint.company}}</span>{%endblock headertitle%}

{%block company_menu%}
{%endblock company_menu%}

{%block menu%}
    <ul class="navigation">
        {% recursetree nodes %}
            <li class="{% if children %}navigation__sub navigation__sub--toggled{% endif %}">
                <a href="" class="menu" v-on:click.prevent="show_products({{node.id}})">
                    <i class="zmdi zmdi-circle" style="color:{{node.color}};font-size: 17px;"></i> 
                    {{ node.name|upper|truncatechars:26 }} 
                    {% if children %}
                        <i class="zmdi zmdi-plus pull-right"></i>
                    {% endif %}
                </a>
                {% if children %}
                    <ul>
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
{%endblock %}

{%block aside%}
{%endblock aside%}

{%block content%}
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-9">
            <div class="card">
                <div class="card-block card-quantity">
                    <div class="row no-gutters">
                        {%comment%}
                            <div class="col-sm-12 col-md-4 paddinglr-2">
                                <div class="stats__item item-quantity">
                                    <div class="stats__info info-quantity">
                                        <h2 class="title-quantity">${quantity}</h2>
                                        <hr class="hr-ticket" />
                                        <div class="row no-gutters footer-quantity">
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('1')">1</h2></div>
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('2')">2</h2></div>
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('3')">3</h2></div>
                                        </div>
                                        <div class="row no-gutters footer-quantity">
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('4')">4</h2></div>
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('5')">5</h2></div>
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('6')">6</h2></div>
                                        </div>
                                        <div class="row no-gutters footer-quantity">
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('7')">7</h2></div>
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('8')">8</h2></div>
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('9')">9</h2></div>
                                        </div>
                                        <div class="row no-gutters footer-quantity">
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('.')" id="dot-quantity">.</h2></div>
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('0')">0</h2></div>
                                            <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="change_quantity('refresh')"><i class="zmdi zmdi-refresh"></i></h2></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endcomment%}
                        <div class="col-sm-12 col-md-3 paddinglr-2" v-for="product in products" v-if="active_menu === product.menu_pk">
                            <div class="stats__item item-product" v-on:click="add_product(product, 'quantity', product.price, 'add',)">
                                <div class="stats__chart" v-bind:style="{ 'background-color': product.color, }"></div>
                                <div class="stats__info info-product">
                                    <div class="div-title-product">
                                        <h2 class="title-product">${product.name}</h2>
                                    </div>
                                    <h2 class="title-price">${product.str_price}</h2>
                                    <div class="row no-gutters footer-product">
                                        <div class="col-sm-6">
                                            <h2 class="title-product pull-left"><small>${product.quantity}</small></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="card card-outline-3 mt-25 mb-0">
                <div class="row">
                    <div class="col-sm-4 text-center"></div>
                    <div class="col-sm-4 text-center"></div>
                    <div class="col-sm-4 text-center"><button class="btn btn--icon waves-effect bg-danger color-3 btn-actions" id="delete-ticket" v-on:click="message_delete_ticket('actual')" disabled="disabled"><i class="zmdi zmdi-delete"></i></button></div>
                </div>
                <div class="mt-25">
                    <div v-for="line in ticket.ticket_lines" v-on:click="modal_line(line)">
                        <h2 class="card-title color-2"><strong >${line.quantity}</strong> ${line.text_product}</h2>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 paddinglr-25">
                                <small class="text-left fs-12">$ ${line.price|price}</small>
                            </div>
                            <div class="col-sm-6 col-md-6 paddinglr-25 text-right">
                                <small class="text-right"><strong class="color-2 fs-12">$ ${line.total|price}</strong></small>
                            </div>
                        </div>
                        <hr class="hr-ticket">
                    </div>
                    <h2 class="card-footer color-2 text-right fs-20"><strong class="color-2">$ ${ticket.total|price}</strong></h2>
                    <modal>
                    </modal>
                </div>
            </div>
            <div class="card card-outline-3 mt-0 mb-0" v-if="online == false" style="margin-top:-2px!important;">
                <div class="mt-10">
                    <h2 class="card-footer color-2 text-center fs-12"><i class="fa fa-circle fs-9 danger-color"></i> SIN CONEXIÓN A INTERNET</h2>
                </div>
            </div>
            <div class="card card-outline-3 mt-0" v-if="pen_ticket.length" style="margin-top:-2px!important;">
                <div class="mt-10">
                    <h2 class="card-footer color-2 text-center fs-12"><i class="fa fa-circle fs-9 danger-color"></i> HAY TICKETS PENDIENTES </h2>
                </div>
            </div>
            <div class="modal fade" tabindex="-1">
                {% include "includes/sellpoint_vendor_ticket.html" %}
            </div>
        </div>
    </div>
{%endblock content%}

{%block footer%}
    <button class="btn btn-danger btn--action waves-effect btn--fixed bg-color-default color-1" id="print-ticket" disabled="disabled" v-on:click="print_ticket"><i class="zmdi zmdi-print"></i></button>
{%endblock%}

{%block js%}
    <script src="{%static 'js/vue.js'%}"></script>
    <script src="{%static 'js/socketio.js'%}"></script>
    <script src="{%static 'js/print.js'%}"></script>
    <script src="{%static 'js/moment.js'%}"></script>
    <script src="{%static 'js/storage.js'%}"></script>
    <script src="{%static 'vendors/vue-barcode/dist/vue-barcode.min.js'%}"></script>
    <script src="{%static 'vendors/vue-qrcode/dist/vue-qrcode.min.js'%}"></script>
{%endblock js%}

{%block script%}
    {% include "includes/sellpoint_vendor_js.html" %}    
{%endblock script%}


{%block components%}
    {% include "includes/sellpoint_vendor_components.html" %}    
{%endblock components%}