{% extends "generic/list.html" %}
{% load static%}

{%block list%}
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>EMAIL</th>
            <th>RFC</th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td><a href="{{obj.get_absolute_url_detail}}" class="color-default">{{obj.reference_number}}</a></td>
                <td><a href="{{obj.get_absolute_url_detail}}" class="color-default">{{obj.first_name}}</a></td>
                <td><a href="{{obj.get_absolute_url_detail}}" class="color-default">{{obj.last_name}}</a></td>
                <td><a href="{{obj.get_absolute_url_detail}}" class="color-default">{{obj.email}}</a></td>
                <td><a href="{{obj.get_absolute_url_detail}}" class="color-default">{{obj.rfcs|default:'-'}}</a></td>
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}s