{% extends "generic/create.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% load app_tags%}

{%block form%}
    <form id="form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="grid-margins-items" size="2">
            <div class="stats__item">
                <div class="stats__chart bg-default">
                    <h2 class="color-1 fs-18 mb-0">
                        CONSULTA QEQ
                    </h2>
                </div>
                <div class="stats__info">
                    <div class="form-group">
                        {{ form|crispy }}
                        <button class="btn btn-lg waves-effect bg-color-default color-1" v-on:click.prevent="make_consult">CONSULTA</button>
                    </div>
                </div>
                <div class="stats__info">
                    <div class="listview listview--hover">
                        <a class="listview__item" v-for="r in result">
                            <div class="listview__content">
                                <div class="listview__heading">
                                    <span v-if="r.admon_local"><strong>Admon_local:</strong> ${r.admon_local}<br /></span>
                                    <span v-if="r.apellidos"><strong>Apellidos:</strong> ${r.apellidos}<br /></span>
                                    <span v-if="r.area"><strong>Area:</strong> ${r.area}<br /></span>
                                    <span v-if="r.autoridad_sanc"><strong>Autoridad_sanc:</strong> ${r.autoridad_sanc}<br /></span>
                                    <span v-if="r.causa_irregularidad"><strong>Causa_irregularidad:</strong> ${r.causa_irregularidad}<br /></span>
                                    <span v-if="r.central_obrera"><strong>Central_obrera:</strong> ${r.central_obrera}<br /></span>
                                    <span v-if="r.ciudad"><strong>Ciudad:</strong> ${r.ciudad}<br /></span>
                                    <span v-if="r.colonia"><strong>Colonia:</strong> ${r.colonia}<br /></span>
                                    <span v-if="r.cp"><strong>Cp:</strong> ${r.cp}<br /></span>
                                    <span v-if="r.curp"><strong>Curp:</strong> ${r.curp}<br /></span>
                                    <span v-if="r.curp_ok"><strong>Curp_ok:</strong> ${r.curp_ok}<br /></span>
                                    <span v-if="r.dependencia"><strong>Dependencia:</strong> ${r.dependencia}<br /></span>
                                    <span v-if="r.domicilio_a"><strong>Domicilio_a:</strong> ${r.domicilio_a}<br /></span>
                                    <span v-if="r.domicilio_b"><strong>Domicilio_b:</strong> ${r.domicilio_b}<br /></span>
                                    <span v-if="r.duracion"><strong>Duracion:</strong> ${r.duracion}<br /></span>
                                    <span v-if="r.email"><strong>Email:</strong> ${r.email}<br /></span>
                                    <span v-if="r.entidad"><strong>Entidad:</strong> ${r.entidad}<br /></span>
                                    <span v-if="r.estatus"><strong>Estatus:</strong> ${r.estatus}<br /></span>
                                    <span v-if="r.expediente"><strong>Expediente:</strong> ${r.expediente}<br /></span>
                                    <span v-if="r.fax"><strong>Fax:</strong> ${r.fax}<br /></span>
                                    <span v-if="r.fecha_cargo_fin"><strong>Fecha_cargo_fin:</strong> ${r.fecha_cargo_fin}<br /></span>
                                    <span v-if="r.fecha_cargo_ini"><strong>Fecha_cargo_ini:</strong> ${r.fecha_cargo_ini}<br /></span>
                                    <span v-if="r.fecha_nacimiento"><strong>Fecha_nacimiento:</strong> ${r.fecha_nacimiento}<br /></span>
                                    <span v-if="r.fecha_resolucion"><strong>Fecha_resolucion:</strong> ${r.fecha_resolucion}<br /></span>
                                    <span v-if="r.fecha_vigencia"><strong>Fecha_vigencia:</strong> ${r.fecha_vigencia}<br /></span>
                                    <span v-if="r.gafi"><strong>Gafi:</strong> ${r.gafi}<br /></span>
                                    <span v-if="r.id_persona"><strong>Id_persona:</strong> ${r.id_persona}<br /></span>
                                    <span v-if="r.iddispo"><strong>Iddispo:</strong> ${r.iddispo}<br /></span>
                                    <span v-if="r.idrel"><strong>Idrel:</strong> ${r.idrel}<br /></span>
                                    <span v-if="r.imss"><strong>Imss:</strong> ${r.imss}<br /></span>
                                    <span v-if="r.ingresos"><strong>Ingresos:</strong> ${r.ingresos}<br /></span>
                                    <span v-if="r.issste"><strong>Issste:</strong> ${r.issste}<br /></span>
                                    <span v-if="r.lada"><strong>Lada:</strong> ${r.lada}<br /></span>
                                    <span v-if="r.lista"><strong>Lista:</strong> ${r.lista}<br /></span>
                                    <span v-if="r.materno"><strong>Materno:</strong> ${r.materno}<br /></span>
                                    <span v-if="r.monto"><strong>Monto:</strong> ${r.monto}<br /></span>
                                    <span v-if="r.nombre"><strong>Nombre:</strong> ${r.nombre}<br /></span>
                                    <span v-if="r.nombrecomp"><strong>Nombrecomp:</strong> ${r.nombrecomp}<br /></span>
                                    <span v-if="r.numord"><strong>Numord:</strong> ${r.numord}<br /></span>
                                    <span v-if="r.numsocios"><strong>Numsocios:</strong> ${r.numsocios}<br /></span>
                                    <span v-if="r.pais"><strong>Pais:</strong> ${r.pais}<br /></span>
                                    <span v-if="r.parentesco"><strong>Parentesco:</strong> ${r.parentesco}<br /></span>
                                    <span v-if="r.paterno"><strong>Paterno:</strong> ${r.paterno}<br /></span>
                                    <span v-if="r.periodo"><strong>Periodo:</strong> ${r.periodo}<br /></span>
                                    <span v-if="r.peso1"><strong>Peso1:</strong> ${r.peso1}<br /></span>
                                    <span v-if="r.peso2"><strong>Peso2:</strong> ${r.peso2}<br /></span>
                                    <span v-if="r.puesto"><strong>Puesto:</strong> ${r.puesto}<br /></span>
                                    <span v-if="r.razonsoc"><strong>Razonsoc:</strong> ${r.razonsoc}<br /></span>
                                    <span v-if="r.rfc"><strong>Rfc:</strong> ${r.rfc}<br /></span>
                                    <span v-if="r.rfcmoral"><strong>Rfcmoral:</strong> ${r.rfcmoral}<br /></span>
                                    <span v-if="r.rubro"><strong>Rubro:</strong> ${r.rubro}<br /></span>
                                    <span v-if="r.sancion"><strong>Sancion:</strong> ${r.sancion}<br /></span>
                                    <span v-if="r.sexo"><strong>Sexo:</strong> ${r.sexo}<br /></span>
                                    <span v-if="r.telefono"><strong>Telefono:</strong> ${r.telefono}<br /></span>
                                    <span v-if="r.titulo"><strong>Titulo:</strong> ${r.titulo}<br /></span>
                                    <hr />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{%endblock form%}

{%block extend_vue_methods%}
    make_consult: function () {
        $.post( 
            '{%url "financialpartners:financialpartners_api"%}' +
            '?method=qeq'+
            '&tipo='+self.tipo+
            '&rfc='+self.rfc+
            '&name='+self.name+
            '&first_name='+self.first_name+
            '&last_name='+self.last_name+
            '&curp='+self.curp+
            '&issste='+self.issste+
            '&imss='+self.imss+
            '&razon='+self.razon
        ).done(function( json ){
            if (json.data.xml){
                self.result = json.data.xml.persona
            }
            else{
                swal({
                    title: 'Error',
                    text: 'No se encontraron coincidencias',
                    type: 'warning',
                    confirmButtonClass: 'btn btn-danger bg-danger color-white',
                    confirmButtonText: 'Volver a ingresar',
                });
            }
        })
    }, 
{%endblock extend_vue_methods%}

{%block extend_vue_Data%}
    result: '',
    tipo: 'Persona',
    rfc: '',
    name: 'miguel',
    first_name: 'osorio',
    last_name: 'chong',
    curp: '',
    issste: '',
    imss: '',
    razon: '',
{%endblock extend_vue_Data%}

{%block extend_vue_mounted%}
    $('#div_id_razon').hide().val('')
{%endblock extend_vue_mounted%}

{%block extend_vue_watch%}
    'tipo': function(val, oldVal){
        if (val == 'Persona'){
            $('#div_id_name').show()
            $('#div_id_first_name').show()
            $('#div_id_last_name').show()
            $('#div_id_curp').show()
            $('#div_id_issste').show()
            $('#div_id_imss').show()
            $('#div_id_razon').hide()

        }
        if (val == 'Empresa'){
            $('#div_id_name').hide()
            $('#div_id_first_name').hide()
            $('#div_id_last_name').hide()
            $('#div_id_curp').hide()
            $('#div_id_issste').hide()
            $('#div_id_imss').hide()
            $('#div_id_razon').show()
        }
        self.name=''
        self.first_name=''
        self.last_name=''
        self.curp=''
        self.issste=''
        self.imss=''
        self.razon=''
        self.result='';
    },
{%endblock extend_vue_watch%}