{% load static%}
<script type="text/x-template" id="component-modal">
    <transition name="modal">
        <div class="modal fade" tabindex="-1" id="modal-ticket">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" v-if="modalticket === 'quantity'">
                    <div class="modal-body modal-body-ticket">
                        <div class="stats__item item-quantity">
                            <div class="stats__info info-quantity">
                                <h2 class="title-quantity"> ${quantity_line} </h2>
                                <hr class="hr-ticket" />
                                <div class="row no-gutters footer-quantity">
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_quantity_ticket('1', line)">1</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_quantity_ticket('2', line)">2</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_quantity_ticket('3', line)">3</h2></div>
                                </div>
                                <div class="row no-gutters footer-quantity">
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_quantity_ticket('4', line)">4</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_quantity_ticket('5', line)">5</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_quantity_ticket('6', line)">6</h2></div>
                                </div>
                                <div class="row no-gutters footer-quantity">
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_quantity_ticket('7', line)">7</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_quantity_ticket('8', line)">8</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_quantity_ticket('9', line)">9</h2></div>
                                </div>
                                <div class="row no-gutters footer-quantity">
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" {%if sellpoint.id == 22%}v-on:click="modify_quantity_ticket('.', line)"{%endif%} id="dot-quantity-line">.</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_quantity_ticket('0', line)">0</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_quantity_ticket('refresh', line)"><i class="zmdi zmdi-refresh"></i></h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modal-body-ticket footer-modal">
                        <button type="button" class="btn btn-link bg-color-default color-1 btn-lg" v-on:click="change_modal('modalticket','price')" v-if="dynamicprice">ACTUALIZAR PRECIO</button>
                        <button type="button" class="btn bg-danger color-3 btn-lg" v-on:click="modify_quantity_ticket('delete', line)"><i class="zmdi zmdi-delete"></i></button>
                    </div>
                </div>
                <div class="modal-content" v-if="modalticket === 'price'">
                    <div class="modal-body modal-body-ticket">
                        <div class="stats__item item-quantity">
                            <div class="stats__info info-quantity">
                                <h2 class="title-quantity">$ ${price_line} </h2>
                                <hr class="hr-ticket" />
                                <div class="row no-gutters footer-quantity">
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_price_ticket('1', line)">1</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_price_ticket('2', line)">2</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_price_ticket('3', line)">3</h2></div>
                                </div>
                                <div class="row no-gutters footer-quantity">
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_price_ticket('4', line)">4</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_price_ticket('5', line)">5</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_price_ticket('6', line)">6</h2></div>
                                </div>
                                <div class="row no-gutters footer-quantity">
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_price_ticket('7', line)">7</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_price_ticket('8', line)">8</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_price_ticket('9', line)">9</h2></div>
                                </div>
                                <div class="row no-gutters footer-quantity">
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" {%if sellpoint.id == 22%}v-on:click="modify_price_ticket('.', line)"{%endif%} id="dot-price-line">.</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_price_ticket('0', line)">0</h2></div>
                                    <div class="col-4"><h2 class="title-quantity title-quantity-padding" v-on:click="modify_price_ticket('refresh', line)"><i class="zmdi zmdi-refresh"></i></h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modal-body-ticket footer-modal">
                        <button type="button" class="btn btn-link bg-color-default color-1 btn-lg" v-on:click="change_modal('modalticket','quantity')">MODIFICAR CANTIDAD</button>
                        <button type="button" class="btn bg-danger color-3 btn-lg" v-on:click="modify_quantity_ticket('delete', line)"><i class="zmdi zmdi-delete"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>