{% load static%}
<div id="ticket">
    <table class="w-table margin-auto">
        <tr>
            <td class="fs-25 text-center"><strong>$${ticket.total|price}</strong></td>
        </tr>
        <tr v-if="ticket.order_tocount">
            <td class="fs-13 text-center"><strong>A cuenta: $${ticket.order_tocount|price}</strong></td>
        </tr>
        <tr v-if="ticket.order_tocount">
            <td class="fs-13 text-center"><strong>Resta: $${(ticket.total-ticket.order_tocount)|price}</strong></td>
        </tr>
        <tr>
            <td class="fs-11 text-center">
                <span v-if="ticket.order_name"><strong class="fs-12">Nombre: ${ticket.order_name}</strong><br /></span>
                <span v-if="ticket.order_phone"><strong class="fs-12">Contacto: ${ticket.order_phone}</strong><br /></span>
                <span v-if="ticket.order_datetime"><strong class="fs-12">${ moment( ticket.order_datetime ).format('DD-MM-YYYY, h:mm a') }</strong><br /></span>
                <span v-if="ticket.order_notes"><strong class="fs-12">Notas: ${ticket.order_notes}</strong><br /></span>
            </td>
        </tr>
        <tr>
            <td class="fs-11 text-center">
                ${ticket.format_date} - ${ticket.format_time}<br />
                <span v-if="sellpoint.header_line_black_1"><strong class="fs-12">${sellpoint.header_line_black_1}</strong><br /></span>
                <span v-if="sellpoint.header_line_black_2"><strong class="fs-12">${sellpoint.header_line_black_2}</strong><br /></span>
                <span v-if="sellpoint.header_line_black_3"><strong class="fs-12">${sellpoint.header_line_black_3}</strong><br /></span>
                <span v-if="sellpoint.header_line_1">${sellpoint.header_line_1}<br /></span>
                <span v-if="sellpoint.header_line_2">${sellpoint.header_line_2}<br /></span>
                <span v-if="sellpoint.header_line_3">${sellpoint.header_line_3}<br /></span>
                <span v-if="sellpoint.header_line_4">${sellpoint.header_line_4}<br /></span>
                <span v-if="sellpoint.header_line_5">${sellpoint.header_line_5}<br /></span>
                <span v-if="ticket.barcode">FOLIO: <strong>${ticket.barcode} </strong></span>
                KEY: <strong>${ticket.secret_code}</strong><br />
            </td>
        </tr>
    </table>
    <table class="w-table margin-auto">
        <thead>
            <tr>
                <th  class="fs-11 text-left">
                    <strong>#</strong>
                </th>
                <th  class="fs-11 text-center">
                    <strong>Nombre</strong>
                </th>
                <th  class="fs-11 text-right">
                    <strong>Un.</strong>
                </th>
                <th  class="fs-11 text-right">
                    <strong>Total</strong>
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="3" class="text-right fw-400 fs-11">
                    Subtotal:
                </th>
                <th colspan="1" class="text-right fs-11">
                    $${ticket.subtotal|price}
                </th>
            </tr>
            <tr v-if="ticket.iva">
                <th colspan="3" class="text-right fw-400 fs-11">
                    I.V.A.:
                </th>
                <th colspan="1" class="text-right fs-11">
                    $${ticket.iva|price}
                </th>
            </tr>
            <tr v-if="ticket.iva">
                <th colspan="3" class="text-right fw-400 fs-11">
                    IEPS:
                </th>
                <th colspan="1" class="text-right fs-11">
                    $${ticket.ieps|price}
                </th>
            </tr>
            <tr>
                <th colspan="3" class="text-right fw-400 fs-11">
                    Total:
                </th>
                <th colspan="1" class="text-right fs-11">
                    $${ticket.total|price}
                </th>
            </tr>
        </tfoot>
        <tbody>
            <tr v-for="line in ticket.ticket_lines">
                <th class="fs-11 text-left fw-400">
                    ${line.quantity}
                </td>
                <th class="fs-11 text-center fw-400" style="width:80%">
                    ${line.text_product}
                </td>
                <th class="fs-11 text-right fw-400">
                    $${line.price|price}
                </td>
                <th class="fs-11 text-right fw-400">
                    $${line.total|price}
                </td>
            </tr>
        </tbody>
    </table>
    <table class="w-table margin-auto">
        <tr>
            <td class="text-center" v-if="ticket.live">
                <qrcode v-bind:value="qrtext" :options="{ size: 90 }" tag="img"></qrcode>
            </td>
            <td class="text-center" v-else>
                <qrcode v-bind:value="qrtext" :options="{ size: 90 }" tag="img"></qrcode>
            </td>
        </tr>
        <tr>
            <td class="fs-9 text-center">
                <small>
                    <span v-if="sellpoint.footer_line_1">${sellpoint.footer_line_1}<br /></span>
                    <span v-if="sellpoint.footer_line_2">${sellpoint.footer_line_2}<br /></span>
                    <span v-if="sellpoint.footer_line_3">${sellpoint.footer_line_3}<br /></span>
                <small>
            </td>
        </tr>
        <tr>
            <td class="fs-9 text-center fw-400 lh-9">
                ${ticket.user_string}
            </td>
        </tr>
    </table>
</div>