{% extends "layout.html" %}
{% load app_tags%}
{% load static %}

{% block title %}PANEL DE INICIO :: {{VAR.VAR_LOCAL.NAME}}{% endblock title %}

{%block meta%}
{%endblock meta%}

{%block pre_css%}
{%endblock%}

{%block local_style%}
    {% include "include/dashboard_styles.html" %}
{%endblock local_style%}

{%block sidebar%}
{%endblock sidebar%}

{%block info%}
{%endblock info%}

{%block menu%}
    <ul class="navigation">
    </ul>
{%endblock %}

{%block aside%}
{%endblock aside%}

{%block contentfull%}content--full{%endblock%}

{%block content%}
    <div class="mt-r4"></div>
    <div class="grid-margins">
        {%if VAR.COMPANY|hasmodule:"project" %}
            {%if not VAR.COMPANY|hasmodule:"mps" %}
                {%if perms.project.can_view_company%}
                    <div class="grid-margins-items" size="1">
                        <div class="stats__item">
                            <div class="stats__chart bg-default">
                                <h2 class="color-1 fs-18 mb-0">DIRECTORIO</h2>
                            </div>
                            <div class="stats__info">
                                <div class="row stats grid">
                                    <div class="grid-item">
                                        <div class="listview listview--inverse listview--striped">
                                            {%for company in request.user.company.get_descendants_me%}
                                                <div class="listview__item lh-9">
                                                    <a class="change-company" href="" v-on:click.prevent="changecompany(c='{{company.id}}',$event)">
                                                        <div class="widget-past-days__info">
                                                            <h3 class="color-default fs-14 mb-0">{{company}}</h3>
                                                            <small class="color-default mt-3 pl-10"><i class="fa fa-circle"></i> {{company.creation_date|date:"SHORT_DATE_FORMAT" }}</small>
                                                        </div>
                                                    </a>
                                                </div>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endif%}
            {%endif%}
        {%endif%}
        {%if VAR.COMPANY|hasmodule:"project" %}
            {% if  perms.project.can_view_company or perms.project.can_view_user %}
                <div class="grid-margins-items" size="1">
                    <div class="stats__item">
                        <div class="stats__chart bg-default">
                            <h2 class="color-1 fs-18 mb-0">ORGANIZACIÓN</h2>
                        </div>
                        <div class="stats__info">
                            <div class="row stats grid">
                                <div class="grid-item">
                                    <div class="listview listview--inverse listview--striped">
                                        {% if  perms.project.can_view_company %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'project:company-list'%}">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">ORGANIZACIONES</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-building"></i> Configura tu organización </small>
                                                        <small class="color-5 mt-3 fs-9"> Campos requeridos para configurar tu organización </small>
                                                    </div>
                                                </a>
                                            </div>
                                        {%endif%}
                                        {% if  perms.project.can_view_user %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'project:user-list'%}?module=project">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">USUARIOS</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-user"></i> Administrar usuarios</small>
                                                        <small class="color-5 mt-3 fs-9">Administra todos los usuarios del sistema</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}
        {%endif%}
        {%if VAR.COMPANY|hasmodule:"financialpartners" %}
            {% if  perms.invoice.can_view_fiscaldata%}
                <div class="grid-margins-items" size="1">
                    <div class="stats__item">
                        <div class="stats__chart bg-default">
                            <h2 class="color-1 fs-18 mb-0">CONTROL DE SOCIOS</h2>
                        </div>
                        <div class="stats__info">
                            <div class="row stats grid">
                                <div class="grid-item">
                                    <div class="listview listview--inverse listview--striped">
                                        {% if  perms.financialpartners.can_view_financialpartners%}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'financialpartners:financialpartners-list'%}?module=financialpartners">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0"> LISTADO DE SOCIOS</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-male"></i> Listado de socios prestamistas</small>
                                                        <small class="color-5 mt-3 fs-9">Listado de los socios presamistas del sistema</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {%endif%}
                                        {% if  perms.intranet.can_view_catalogue %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'financialpartners:qeq-add'%}">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">QEQ</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fas fa-question"></i> Consulta de Quien es Quien</small>
                                                        <small class="color-5 mt-3 fs-9">Consultas de la plataforma quien es quien</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {%endif%}
                                        {% if  perms.financialpartners.can_view_financialgroups %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'invoice:fiscaldata-list'%}">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0"> GRUPO DE SOCIOS</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-user-circle"></i> Listado de grupos de socios</small>
                                                        <small class="color-5 mt-3 fs-9">Listado de los grupos de socios disponibles en el sistema</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {%endif%}
                                        <div class="listview__item lh-9">
                                            <a href="">
                                                <div class="widget-past-days__info">
                                                    <h3 class="color-default fs-14 mb-0"> REPORTES</h3>
                                                    <small class="color-default mt-3 pl-10"><i class="fa fa-file-excel-o"></i> Generación de reportes</small>
                                                    <small class="color-5 mt-3 fs-9">Herramientas para la generación de reportes</small>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="listview__item lh-9">
                                            <a href="">
                                                <div class="widget-past-days__info">
                                                    <h3 class="color-default fs-14 mb-0"> ESTADOS DE CUENTA</h3>
                                                    <small class="color-default mt-3 pl-10"><i class="fa fa-file-archive-o"></i> Generacón de estados de cuenta</small>
                                                    <small class="color-5 mt-3 fs-9">Administra la generción de estados de cuenta</small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}
        {%endif%}
        {%if VAR.COMPANY|hasmodule:"invoice" %}
            {% if  perms.invoice.can_view_fiscaldata%}
                <div class="grid-margins-items" size="1">
                    <div class="stats__item">
                        <div class="stats__chart bg-default">
                            <h2 class="color-1 fs-18 mb-0">FACTURACIÓN</h2>
                        </div>
                        <div class="stats__info">
                            <div class="row stats grid">
                                <div class="grid-item">
                                    <div class="listview listview--inverse listview--striped">
                                        {% if  perms.invoice.can_view_invoice %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'sellpoint:invoice-list'%}">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0"> FACTURAS EMITIDAS</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-address-card"></i> Facturas emitidas</small>
                                                        <small class="color-5 mt-3 fs-9">Administra las facturas que emites</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {%endif%}
                                    </div>
                                    <div class="listview listview--inverse listview--striped">
                                        {% if  perms.invoice.can_view_fiscaldata %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'invoice:fiscaldata-list'%}">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0"> DATOS FISCALES</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-address-card"></i> Datos de personas físicas o morales</small>
                                                        <small class="color-5 mt-3 fs-9">Administra los datos de tu razon social de persona física o moral</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {%endif%}
                                    </div>
                                    <div class="listview listview--inverse listview--striped">
                                        {% if  perms.invoice.can_view_fiscaldata %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'project:serial-list'%}?module=invoice">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">SERIES</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-barcode"></i> Agregar serie nueva</small>
                                                        <small class="color-5 mt-3 fs-9">Agrega una nueva serie a las facturas</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}
        {%endif%}
        {%if VAR.COMPANY|hasmodule:"intranet" %}
            <div class="grid-margins-items" size="1">
                <div class="stats__item">
                    <div class="stats__chart bg-default">
                        <h2 class="color-1 fs-18 mb-0">INTRANET</h2>
                    </div>
                    <div class="stats__info">
                        <div class="row stats grid">
                            <div class="grid-item">
                                <div class="listview listview--inverse listview--striped">
                                    {% if  perms.intranet.can_view_team %}
                                        <div class="listview__item lh-9">
                                            <a href="{%url 'intranet:team-list'%}">
                                                <div class="widget-past-days__info">
                                                    <h3 class="color-default fs-14 mb-0"> EQUIPOS</h3>
                                                    <small class="color-default mt-3 pl-10"><i class="fas fa-sitemap"></i> Organizaciones de empleados</small>
                                                    <small class="color-5 mt-3 fs-9">Administra los datos de tu </small>
                                                </div>
                                            </a>
                                        </div>
                                    {%endif%}
                                    {% if  perms.intranet.can_view_employee %}
                                        <div class="listview__item lh-9">
                                            <a href="{%url 'intranet:employee-list'%}">
                                                <div class="widget-past-days__info">
                                                    <h3 class="color-default fs-14 mb-0">EMPLEADOS</h3>
                                                    <small class="color-default mt-3 pl-10"><i class="fa fa-user"></i> Catálogo de empelados</small>
                                                    <small class="color-5 mt-3 fs-9">Listado de empelados de la organización</small>
                                                </div>
                                            </a>
                                        </div>
                                    {%endif%}
                                    {% if  perms.intranet.can_view_catalogue %}
                                        <div class="listview__item lh-9">
                                            <a href="{%url 'intranet:catalogue-list'%}">
                                                <div class="widget-past-days__info">
                                                    <h3 class="color-default fs-14 mb-0">CATÁLOGOS</h3>
                                                    <small class="color-default mt-3 pl-10"><i class="fas fa-copy"></i> Catálogo de documentos</small>
                                                    <small class="color-5 mt-3 fs-9">Listado de catalogos que usa la organización</small>
                                                </div>
                                            </a>
                                        </div>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%endif%}
        {%if VAR.COMPANY|hasmodule:"sellpoint" %}
            {% if  perms.sellpoint.can_view_serial or perms.sellpoint.can_view_sellpoint or perms.sellpoint.can_view_menu or perms.sellpoint.can_view_product or perms.sellpoint.can_admin_sellpoint or perms.sellpoint.can_view_product_attributes or perms.sellpoint.can_view_user or perms.sellpoint.can_view_ticket or perms.sellpoint.can_view_cut%}
                <div class="grid-margins-items" size="1">
                    <div class="stats__item">
                        <div class="stats__chart bg-default">
                            <h2 class="color-1 fs-16 mb-0">SUVENTA</h2>
                        </div>
                        <div class="stats__info">
                            <div class="row stats grid">
                                <div class="grid-item">
                                    <div class="listview listview--inverse listview--striped">
                                        {% if  perms.sellpoint.can_view_serial %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'project:serial-list'%}?module=sellpoint">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">SERIES</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-barcode"></i> Agregar serie nueva</small>
                                                        <small class="color-5 mt-3 fs-9">Agrega una nueva serie a tus puntos de venta</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if  perms.sellpoint.can_view_sellpoint %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'sellpoint:sellpoint-list'%}">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">PUNTOS DE VENTA</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-shopping-basket"></i> Administra tus sucursales</small>
                                                        <small class="color-5 mt-3 fs-9"> Configura y administra tus sucursales </small>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if  perms.sellpoint.can_view_menu %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'sellpoint:menu-list'%}">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">MENUS</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-list-ul"></i> Administración <strong>general</strong> de menus</small>
                                                        <small class="color-5 mt-3 fs-9"> Los menus se comparten igual para todas las sucursales </small>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if  perms.sellpoint.can_view_product %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'sellpoint:product-list'%}">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">PRODUCTOS</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-shopping-cart"></i> Administración <strong>general</strong> de productos</small>
                                                        <small class="color-5 mt-3 fs-9">Los productos se comparten en todas tus sucursales </small>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if  perms.sellpoint.can_view_user %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'project:user-list'%}?module=sellpoint">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">EMPLEADOS</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-users"></i> Administración <strong>general</strong> de personal</small>
                                                        <small class="color-5 mt-3 fs-9">Administra gerentes, supervisores, vendedores, cajeros</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if  perms.sellpoint.can_view_ticket %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'sellpoint:ticket-list'%}">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">TICKETS</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-tags"></i> Listado <strong>general</strong> de tickets</small>
                                                        <small class="color-5 mt-3 fs-9">Listado de todos los tickets marcados en tus sucursales</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if  perms.sellpoint.can_view_cut %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'sellpoint:cut-list'%}">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">CORTES</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-cut"></i> Listado <strong>general</strong> de cortes</small>
                                                        <small class="color-5 mt-3 fs-9">Listado de todos los cortes en tus sucursales</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if  perms.sellpoint.can_view_ticket %}
                                            <div class="listview__item lh-9">
                                                <a href="{%url 'sellpoint:ticket-list'%}?show_orders=1">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">PEDIDOS</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fa fa-bars"></i> Listado <strong>general</strong> de pedidos</small>
                                                        <small class="color-5 mt-3 fs-9">Listado de todos los pedidos</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if  request.user.is_superuser %}
                                            <div class="listview__item lh-9">
                                                <a href="" v-on:click.prevent="reload">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">RELOAD</h3>
                                                        <small class="color-default mt-3 pl-10">RELOAD</small>
                                                        <small class="color-5 mt-3 fs-9">RELOAD</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                        {% if  perms.sellpoint.admin_sellpoints %}
                                            <div class="listview__item lh-9">
                                                <a href="" v-on:click.prevent="update_products">
                                                    <div class="widget-past-days__info">
                                                        <h3 class="color-default fs-14 mb-0">ACTUALIZAR PRODUCTOS</h3>
                                                        <small class="color-default mt-3 pl-10"><i class="fas fa-sync-alt"></i> ACTUALIZAR PRODUCTOS</small>
                                                        <small class="color-5 mt-3 fs-9">ACTUALIZAR PRODUCTOS</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}
        {%endif%}
        {%block extra_content%}
        {%endblock extra_content%}
    </div>
{%endblock content%}

{%block js%}
{%endblock js%}

{%block script%}
    <script src="{%static 'js/masonry.js'%}"></script>
    <style>
        .grid {
            margin: 0 auto;
        }
        .grid-item {
            margin-bottom: 3rem;
        }
        .grid-margins{
            margin: 0 auto;
            border: 0px solid {{VAR.VAR_LOCAL.COLOR_5}}50;
        }
        .grid-margins-items {
            margin-top: 2rem;
        }
        .stats__item {
            margin: 5px!important;
        }
        .listview__item {
            padding: 1rem 1.2rem 1rem 1rem;
        }
    </style>
{%endblock script%}

{%block vue%}
    {%block prejsvue%}{%endblock%}
    <script src="{%static 'js/socketio.js'%}"></script>
    <script type="text/javascript" charset="utf-8">
        {%block vue_components%}{%endblock vue_components%}
        var socket = io('http://{{VAR.VAR_LOCAL.PAGES.DOMAIN}}:{{VAR.SOCKETIO.PORT}}')
        socket.emit('room', '{{VAR.COMPANY.code}}');
        new Vue({
            el: '#vue-app',
            delimiters: ['${', '}'],
            {%block vue_data%}
                data: {
                    {%block extend_vue_Data%}{%endblock extend_vue_Data%}
                },
            {%endblock%}
            created: function () {
                self = this
                console.log("vue ok")
                {%block extend_vue_created%}
                {%endblock extend_vue_created%}
            },
            {%block vue_methods%}
                methods: {
                    recalculate_grid: function (event) {
                        w = $( window ).width()-20;
                        $('.grid-margins-items').each(function( i, item ){
                            n = $(item).attr('size')
                            n = (n * {{VAR.VAR_GLOBAL.SIZE_DASHBOARD}})
                            if ($(item).attr('size') == 100) n = '100%'
                            else if (n >= w) n = '100%'
                            else n = n.toString() + 'px'
                            $(item).css('width', n)
                        });
                        $('.stats__chart').css('max-width', {{VAR.VAR_GLOBAL.SIZE_DASHBOARD}}-30)
                    },
                    changecompany: function (c={{VAR.COMPANY.id}}, event) {
                        $.getJSON('{%url "project:api"%}?method=change_company&c='+c, function(json){
                            if (json.api == true) window.location.href = '{%block redirect_url%}{%url "project:dashboard"%}{%endblock%}'
                        }).fail(function(xhr,errmsg,err){
                            error_message('Algo salió mal!', 'Contacta a un administrador para solucionar este problema.')
                        })
                    },
                    reload: function () {
                        data = {'company':'{{VAR.COMPANY.code}}'}
                        socket.emit('reload', data);
                    },
                    update_products: function () {
                        data = {'company':'{{VAR.COMPANY.code}}'}
                        socket.emit('update_products', data);
                    },
                    {%block extend_vue_methods%}
                    {%endblock extend_vue_methods%}
                },
            {%endblock vue_methods%}
            {%block vue_components_in%}
            {%endblock vue_components_in%}
            {%block vue_mounted%}
                mounted: function () {
                    $( window ).resize(function() {
                        self.recalculate_grid();
                    });
                    self.recalculate_grid();
                    $('.grid').masonry({
                        itemSelector: '.grid-item',
                        columnWidth: {{VAR.VAR_GLOBAL.SIZE_DASHBOARD}}-19,
                        fitWidth: true,
                    });
                    $('.grid-margins').masonry({
                        itemSelector: '.grid-margins-items',
                        fitWidth: true,
                        gutter: 0
                    });
                    $('.grid-margins').masonry({
                        itemSelector: '.grid-margins-items',
                        fitWidth: true,
                        gutter: 0
                    });
                    {%block extend_vue_mounted%}
                    {%endblock extend_vue_mounted%}
                },
            {%endblock vue_mounted%}
            {%block vue_watch%}
                watch: {
                    {%block extend_vue_watch%}
                    {%endblock extend_vue_watch%}
                },
            {%endblock vue_watch%}
            {%block vue_filters%}
            {%endblock vue_filters%}
        });
    </script>

{%endblock vue%}
