<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<style type="text/css">
    .ReadMsgBody {
        width: 100%;
        background-color: #ffffff;
    }

    .ExternalClass {
        width: 100%;
        background-color: #ffffff;
    }

    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
        line-height: 100%;
    }

    html {
        width: 100%;
    }

    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        margin: 0;
        padding: 0;
    }

    table {
        border-spacing: 0;
        table-layout: fixed;
        margin: 0 auto;
    }

    table table table {
        table-layout: auto;
    }

    img {
        display: block !important;
        over-flow: hidden !important;
    }

    table td {
        border-collapse: collapse;
    }

    .yshortcuts a {
        border-bottom: none !important;
    }

    a {
        color: #3498db;
        text-decoration: none;
    }

    .textbutton a {
        font-family: 'open sans', arial, sans-serif !important;
        color: #ffffff !important;
    }

    .footer-link a {
        color: #979797 !important;
    }

    /*Responsive*/

    @media only screen and (max-width: 640px) {
        body {
            width: auto !important;
        }
        table[class="table600"] {
            width: 450px !important;
        }
        table[class="table-inner"] {
            width: 90% !important;
        }
        table[class="table2-2"] {
            width: 47% !important;
            text-align: left !important;
        }
        table[class="table3-3"] {
            width: 100% !important;
            text-align: center !important;
        }
        table[class="table1-3"] {
            width: 29% !important;
        }
        table[class="table3-1"] {
            width: 64% !important;
            text-align: left !important;
        }
        td[class="header-td"] {
            height: 50px !important;
            max-height: 50px !important;
            line-height: 0px !important;
        }
        td[class="td-hide"] {
            height: 0px !important;
            max-height: 0px !important;
            line-height: 0px !important;
        }
        /* Image */
        img[class="img1"] {
            width: 100% !important;
            height: auto !important;
        }
    }

    @media only screen and (max-width: 479px) {
        body {
            width: auto !important;
        }
        table[class="table600"] {
            width: 290px !important;
        }
        table[class="table-inner"] {
            width: 82% !important;
        }
        table[class="table2-2"] {
            width: 100% !important;
            text-align: center !important;
        }
        table[class="table3-3"] {
            width: 100% !important;
            text-align: center !important;
        }
        table[class="table1-3"] {
            width: 100% !important;
        }
        table[class="table3-1"] {
            width: 100% !important;
            text-align: center !important;
        }
        td[class="header-td"] {
            height: 50px !important;
            max-height: 20px !important;
            line-height: 0px !important;
        }
        td[class="td-hide"] {
            height: 0px !important;
            max-height: 0px !important;
            line-height: 0px !important;
        }
        /* image */
        img[class="img1"] {
            width: 100% !important;
        }
    }
</style>
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#4a0000" background="{{STATIC_URL}}/images/index_bg.jpg"
    style="background-size:cover; background-position:bottom;">
    <tbody>
        <tr>
            <td height="70"></td>
        </tr>
        <tr>
            <td align="center">
                <table align="center" class="table600" width="600" border="0" cellspacing="0" cellpadding="0">
                    <!-- logo -->
                    <tbody>

                        <tr>
                            <td height="40" class="header-td"></td>
                        </tr>
                        <!-- Head-line -->
                        <tr align="center">
                            <td data-link-style="text-decoration:none; color:#3cb2d0;" data-link-color="Header Link" data-color="Header Title" data-size="Header Title"
                                height="74" style="font-family: century gothic, open sans, arial; font-size:42px; color:#ffffff; letter-spacing:4px;"
                                mc:edit="header-headline"> 
                                <img class="central_logo" src="https://s3.amazonaws.com/mirari/static/pages/pasteleriaslaestrella/img/logo.png" style="max-width: 300px;">
                            </td>
                        </tr>
                        <!-- end Head-line -->
                        <tr>
                            <td height="20"></td>
                        </tr>
                        <tr>
                            <td height="55"></td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table data-thumb="http://www.stampready.net/dashboard/zip_uploads/7yXZtI0CQpRW34fG2PvMBhYn/blue-boxed/thumbnails/1-1 content box.png"
    data-module="1/1 Content Box" data-bgcolor="Background" mc:repeatable="layout" mc:hideable="" mc:variant="1/1 Content Box"
    width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>

        <tr>
            <td align="center">
                <table data-bgcolor="Box Color" align="center" class="table600" bgcolor="#f5f5f5" style="border-radius:8px;" width="100%"
                    border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="center">
                                <table class="table-inner" width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <!-- title -->
                                        <tr>
                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="Content Link" data-color="Headline" data-size="Headline"
                                                mc:edit="1/1 content box title" align="left" style="font-family: 'Open Sans', Arial, sans-serif; color:#3b3b3b; font-size:18px; font-weight: bold; line-height:28px;">Te hemos enviado la factura que nos solicitaste <br /> GRACIAS POR SU PREFERENCIA.
                                            </td>
                                        </tr>
                                        <!-- end title -->
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                        <!-- content -->
                                        <tr>
                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="Content Link" data-color="Main Text" data-size="Main Text"
                                                mc:edit="1/1 content box content" align="left" style="font-family: 'Open Sans', Arial, sans-serif; color:#7f8c8d; font-size:13px; line-height:28px;">
                                            No respondas este correo electrónico, los correos electrónicos enviados a esta
                                                dirección no se responderán. </td>
                                        </tr>
                                        <!-- end content -->
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td data-bgcolor="Footer" data-border-top-color="Top Border" style="border-top:4px solid #4a0000;" bgcolor="#4a0000" align="center">
                <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="table600">
                    <tbody>
                        <tr>
                            <td>
                                <!-- left -->
                                <table class="table3-3" width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="40"></td>
                                        </tr>
                                        <!-- title -->
                                        <tr>
                                            <td data-link-style="text-decoration:none; color:#3498db;" data-link-color="Footer Text Link" data-color="Footer Title" data-size="Footer Title"
                                                mc:edit="footer title" style="font-family: 'Open Sans', Arial, sans-serif; color:#ffffff; font-size:20px; font-weight: bold; line-height:28px;">
                                                <small>
                                                    <small>PASTELERIASLAESTRELLA</small>
                                                </small>
                                            </td>
                                        </tr>
                                        <!-- end title -->
                                        <tr>
                                            <td height="50"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- end left -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>