{% load static %}
{% load user_agents %}
{% load app_tags%}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=.8, user-scalable=no" />
        <title>{% block title %}{{VAR.VAR_GLOBAL.SYTEM_NAME}} :: {{VAR.VAR_LOCAL.NAME}}{% endblock title %}</title>
        <link rel="stylesheet" href="{%static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css'%}">
        <link rel="stylesheet" href="{%static 'vendors/bower_components/animate.css/animate.min.css'%}">
        <link rel="stylesheet" href="{%static 'vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css'%}">
        {%block pre_css%}{%endblock%}
        <link rel="stylesheet" href="{%static 'css/app.css'%}">
        <link rel="stylesheet" href="{%static 'vendors/bower_components/sweetalert2/dist/sweetalert2.min.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.ICO}}" rel="icon" type="image/x-icon" />
        {%block meta%}
        {%endblock meta%}
    </head>
    {% include "include/globalstyle.html" %}
    {%block local_style%}
    {%endblock local_style%} 
    <body data-ma-theme="green">
        <main class="main">
            <div class="page-loader">
                <div class="page-loader__spinner">
                    <svg viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
            <div id="vue-app">
                <header class="header">
                    <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
                        <div class="navigation-trigger__inner">
                            <i class="navigation-trigger__line"></i>
                            <i class="navigation-trigger__line"></i>
                            <i class="navigation-trigger__line"></i>
                        </div>
                    </div>
                    {%block header%}
                        <div class="header__logo hidden-sm-down">
                            <h1 class="color-1">
                                <a href="{%url 'project:dashboard'%}">
                                    {%block headertitle%}PANEL DE INICIO{%endblock headertitle%}
                                </a>
                            </h1>
                        </div>
                        <ul class="top-nav">
                            {%block company_menu%}
                                <li class="dropdown paddingrr-1">
                                    <a href="" data-toggle="dropdown" aria-expanded="false" class="paddingrr-1"><span class="fw-400 fs-14 paddingrr-06">{{VAR.COMPANY.name}}</span> <i class="zmdi zmdi-caret-down"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                                        <div class="listview listview--hover">
                                            <div class="listview__header"><strong>ACTUALMENTE</strong><br/>{{VAR.COMPANY.name}}</div>
                                            {% recursetree request.user.company.get_descendants_me %}
                                                <a class="listview__item change-company" v-on:click="changecompany(c='{{node.id}}',$event)">
                                                    <div class="listview__content">
                                                        <div class="widget-past-days__info lh-r1">
                                                            <h3 class="color-default fs-14 mb-0 {%if VAR.COMPANY == node%}color-4{%endif%}">
                                                                {% for i in node.level|rangeloop %}<span class="paddingl-r2">&nbsp</span>{%endfor%}
                                                                {{node.name}}
                                                            </h3>
                                                            <small class="color-5 mt-0 fs-9">
                                                                {% for i in node.level|rangeloop %}<span class="paddingl-r2">&nbsp</span>{%endfor%}
                                                                Desde: {{node.creation_date|date:"SHORT_DATE_FORMAT"}}
                                                            </small>
                                                            <br />
                                                            {%if not node.parent.name%}
                                                                <small class="mt-0 fs-11 color-5">
                                                                    {% for i in node.level|rangeloop %}<span class="paddingl-r2">&nbsp</span>{%endfor%}
                                                                    CUENTA MAESTRA
                                                                </small>
                                                            {%endif%}
                                                        </div>
                                                    </div>
                                                </a>
                                                {% if children %}
                                                    {{ children }}
                                                {% endif %}
                                            {% endrecursetree %}
                                        </div>
                                    </div>
                                </li>
                            {%endblock%}
                            <li class="dropdown paddingrr-1">
                                <a href="" data-ma-action="aside-open" data-ma-target=".chat" class="top-nav">
                                    <span class="fw-400 fs-14 paddingrr-06">{{request.user.visible_username}}</span> 
                                </a>
                            </li>
                        </ul>
                    {%endblock%}
                </header>
                {%block sidebar%}
                    <aside class="sidebar">
                        <div class="scrollbar-inner">
                            {%block menu%}
                            {%endblock %}
                        </div>
                    </aside>
                {%endblock sidebar%}
                {%block aside%}
                {%endblock aside%}
                <aside class="chat">
                    <div class="listview listview--hover chat__buddies scrollbar-inner">
                        {%if request.user.can_change_password%}
                            <a href="{%url 'project:user-changepassword' request.user.id %}" class="listview__item">
                                <i class="fa fa-key sidebar-icon"></i>
                                <div class="listview__content">
                                    <div class="listview__heading">CAMBIAR CONTRASEÑA</div>
                                    <p class="fs-11">Cambia tu contraseña del sistema</p>
                                </div>
                            </a>
                        {%endif%}
                        <a href="{%url 'project:user_logout'%}" class="listview__item">
                            <i class="fas fa-sign-out-alt sidebar-icon"></i>
                            <div class="listview__content">
                                <div class="listview__heading">SALIR DEL SISTEMA</div>
                                <p class="fs-11">Salir del sistema</p>
                            </div>
                        </a>
                        {%if request.user.is_superuser%}
                            <hr />
                            <div class="listview listview--inverse listview--striped">
                                {%for company in request.user.get_all_master%}
                                    <div class="listview__item lh-9">
                                        <a class="change-company" href="" v-on:click.prevent="changecompany(c='{{company.id}}',$event)">
                                            <div class="widget-past-days__info">
                                                <h3 class="color-default fs-14 mb-0">{{company}}</h3>
                                                <small class="color-5 mt-3 pl-10 fs-11"> {{company.creation_date|date:"SHORT_DATE_FORMAT" }} ({{company.id}})</small>
                                            </div>
                                        </a>
                                    </div>
                                {%endfor%}
                            </div>
                        {%endif%} 
                        {% with sellpoints_=request.user|get_my_sellpoints:VAR.COMPANY %}
                            {%if VAR.COMPANY|hasmodule:"sellpoint"%}
                                {%if sellpoints_%}
                                    <hr class="hr-sidebar"/>
                                    {%for sellpoint_ in sellpoints_%}
                                        {%for group in request.user.groups.all%}
                                            {%if group.code == 'vendor_sellpoint'%}
                                                <a href="{%url 'sellpoint:sellpoint_vendor'%}?sellpoint={{sellpoint_.id}}" class="listview__item">
                                                    <i class="fas fa-dollar-sign sidebar-icon"></i>
                                                    <div class="listview__content">
                                                        <div class="listview__heading">VENDEDOR <strong>{{sellpoint_.name|upper}}</strong></div>
                                                        <p class="fs-11">Vendedor de la sucursal {{sellpoint_.name}}</p>
                                                    </div>
                                                </a>
                                            {%endif%}
                                            {%if not sellpoint_.auto_cash%}
                                                {%if group.code == 'casher_sellpoint'%}
                                                    <a href="{%url 'sellpoint:sellpoint_casher'%}?sellpoint={{sellpoint_.id}}" class="listview__item">
                                                        <i class="fa fa-credit-card sidebar-icon"></i>
                                                        <div class="listview__content">
                                                            <div class="listview__heading">CAJERO <strong>{{sellpoint_.name|upper}}</strong></div>
                                                            <p class="fs-11">Cajero de la sucursal {{sellpoint_.name}}</p>
                                                        </div>
                                                    </a>
                                                {%endif%}
                                            {%endif%}
                                        {%endfor%}
                                    {%endfor%}
                                {%endif%}
                            {%endif%}
                        {% endwith %}
                        {%block extend_aside%}
                        {%endblock extend_aside%}
                    </div>
                </aside>
                <section class="content {%block contentfull%}{%endblock contentfull%}">
                    {%block content%}
                    {%endblock content%}
                    {%block footer%}
                        <footer class="footer hidden-xs-down">
                            <p>{{VAR.VAR_LOCAL.NAME}} {% now "Y" %}</p> 
                            {%block support%}
                                <br /><small>SOPORTE GUSTAVO CASTELLANOS CEL. (55)-37232182</small>
                            {%endblock%}
                            <ul class="nav footer__nav">
                                <a class="nav-link" href="">INICIO</a>

                                <a class="nav-link" href="">NOSOTROS</a>

                                <a class="nav-link" href="">SOPORTE</a>

                                <a class="nav-link" href="">BLOG</a>

                                <a class="nav-link" href="">CONTACTO</a>
                            </ul>
                    {%endblock%}
                </section>
                {%block endcontent%}
                {%endblock endcontent%}
            </div>
            {%block components%}
            {%endblock components%}
        </main>
        {% include "include/layout_js.html" %}
        {%block js%}
        {%endblock js%}
        <script src="{%static 'js/app.min.js'%}"></script>
        <script src="{%static 'js/vue.js'%}"></script>
        <script src="{%static 'fonts/fontawesome/svg-with-js/js/fontawesome-all.min.js'%}"></script>
        <script>
            {%if messages%}
                {% for message in messages %}
                    {%if message.tags == 'success' %}
                        notify('bottom', 'left', '', '{{ message.tags }}', 'animated flipInX', 'animated flipOutX', 10000, 'Exito! ', '{{message}}', );
                    {%else%}
                        notify('bottom', 'left', '', 'danger', 'animated flipInX', 'animated flipOutX', 10000, 'Opps...! ', '{{message}}', );
                    {%endif%}
                {% endfor %}
            {%endif%}
        </script>
        {%block script%}
        {%endblock script%}
        {%block vue%}
        {%endblock vue%}
        {%block post_js%}
        {%endblock post_js%}
    </body>
</html>
