<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{VAR_LOCAL.PAGES.TITLE}} :: {{VAR_LOCAL.PAGES.SLOGAN}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/icon.png">
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/magnific-popup/dist/magnific-popup.css" />
  <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}youplay/css/youplay-shooter.min.css" />
  <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/custom.css" />
</head>
<body>
  <nav class="navbar-youplay navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index-2.html">
          <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo.png" alt="">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="index-2.html#preorder">
              Pre-Order
              <span class="label">Early Edition</span>
            </a>
          </li>
          <li>
            <a href="blog.html">
              News
              <span class="label">Our Blog</span>
            </a>
          </li>
          <li>
            <a href="forums.html">
              Community
              <span class="label">Forums</span>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown dropdown-hover dropdown-cart">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu pb-20" style="width: 300px;">
              <div class="block-content ml-20 mr-20 mnb-10">
                <div class="lwa lwa-default">
                  <form class="block-content" action="#" method="post">
                    <p>Username:</p>
                    <div class="youplay-input">
                      <input type="text" name="log">
                    </div>
                    <p>Password:</p>
                    <div class="youplay-input">
                      <input type="password" name="pwd">
                    </div>
                    <div class="youplay-checkbox mb-15 ml-5">
                      <input type="checkbox" name="rememberme" value="forever" id="rememberme" tabindex="103">
                      <label for="rememberme">Remember Me</label>
                    </div>
                    <button class="btn btn-sm ml-0 mr-0" name="wp-submit" id="lwa_wp-submit" tabindex="100">Log In</button>
                    <br>
                    <p>
                      <a href="#">Lost password?</a> | <a href="#">Register</a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="content-wrap">
    <section class="youplay-banner banner-top big">
      <div class="image" style="background-image: url('{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/banner-bg.jpg')">
      </div>
      <div class="info">
        <div>
          <div class="container text-center">
            <h1 class="fs-60">Call of Shooter</h1>
            <a class="btn btn-md video-popup" href="https://www.youtube.com/watch?v=c7nRTF2SowQ"><i class="fa fa-play-circle"></i>&nbsp; Watch The Trailer</a>
          </div>
        </div>
      </div>
    </section>
    <div class="container mt-60">
      <div class="youplay-carousel" data-stage-padding="0" data-item-padding="15" data-autoplay="8000">
        <a class="angled-img" href="index-2.html#preorder">
          <div class="img">
            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/game-cos-1-500x375.jpg" alt="">
          </div>
          <div class="bottom-info">
            <h4>Preorder Today</h4>
            <div>We will send you Early Edition of Call of Shooter.</div>
          </div>
        </a>
        <a class="angled-img" href="blog.html">
          <div class="img">
            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/game-cos-6-500x375.jpg" alt="">
          </div>
          <div class="bottom-info">
            <h4>Our News</h4>
            <div>Get news from the source, and you don't miss anything important.</div>
          </div>
        </a>
        <a class="angled-img" href="forums.html">
          <div class="img">
            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/game-cos-3-500x375.jpg" alt="">
          </div>
          <div class="bottom-info">
            <h4>Join Community</h4>
            <div>Be the part of huge gaming community.</div>
          </div>
        </a>
        <a class="angled-img" href="https://twitter.com/nkdevv" target="_blank">
          <div class="img">
            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/game-cos-4-500x375.jpg" alt="">
          </div>
          <div class="bottom-info">
            <h4>Follow on Twitter</h4>
            <div>We love and use this social network for smart people.</div>
          </div>
        </a>
      </div>
    </div>
    <section class="youplay-banner big mt-40">
      <div class="image" style="background-image: url('{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/game-cos-2-1920x1200.jpg');">
      </div>
      <div class="info">
        <div>
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <h2 class="fs-40">Realistic Battles</h2>
                <p class="lead">Eleifend sem ipsum conubia euismod potenti ante ad sem sed, dictumst hymenaeos torquent quis. Class leo. Odio orci velit nulla habitasse conubia tempor eleifend dui suscipit mauris eget mollis</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container mt-120">
      <div class="row">
        <div class="col-xs-12">
          <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/game-cos-7-1920x1200.jpg" alt="">
          <h2 class="fs-40">The True Emotions</h2>
          <p class="lead">Vivamus maecenas, praesent. Sociosqu laoreet risus purus. Sed mus vivamus. Pede metus rutrum dui Aliquet ac auctor nulla montes Donec fermentum penatibus feugiat elementum interdum Consequat ipsum turpis proin taciti cursus senectus urna ultrices
            orci dui id vitae massa hendrerit consectetuer lectus augue inceptos viverra erat. Vitae nostra fames neque.</p>
        </div>
      </div>
    </section>
    <section class="youplay-banner big mt-120" id="preorder">
      <div class="image" style="background-image: url('{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/game-cos-5-1920x1080.jpg');">
      </div>
      <div class="info container align-center">
        <div>
          <h2>Pre-Order Today</h2>
          <h3>Xbox One and Play Station 4</h3>
          <br>
          <br>
          <a class="btn btn-lg" href="#!">Pre-Order</a>
        </div>
      </div>
    </section>
    <footer class="youplay-footer">
      <div class="wrapper">
        <div class="widgets">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="side-block">
                  <div class="block-content">
                    <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo.png" alt="">
                    <br>
                    <br>
                    <p>
                      Pretium placerat senectus cubilia purus. In curae; sem morbi odio, platea magna. Fames integer accumsan. Pellentesque proin fermentum et consequat.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="side-block">
                  <h4 class="block-title">Popular News</h4>
                  <div class="block-content p-0">
                    <div class="row youplay-side-news">
                      <div class="col-xs-3 col-md-4">
                        <a href="blog-post-1.html" class="angled-img">
                          <div class="img">
                            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/game-cos-1-500x375.jpg" alt="">
                          </div>
                        </a>
                      </div>
                      <div class="col-xs-9 col-md-8">
                        <h4 class="ellipsis"><a href="blog-post-1.html" title="Bloodborne - First Try!">Ready for Preorder - Call of Shooter</a></h4>
                        <span class="date"><i class="fa fa-calendar"></i> May 14, 2016</span>
                      </div>
                    </div>
                    <div class="row youplay-side-news">
                      <div class="col-xs-3 col-md-4">
                        <a href="#!" class="angled-img">
                          <div class="img">
                            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/game-cos-2-500x375.jpg" alt="">
                          </div>
                        </a>
                      </div>
                      <div class="col-xs-9 col-md-8">
                        <h4 class="ellipsis"><a href="#!" title="Whats New in Middle-earth">Closed Beta Started Today - Call of Shooter</a></h4>
                        <span class="date"><i class="fa fa-calendar"></i> April 24, 2016</span>
                      </div>
                    </div>
                    <div class="row youplay-side-news">
                      <div class="col-xs-3 col-md-4">
                        <a href="#!" class="angled-img">
                          <div class="img">
                            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/game-cos-3-500x375.jpg" alt="">
                          </div>
                        </a>
                      </div>
                      <div class="col-xs-9 col-md-8">
                        <h4 class="ellipsis"><a href="#!" title="Let's Grind Diablo III">We are in Facebook Now!</a></h4>
                        <span class="date"><i class="fa fa-calendar"></i> April 5, 2016</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="side-block">
                  <h4 class="block-title">Our Twitter</h4>
                  <div class="block-content">
                    <div class="youplay-twitter" data-twitter-user-name="nkdevv" data-twitter-count="2" data-twitter-hide-replies="false"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="side-block">
                  <h4 class="block-title">Instagram</h4>
                  <div class="youplay-instagram row small-gap" data-instagram-user-id="2133360819"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="container">
            <strong>nK</strong> &copy; 2016. All rights reserved
          </div>
        </div>
      </div>
    </footer>
  </section>
  <div class="search-block">
    <a href="#!" class="search-toggle glyphicon glyphicon-remove"></a>
    <form action="http://html.nkdev.info/youplay/shooter/search.html">
      <div class="youplay-input">
        <input type="text" name="search" placeholder="Search...">
      </div>
    </form>
  </div>
  <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/HexagonProgress/jquery.hexagonprogress.min.js"></script>
  <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/jarallax/dist/jarallax.min.js"></script>
  <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/smoothscroll-for-websites/SmoothScroll.js"></script>
  <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
  <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>
  <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}youplay/js/youplay.min.js"></script>
  <script>
    if(typeof youplay !== 'undefined') {
      youplay.init({
        parallax:         true,
        navbarSmall:      false,
        fadeBetweenPages: true,
        php: {
            twitter: './php/twitter/tweet.php',
            instagram: './php/instagram/instagram.php'
        }
      });
    }
  </script>
  <script type="text/javascript">
    $(".countdown").each(function() {
      $(this).countdown($(this).attr('data-end'), function(event) {
        $(this).html(event.strftime(
          [
            '<div class="countdown-item">',
                '<span>Days</span>',
                '<span><span>%D</span></span>',
            '</div>',
            '<div class="countdown-item">',
                '<span>Hours</span>',
                '<span><span>%H</span></span>',
            '</div>',
            '<div class="countdown-item">',
                '<span>Minutes</span>',
                '<span><span>%M</span></span>',
            '</div>',
            '<div class="countdown-item">',
                '<span>Seconds</span>',
                '<span><span>%S</span></span>',
            '</div>'
          ].join(''))
        );
      });
    });
  </script>
</body>
</html>




