<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Zoyothemes">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>INOTEC | Soluciones</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/materialdesignicons.min.css">
    <link href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    .navbar-custom .navbar-nav li.active a {
        color: #285285 !important;
    }
    .social-circle li a:hover {
        color: #FFF !important;
        background-color: #285285;
    }
    .footer a:hover {
        color: #FFF !important;
    }

</style>
<body data-spy="scroll" data-target="#data-scroll-menu">
    <div class="navbar navbar-custom sticky" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand logo" href="index.html">
                    <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo.png" alt="" style="max-width: 100px;margin-top: -12px;">
                </a>
            </div>
            <div class="navbar-collapse collapse" id="data-scroll-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#home">INICIO</a>
                    </li>
                    <li>
                        <a href="#features">SOLUCIONES</a>
                    </li>

                    <li>
                        <a href="#services">NOSOTROS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section class="home bg-img-4 home-intro" id="home">
        <div class="bg-overlay" style="background: rgba(0, 0, 0, 0);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left col-sm-6">
                    <div class="home-wrapper">
                        <h1>INOTEC</h1>
                        <p class="">Soluciones tecnológicas para espacios residenciales y comerciales manteniendo un entorno seguro y confiable atreves de sistemas de seguridad, voceo y comunicaciones.</p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1">
                    <div class="home-wrapper">
                        <form role="form" id="register_form" class="intro-form" style="border: 0px solid #eee;">
                            <div class="form-topbar" style="background-color: #275385; margin-bottom: 65px;" id="contactame">
                                <h3 class="text-center"> Contactarme </h3>
                            </div>
                            <div id="sendform">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tu nombre completo" required="required" id="name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tu correo electrónico" required="required" id="email">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tu teléfono a 10 dígitos" required="required" id="phone">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="features">
        <div class="container">
            <div class="row vertical-content">
                <div class="col-sm-6">
                    <div class="feature-detail">
                        <h2 class="title" data-wow-delay=".1s"><span class="active-text" style="background-color:#275385;">CIRCUITO</span> CERRADO</h2>
                        <p class="features-txt" data-wow-delay=".5s">Instalación de cámaras de seguridad para residencias y comercios</p>
                        <h4 class="question" data-wow-delay=".7s"> Cámaras analógicas y grabadores</h4>
                        <h4 class="question" data-wow-delay=".7s"> Cámaras IP y NVR</h4>
                        <h4 class="question" data-wow-delay=".7s"> Cámaras PTZ</h4>
                        <h4 class="question" data-wow-delay=".7s"> Monitoreo desde el dispositivo móvil en tiempo real</h4>
                        <h4 class="question" data-wow-delay=".7s"> Estaciones de Grabación y almacenamiento</h4>
                        <h4 class="question" data-wow-delay=".7s"> Conectores e interfaces</h4>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="feature-1">
                        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/CCTV.png" class="img-responsive" alt="features-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row vertical-content">
                <div class="col-sm-5">
                    <div class="feature-1">
                        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/VOCEO.png" class="img-responsive" alt="features-img">
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <div class="feature-detail">
                        <h2 class="title" data-wow-delay=".1s"> SISTEMAS DE <span class="active-text" style="background-color:#275385;">VOCEO</span></h2>
                        <p class="features-txt" data-wow-delay=".5s">Sistemas de voceo dedicados para satisfacer las diferentes necesidades del cliente</p>
                        <h4 class="question" data-wow-delay=".7s"> Voceo Inteligente</h4>
                        <h4 class="question" data-wow-delay=".7s"> Música Ambiental</h4>
                        <h4 class="question" data-wow-delay=".7s"> Inteligibilidad</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="features">
        <div class="container">
            <div class="row vertical-content">
                <div class="col-sm-6">
                    <div class="feature-detail">
                        <h2 class="title" data-wow-delay=".1s"><span class="active-text" style="background-color:#275385;">REDES</span> Y WIFI</h2>
                        <p class="features-txt" data-wow-delay=".5s">Diseño e implementación de redes informáticas para la conexión digital de dispositivos</p>
                        <h4 class="question" data-wow-delay=".7s"> Intercambio de información rápida y segura</h4>
                        <h4 class="question" data-wow-delay=".7s"> Conectividad a Internet</h4>
                        <h4 class="question" data-wow-delay=".7s"> Amplia cobertura</h4>
                        <h4 class="question" data-wow-delay=".7s"> Confiabilidad de hardware y cableado estructurado</h4>
                        <h4 class="question" data-wow-delay=".7s"> Escalabilidad de añadir componentes de software y hardware</h4>
                        <h4 class="question" data-wow-delay=".7s"> Disponibilidad de red según las necesidades de uso</h4>
                        <h4 class="question" data-wow-delay=".7s"> Optimizando el rendimiento y el tiempo activo de la red</h4>
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="feature-1">
                        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/WIFI.png" class="img-responsive" alt="features-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-gray" id="services">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="text-uppercase font-bold">NOSOTROS</h3>
                    <div class="title-hr"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="service-item">
                        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/icons/browser-testing.png" alt="">
                        <div class="service-detail">
                            <h4>Seguimiento de garantía</h4>
                            <p></p>
                        </div> <!-- /service-detail -->
                    </div> <!-- /service-item -->
                </div> <!-- /col -->
                <div class="col-sm-6">
                    <div class="service-item">
                        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/icons/video.png" alt="">
                        <div class="service-detail">
                            <h4>Instalación y montaje por personal capacitado</h4>
                            <p></p>
                        </div> <!-- /service-detail -->
                    </div> <!-- /service-item -->
                </div> <!-- /col -->
            </div> <!--end row -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="service-item">
                        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/icons/tools.png" alt="">
                        <div class="service-detail">
                            <h4>Mantenimientos preventivos y correctivos</h4>
                            <p></p>
                        </div> <!-- /service-detail -->
                    </div> <!-- /service-item -->
                </div> <!-- /col -->
                <div class="col-sm-6">
                    <div class="service-item">
                        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/icons/sticky-notes.png" alt="">
                        <div class="service-detail">
                            <h4>Análisis de viabilidad</h4>
                            <p></p>
                        </div> <!-- /service-detail -->
                    </div> <!-- /service-item -->
                </div> <!-- /col -->
            </div> <!--end row -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="service-item">
                        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/icons/briefcase.png" alt="">
                        <div class="service-detail">
                            <h4>Soluciones adecuadas a sus necesidades y presupuesto</h4>
                            <p></p>
                        </div> <!-- /service-detail -->
                    </div> <!-- /service-item -->
                </div> <!-- /col -->
                <div class="col-sm-6">
                    <div class="service-item">
                        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/icons/rulers.png" alt="">
                        <div class="service-detail">
                            <h4>Equipo de alta gama tecnológica</h4>
                            <p></p>
                        </div> <!-- /service-detail -->
                    </div> <!-- /service-item -->
                </div> <!-- /col -->
            </div> <!--end row -->
        </div> <!-- end container -->
    </section>
    <section class="section bg-img-2 testimonials parallax" data-stellar-background-ratio="0.5">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div>
                        <blockquote>
                            En <strong>INOTEC</strong> nuestro principal objetivo es proveer a nuestros clientes con soluciones, Como empresa de tecnologíaa creemos que ningun cliente es demasiado pequeño ni demasiado grande para trabajar con nosotros, nos gusta lo que hacemos y eso se nota  aplicando tecnología de punta desarrollada en todo el mundo y hacerla disponible para soluciones integrales listas para su uso, brindando confort y estilo a través de sistemas de audio, video, control, iluminación y comunicación.
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-gray footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <a class="logo" href="#">
                            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo.png" alt="" style="max-width: 150px;">
                        </a>
                        <ul class="list-inline social-circle" style="margin: 20px 0 20px 0;">
                            <li><a href=""> <i class="fa fa-facebook"></i> </a></li>
                            <li><a href=""> <i class="fa fa-twitter"></i> </a></li>
                            <li><a href=""> <i class="fa fa-youtube"></i> </a></li>
                        </ul>
                        <p class="text-muted m-b-0"> © INOTEC {% now "Y" %} <br /> Todos los derechos reservados</p>
                   </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/jquery.js"></script>
    <script src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/jquery.easing.1.3.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/jquery.sticky.js"></script>
    <script src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/jquery.app.js"></script>
    <script>
        $( document ).ready(function() {
            {%comment%}
            $( "#contactame" ).click(function() {
                $.post( '{%url "project:send_mail"%}?method=send_contact&email={{VAR.VAR_LOCAL.PAGES.CONTACT}}', { 
                    'name': $("#name").val() ,
                    'email': $("#email").val() ,
                    'phone': $("#phone").val() ,
                }
                ).done(function( json ){
                    console.log(json)
                });
            });
            {%endcomment%}
        });
    </script>
</body>
</html>