{% load staticfiles i18n %}
<script src="{%static 'vendors/bower_components/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/jszip/dist/jszip.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>        