{% load staticfiles i18n %}
<script src="{%static 'vendors/bower_components/select2/dist/js/select2.full.min.js'%}"></script>  
<script src="{%static 'js/select2-es.js'%}"></script> 
<script src="{%static 'vendors/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js'%}"></script>
<script src="{%static 'vendors/flatpickr/flatpickr.min.js'%}"></script> 
<script src="{%static 'vendors/bower_components/jquery-mask-plugin/dist/jquery.mask.min.js'%}"></script> 
<script src="{%static 'vendors/bower_components/trumbowyg/dist/trumbowyg.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/trumbowyg/dist/langs/es.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/trumbowyg/dist/plugins/base64/trumbowyg.base64.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/trumbowyg/dist/plugins/colors/trumbowyg.colors.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/trumbowyg/dist/plugins/emoji/trumbowyg.emoji.min.js'%}"></script>
<script src="{%static 'vendors/bower_components/trumbowyg/dist/plugins/noembed/trumbowyg.noembed.min.js'%}"></script>
