{% load staticfiles i18n %}
<link rel="stylesheet" href="{%static 'vendors/bower_components/select2/dist/css/select2.min.css'%}">
<link rel="stylesheet" href="{%static 'vendors/flatpickr/flatpickr.min.css'%}" />
<link rel="stylesheet" href="{%static 'vendors/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css'%}">
<link rel="stylesheet" href="{%static 'vendors/bower_components/trumbowyg/dist/ui/trumbowyg.min.css'%}">
<link rel="stylesheet" href="{%static 'vendors/bower_components/trumbowyg/dist/plugins/colors/ui/trumbowyg.colors.min.css'%}">
<link rel="stylesheet" href="{%static 'vendors/bower_components/trumbowyg/dist/plugins/emoji/ui/trumbowyg.emoji.min.css'%}">