{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <meta name="description" content="{{VAR.VAR_LOCAL.PAGES.DESCRIPTION}}">
    <title>{{VAR.VAR_LOCAL.PAGES.TITLE}} :: {{VAR.VAR_LOCAL.PAGES.SLOGAN}}</title>
    <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/style.css"/>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/script.js"></script>
    <link href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.ICO}}" rel="icon" type="image/x-icon" />
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="fb:app_id" content="" /> 
    <meta property="og:type"   content="website" /> 
    <meta property="og:url"    content="{{VAR.VAR_LOCAL.PAGES.DOMAIN}}" /> 
    <meta property="og:title"  content="{{VAR.VAR_LOCAL.PAGES.DESCRIPTION}}" /> 
    <meta property="og:image"  content="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}{{VAR.VAR_LOCAL.PAGES.IMAGE}}" /> 
</head>
<style>
    .gradient_magenta{
        background: linear-gradient(90deg, #1AAC83 1%,#1F96B6 33%, #9C3E85 66%,#AB1E60 100%)!important;
    }
    .maxw-260{
        max-width:260px;
    }
    .maxw-160{
        max-width:160px;
    }
    .mt--110{
        margin-top: -110px;
    }
</style>
<body class="white-font">
    <div class="hidden_overflow gradient_magenta">
    <div class="container">
        <div class="count-block">
            <div class="head-area">
                <a href="#" class="logo mob_logo"><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo_w.png" alt="InfluenceCo"></a>
                <div class="time-left-txt"><strong><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo2_w.png" alt="InfluenceCo" class="maxw-260"></strong></div>
            </div>
            <div class="middle-area">
                <div class="countdown-row">
                    <a href="#" class="logo"><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo_w.png" alt="InfluenceCo" class="maxw-160 mt--110"></a
                    ><div class="counting-row">
                        <div class="slot-type">
                            <span class="num" id="day">00</span>
                            <span class="param">Dias</span>
                        </div
                        ><div class="slot-type">
                            <span class="num" id="hour">00</span>
                            <span class="param">Horas</span>
                        </div
                        ><div class="slot-type">
                            <span class="num" id="min">00</span>
                            <span class="param">Min</span>
                        </div
                        ><div class="slot-type">
                            <div class="num _INVISIBLE_" id="second">02</div>
                            <span class="param">SEG</span>
                        </div>
                    </div>
                    <div class="seconds-holder">
                        <div class="circle-holder">
                            <div class="dark_digit IE_HIDE">
                                <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/secondwhite.svg" class="round" alt="Clocks seconds">
                            </div>
                            <svg class="dark_digit" width="100%" height="100%">
                                <g id="clipPath">
                                    <image xlink:href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/secondwhite.svg" width="100%" height="100%" transform="" class="round" id="digitalsecond" alt="Clocks seconds">
                                        <animateTransform attributeName="transform"
                                        attributeType="XML"
                                        type="rotate"
                                        dur="10s"
                                        repeatCount="indefinite"/>
                                    </image>
                                </g>
                                <defs>
                                    <clipPath id="hero-clip">
                                        <rect x="94%" y="47.2%" fill="#ff0000" width="110" height="64"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="down_opacity_circle">
                                <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/secondtrans_.svg" class="round" id="digitalsecond" alt="Clocks seconds">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="countdown-caption">
                    <p>
                        Somos la división de FerraezCo enfocada en el diseño y ejecución de estrategias de influence marketing en alianza con creadores de contenido de México y Latinoamérica.  
                        <span class="dull-text mt-1rem">Alineamos el mensaje de cada campaña con las necesidades de nuestros socios comerciales.</span>
                    </p>
                </div>
            </div>
            <footer>
                <div class="social-row">
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/"><i class="icon-fb"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://instagram.com/"><i class="icon-twitter"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/"><i class="icon-instagram"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.youtube.com/"><i class="icon-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <p class="copyright-txt">
                    © {% now "Y" %}. InfluenceCo  una división de  
                    <a href="http://ferraezconecta.com/" target="_blank">FerraezCo</a>
                </p>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
