{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
     <title>{{VAR.VAR_LOCAL.PAGES.TITLE}} :: {{VAR.VAR_LOCAL.PAGES.SLOGAN}}</title>
    <link rel="icon" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/fav_ico.ico" type="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/ico">
    <!--<link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/style.css"/>-->
    <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/index.css"/>
    <link rel="stylesheet" type="text/css" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.ICO}}" rel="icon" type="image/x-icon" />
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="fb:app_id" content="" /> 
    <meta property="og:type"   content="website" /> 
    <meta property="og:url"    content="{{VAR.VAR_LOCAL.PAGES.DOMAIN}}" /> 
    <meta property="og:title"  content="{{VAR.VAR_LOCAL.PAGES.DESCRIPTION}}" /> 
    <meta property="og:image"  content="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}{{VAR.VAR_LOCAL.PAGES.IMAGE}}" /> 
</head>
<style>
    section.intro {
        background: radial-gradient(154vh at 0% 0%, #0a070ca3 0%, #0000001c 50%, #0a0a0a00 100%), radial-gradient(180vh at 100% 100%, #18111d1a 0%, #01030400 50%, #0000 100%), linear-gradient(90deg, #1aac83 0%, #1f96b6 20%, #9C3E85 68%, #8f245d 100%)!important;
    }
    .comingsoon-desc {
        background-color: #ffffff80;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;
        border-radius: 28px;
    }
    .c-white{
        color:white!important;
    }
    .cosvg{
        max-width: 40px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .mouse-icon .wheel {
        background: #fff;
    }
    .mouse-icon {
        border: 2px solid #fff;
    }
    .comingsoon-desc {
        line-height: 30px;
        font-size: 24px;
    }
    .logo-holder {
        margin-bottom: 72px;
        position: relative;
        z-index: 1;
    }
    .identify {
        font-size: 0;
        margin: 90px 0 50px 0;
    }
    .heigth100{
        min-height: 100vh;
        height: 100%;
    }
    section.intro {
        padding: 0px 0 0px 0;
        background-color: #f4f4f4;
        position: relative;
    }
    .vimage_parent iframe{
        max-width: 964px;
        width: 964px;
        height: 545px;
        border-radius: 8px;
    }
    .video1{
        width: 900px;
    }
    .video2{
        width: 800px;
    }
    .video3{
        width: 700px;
    }
    .font-mon{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
    .variant-block img {
        border: 0px solid #d2d2d2;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    }
    .variant-block img:hover {
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0.40);
        cursor: pointer;
    }
    .mt-1r {
        margin-top:1rem;
    }
    .indexing {
        font-size: 43px;
        font-family: montserrat;
        color: rgba(0, 0, 0, 0.65);
        position: absolute;
        transform: translateY(-54%);
        -o-transform: translateY(-54%);
        -ms-transform: translateY(-54%);
        -moz-transform: translateY(-54%);
        -webkit-transform: translateY(-54%);
        display: inline-block;
        top: 50%;
        margin-left: 15px;
        font-weight: 300;
        margin-top: 2rem;
    }
    .comingsoon-desc2 {
        background-color: #626a980f;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;
        border-radius: 28px;
        font-size: 22px;
        font-family: montserrat;
        line-height: 1.4;
    }
    .eliot-logo{
        max-width: 280px;
        margin-top: 5rem;
        margin-left: 2rem;
    }
    .flat_blue {
        background: radial-gradient(154vh at 0% 0%, #0a070ca3 0%, #0000001c 50%, #0a0a0a00 100%), radial-gradient(180vh at 100% 100%, #18111d1a 0%, #01030400 50%, #0000 100%), linear-gradient(90deg, #1aac83 0%, #1f96b6 20%, #9C3E85 68%, #8f245d 100%)!important;
    }
    section.white-font .indexing {
        color: rgb(255, 255, 255);
    }
    .color-variant-block.second {
        margin-top: -30px;
        margin-left: 222px;
    }
    .color-variant-block.third {
        margin-top: -30px;
        margin-left: 75px;
    }
    .color-variant-block.fourth {
        margin-top: -30px;
        margin-left: 222px;
    }
</style>
<body>
    <div id="Wraper">
        <div class="main-data">
            <section class="intro heigth100" id="intro">
                <div class="container text-center" style="padding-top: 12rem;">
                    <div class="ver-row1 heigth100"></div>
                    <div class="ver-row2 heigth100"></div>
                    <div class="ver-row3 heigth100"></div>
                    <div class="ver-row4 heigth100"></div>
                    <div class="ver-row5 heigth100"></div>
                    <div class="logo-holder">
                        <a href="/">
                            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo_w.png" alt="{{VAR.VAR_LOCAL.PAGES.TITLE}}" style="width:160px;" />
                        </a>
                        <a href="/">
                            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo2_w.png" alt="{{VAR.VAR_LOCAL.PAGES.TITLE}}" style="width:430px;"/>
                        </a>
                    </div>
                    <div class="comingsoon-caption">
                        <div class="background">
                            <h1 class="comingsoon-desc">
                                Somos la división enfocada en el diseño y ejecución
                                de estrategias de influence marketingen alianza
                                con creadores de contenido  de México y Latinoamérica.<br /> 
                                Alineamos el mensaje de cada campaña
                                con las necesidades de nuestros socios comerciales.
                            </h1>
                        </div>
                        <div class="identify">
                            <p class="c-white">
                                Una division de 
                            </p> 
                            <img class="cosvg" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/co.svg" alt="FERRAEZ CONECTA"> 
                            <p class="c-white">
                                FERRAEZ CON
                            </p>
                        </div>
                    </div>
                    {%comment%}
                    <div class="verient-images-holder" style="margin-bottom: 3rem;">
                        <div class="vimage_parent step1">
                            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/lg.png" alt="slideshow_verient" class="video3"/>
                        </div>
                        <div class="vimage_parent step2 animation-container" data-1="top:400px" data-400="top:0px">
                            <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/sectur.png" alt="slideshow_verient" class="video2"/>
                        </div>
                        <div class="vimage_parent step4 animation-container" data-1="top:700px" data-600="top:0px">
                            <iframe width="560" height="349" src="https://www.youtube.com/embed/foowrViv11g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen autoplay></iframe>
                        </div>
                    </div>
                    {%endcomment%}
                </div>
            </section>
            <section class="default-verient" style="padding: 150px 0px 0rem 0px;">
                <div class="container">
                    <h2 class="font-mon" style="margin: 0 0 50px 0">
                        <span class="indexing">
                            Proceso de creación y ejecución de contenido
                        </span>
                        <img class="" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logolg_g.png" alt="" style="max-width: 600px;">
                    </h2>
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="variant-block leftAnim" data-500="left:-500px" data-800="left:0">
                                <a href="" class="linksimage"><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/ico1.png" alt="White variant"></a>
                                <a href="" class="links"><strong>ESTRATEGIA</strong></a>
                                <br />
                                <a href="" class="links">Diseño </a><br />
                                <a href="" class="links mt-1r">Conceptualización </a><br />
                                <a href="" class="links mt-1r">Canales </a><br />
                                <a href="" class="links mt-1r">Timing</a><br />
                                <a href="" class="links mt-1r">Plan de trabajo</a><br />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="variant-block leftAnim" data-500="left:-500px" data-800="left:0">
                                <a href="" class="linksimage"><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/ico2.png" alt="White variant"></a>
                                <a href="" class="links"><strong>ALIANZA</strong></a>
                                <br />
                                <a href="" class="links">Identificación</a><br />
                                <a href="" class="links mt-1r">Influencer</a><br />
                                <a href="" class="links mt-1r">Empatía</a><br />
                                <a href="" class="links mt-1r">Calidad</a><br />
                                <a href="" class="links mt-1r">Contenidos</a><br />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="variant-block rightAnim" data-500="right:-500px" data-800="right:0">
                                <a href="" class="linksimage"><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/ico3.png" alt="Black variant"></a>
                                <a href="" class="links"><strong>IMPLEMENTACIÓN</strong></a>
                                <br />
                                <a href="" class="links">Gestión  </a><br />
                                <a href="" class="links mt-1r">Ejecución  </a><br />
                                <a href="" class="links mt-1r">Seguimiento  </a><br />
                                <a href="" class="links mt-1r">Monitoreo</a><br />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="variant-block rightAnim" data-500="right:-500px" data-800="right:0">
                                <a href="" class="linksimage"><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/ico4.png" alt="Black variant"></a>
                                <a href=""  class="links"><strong>RESULTADOS</strong></a>
                                <br />
                                <a href="" class="links">Reporte  </a><br />
                                <a href="" class="links mt-1r">Acciones  </a><br />
                                <a href="" class="links mt-1r">Reach  </a><br />
                                <a href="" class="links mt-1r">Engagement </a><br />
                                <a href="" class="links mt-1r">Interacciones</a><br />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="default-verient" style="padding: 150px 0px 10rem 0px;">
                <div class="container">
                    <h2 class="font-mon" style="margin: 0 0 0px 0">
                        <span class="indexing">
                            Nuestro diferenciador
                        </span>
                        <img class="" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logolg_g.png" alt="" style="max-width: 600px;">
                    </h2>
                    <div class="row clearfix">
                        <div class="comingsoon-caption">
                            <div class="background">
                                <h1 class="comingsoon-desc2">
                                    En sinergia con la plataforma Eliot. <span class="" style="color:#b9bb35">Cada año identificamos a los creadores de contenido más influyentes de México, América Latina.</span> Los Eliot Awards reconocen el trabajo, talento, influencia y el valor de los contenidos de las y los líderes más relevantes de las redes sociales y medios digitales.
                                </h1>
                                <a href="#" class="call-to-action">
                                    <img class="eliot-logo" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/eliot.png" alt="" style="max-width: 280px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="gradient-verient flat_blue white-font" style="padding: 150px 0px 150rem 0px;">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <h2 class="font-mon" style="margin: 0 0 0px 0">
                                <span class="indexing">
                                    Nuestro alcane
                                </span>
                                <img class="" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logolg_g.png" alt="" style="max-width: 600px; opacity: 0.1;">
                            </h2>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <ul class="variant-links">
                                <li class="gradient_green"><a href="#">Central de Historias <span class="fa fa-external-link"><span>VER</span></span></a></li>
                                <li class="gradient_blue"><a href="#">Lanzamiento G6 <span class="fa fa-external-link"><span>VER</span></span></a></li>
                                <li class="gradient_violet"><a href="#">No te hagas güey <span class="fa fa-external-link"><span>VER</span></span></a></li>
                                <li class="gradient_magenta"><a href="#">Kotex #SerU <span class="fa fa-external-link"><span>VER</span></span></a></li>
                            </ul>
                            {%comment%}
                            <div class="color-option-caption">
                                <h5 class="block-title">06 COLOR OPTIONS</h5>
                                <h3 class="subtitle">Bright and Colorful</h3>
                                <p>We’ve chosen the bright color palette that arouses only positive emotions and is sure<br> to be loved by almost everyone</p>
                            </div>
                            {%endcomment%}
                        </div>
                        <div class="col-sm-7">
                            <div class="color-variant-block first" data-1800="top:400px" data-2300="top:0px">
                                <a href="#" class="linksimage"><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/portafolio/centralabasto.png" alt="centralabasto" style="min-width:550px"></a>
                            </div>
                            <div class="color-variant-block second" data-1800="top:800px" data-2500="top:0px">
                                <a href="#" class="linksimage"><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/portafolio/lanzamientog6.png" alt=" lanzamientog6" style="min-width:550px"></a>
                            </div>
                            <div class="color-variant-block third" data-1800="top:1200px" data-2600="top:0px">
                                <a href="#" class="linksimage"><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/portafolio/notehagaswey.png" alt="notehagaswey" style="min-width:550px"></a>
                            </div>
                            <div class="color-variant-block fourth" data-1600="top:1600px" data-2680="top:0px">
                                <a href="#" class="linksimage"><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/portafolio/kotex.png" alt="kotex" style="min-width:550px"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {%comment%}
        <footer class="scrollme">
            <div class="overlay for-desk" data-8200="opacity:1" data-8500="opacity:0" ></div>
            <div class="overlay animateme for-tab" data-when="enter" data-from="0" data-to="1" data-opacity="0"></div>
            <div class="footer-top feature-section gradient_magenta_red">
                    <div class="container">
                        <img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/logo_black_v1.svg" class="footer-era-logo" alt="ERA">
                        <div class="secons_anim_holder"><img class="secons_anim" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/second_.svg" alt=""></div>
                        <div class="countdown-desc">Animated coming soon countdown landingpage template with multiple variants</div>
                        <ul>
                            <li><a href="#"><i class="icon-vector"></i>Ratina Ready</a></li
                                ><li><a href="#"><i class="icon-responsive"></i>Fully Responsive</a></li
                                ><li><a href="#"><i class="icon-stopwatch"></i>Animated Countdown</a></li
                                ><li><a href="#"><i class="icon-school-material"></i>Pixel Perfect</a></li>
                            </ul>
                        <a href="https://themeforest.net/item/era-animated-coming-soon-countdown-template/21149249?_ga=2.64898024.612842476.1516765299-1280841031.1491404438" class="buy-btn">BUY NOW</a>
                    </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-5">
                            <div class="hadicrafted-txt">HANDCRAFTED  <span>by</span> <a href="http://www.creative-era.com/" class="creative-era-footer-logo"><img src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/creative_era_logo.svg" alt=""></a> </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="era-contact"><a href="http://www.creative-era.com/" target="_blank">www.creative-era.com</a> <span class="sep">|</span> <a href="mailto:hello@creative-era.com">hello@creative-era.com</a> </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="follow-row">
                                <label class="follow-label">FOLLOW US</label
                                ><ul>
                                    <li><a href="https://dribbble.com/creative-era" target="_blank"><i style="background-image: url({{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/dribble.svg)"></i></a></li
                                    ><li><a href="https://www.facebook.com/creativeeradesignstudio" target="_blank"><i style="background-image: url({{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/facebook.svg)"></i></a></li
                                    ><li><a href="https://twitter.com/Creative_Era" target="_blank"><i style="background-image: url({{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/twitter.svg)"></i></a></li
                                    ><li><a href="https://www.instagram.com/creative_era11/" target="_blank"><i style="background-image: url({{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/insta.svg)"></i></a></li
                                    ><li><a href="https://plus.google.com/115541947299524173393" target="_blank"><i style="background-image: url({{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}images/google.svg)"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {%endcomment%}
    </div>
    
    <button class="goTop" id="goTop"></button>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/jquery-1.12.4.js"></script>
    <script src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/html5shiv-printshiv.js"></script>
    <script src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/respond.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/skrollr.min.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/jquery.scrollme.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/background.cycle.js"></script>
    <script type="text/javascript" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/animation.js"></script>
</body>
</html>
