{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=.8, shrink-to-fit=no, user-scalable=no">
        <title>{% block title %}FACTURACION{% endblock title %} :: {{VAR.VAR_LOCAL.NAME}}</title>
        <link href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.ICO}}" rel="icon" type="image/x-icon" />
        <meta name="description" content="{{VAR.VAR_LOCAL.PAGES.DESCRIPTION}}">
        <link rel="stylesheet" href="{%static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css'%}">
        <link rel="stylesheet" href="{%static 'vendors/bower_components/animate.css/animate.min.css'%}">
        <link rel="stylesheet" href="{{VAR.VAR_GLOBAL.FONT_AWESOME}}">
        <link rel="stylesheet" href="{%static 'vendors/bower_components/sweetalert2/dist/sweetalert2.min.css'%}">
        <link rel="stylesheet" href="{%static 'css/app.min.css'%}">
    </head>
    {% include "include/globalstyle.html" %}
    {% include "include/login_style.html" %}
    <body data-ma-theme="green" class="bg-color-default">
        <div class="login">
            <div class="login__block active" id="l-login">
                <div class="login__block__header">
                    <i class="zmdi zmdi-collection-pdf"></i>
                    <strong>EMISIÓN DE FACTURAS</strong> 
                </div>
                <form class="form" method="post" enctype="multipart/form-data" action="{%url 'invoice:invoice_ticket'%}">{% csrf_token %}
                    <div class="login__block__body">
                        <div class="form-group form-group--float form-group--centered">
                            <input type="text" class="form-control" name="folio">
                            <label>Ingresa el FOLIO de tu ticket</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group form-group--float form-group--centered">
                            <input type="password" class="form-control re-type" name="key">
                            <label>Ingresa el KEY de tu ticket</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group form-group--float form-group--centered">
                            <input type="text" class="form-control re-type" name="rfc">
                            <label>Tu RFC</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group form-group--float form-group--centered">
                            <input type="text" class="form-control re-type" name="name">
                            <label>Tu Razón Social</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group form-group--float form-group--centered">
                            <input type="text" class="form-control re-type" name="email">
                            <label>Tu EMAIL</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <button class="btn btn--icon login__block__btn btn_form btn-color-primary" type="submit"><i class="zmdi zmdi-long-arrow-right"></i></button>
                    </div>
                    <small class="pull-right fs-9 color-1">{{VAR.DOMAIN|upper}}</small>
                </form>
            </div>
        </div>
        <script src="{%static 'vendors/bower_components/jquery/dist/jquery.min.js'%}"></script>
        <script src="{%static 'vendors/bower_components/tether/dist/js/tether.min.js'%}"></script>
        <script src="{%static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
        <script src="{%static 'vendors/bower_components/Waves/dist/waves.min.js'%}"></script>
        <script src="{%static 'vendors/bower_components/sweetalert2/dist/sweetalert2.min.js'%}"></script>
        <script src="{%static 'js/filesaver.js'%}"></script>
        <script src="{%static 'js/app.min.js'%}"></script>
        <script>
            $( ".form" ).submit(function( e ) {
                e.preventDefault();
                $('.btn_form').attr('disabled','disabled');
                var $form = $(e.target)
                $.ajax({
                    async : true,
                    type: "POST",
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    success: function(json){
                        $('.btn_form').removeAttr('disabled');
                        if (!json.api){
                            swal({
                                title: "Oooopsss!",
                                text: json.message,
                                buttonsStyling: false,
                                confirmButtonClass: 'btn btn-inverse btn-color-inverse'
                            })
                            //$('login_password')
                            //$(".re-type").val('')
                        }
                        else{
                            var content = json.api.xml;
                            var filename = json.api.uuid+'.xml';
                            var blob = new Blob([content], {
                             type: "text/plain;charset=utf-8"
                            });
                            saveAs(blob, filename);
                            swal({
                                title: "MUCHAS GRACIAS!",
                                text: json.message,
                                buttonsStyling: false,
                                confirmButtonClass: 'btn btn-inverse btn-color-inverse'
                            })
                            //$('login_password')
                            //$(".re-type").val('')
                        }
                    },
                    error: function(json){
                        swal({
                            title: "Algo salió mal!",
                            text: "Contacta a un administrador para solucionar este problema.",
                            buttonsStyling: false,
                            confirmButtonClass: 'btn btn-danger btn-color-danger'
                        })
                        $('.btn_form').removeAttr('disabled');
                        //$(".re-type").val('')
                    },
                });
            });
        </script>
    </body>
</html>