{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{VAR.VAR_LOCAL.PAGES.TITLE}}</title>
        <meta name="description" content="{{VAR.VAR_LOCAL.PAGES.DESCRIPTION}}">
        <meta name="viewport" content="width=device-width, initial-scale=.8, shrink-to-fit=no, user-scalable=no">
        <link href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.ICO}}" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" href="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{VAR.VAR_GLOBAL.FONT_AWESOME}}">

        <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
        <meta property="fb:app_id" content="" /> 
        <meta property="og:type"   content="product" /> 
        <meta property="og:url"    content="{{VAR.VAR_LOCAL.PAGES.DOMAIN}}" /> 
        <meta property="og:title"  content="{{VAR.VAR_LOCAL.PAGES.TITLE}}" /> 
        <meta property="og:image"  content="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}{{VAR.VAR_LOCAL.PAGES.IMAGE}}" /> 
        {% include "pages/default/landing_css.html" %}
        <style>
            .home {
                background-color: {{VAR.VAR_LOCAL.COLOR_DEFAULT}}99;
            }
            .take-a-look {
                border: solid 2px {{VAR.VAR_LOCAL.COLOR_1}};
                color: {{VAR.VAR_LOCAL.COLOR_1}};
                background-color: {{VAR.VAR_LOCAL.COLOR_DEFAULT}}7d;
            }
            .central_logo{
                max-width: 500px;
            }
            .white {
                color: white;
            }
            .a-access {
                background-color: {{VAR.VAR_LOCAL.COLOR_DEFAULT}}!important;
                border: solid 2px {{VAR.VAR_LOCAL.COLOR_1}}!important;
                padding: 15px!important;
                width: 60px!important;
                height: 60px!important;
                font-size: 25px!important;
            }
            .ul-access {
                top: 90%!important;
                right: 30px;
            }
        </style>
        <script src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <div class="main">
            <section class="home">
                <div class="container">
                    <div class="row">
                        <div class="home-copy col-xs-12 col-sm-8 col-sm-offset-2 animated fadeInDown delay-2 ">
                            <h1 class="demo1"><img class="central_logo" src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}img/logo.png"></h1>
                            {%comment%}<span class="take-a-look animated fadeInDown delay-4">ENTRAR</span>{%endcomment%}
                        </div>
                    </div>
                </div>
            </section>
            <ul class="onepage-pagination animated fadeInRight delay-2 ul-access">
                <li>
                    <a class="a-access" id="a-access" v-on:click="login_user">
                        <i class="fa fa-key white"></i>
                    </a>
                </li>
            </ul>
        </div>
        <script src="{{VAR.STATIC_URL}}{{VAR.VAR_LOCAL.PAGES.STATIC}}js/plugins.js"></script>
        {% include "pages/default/landing_js.html" %}
        <script src="{%static 'js/vue.js'%}"></script>
        <script>
            var hub = new Vue({
                el: '#a-access',
                methods: {
                    login_user: function (event) {
                        window.location.href = "{%url 'login_user'%}";
                    }
                }
            });
        </script>
    </body>
</html>
