{% extends "generic/list.html" %}
{% load static%}

{%block list%}
    <thead>
        <tr>
            <th>CÓDIGO</th>
            <th>NOMBRE</th>
            <th>RESPONSABLES</th>
            <th>EXPÍRA</th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td><a href="{{obj.get_absolute_url_update}}" class="color-default">{{obj.code}}</a></td>
                <td><a href="{{obj.get_absolute_url_update}}" class="color-default">{{obj.name}}<br /><span class="fs-9">{{obj.description}}</span></a></td>
                <td><a href="{{obj.get_absolute_url_update}}" class="color-default">{{obj.teams_string}}</a></td>
                <td><a href="{{obj.get_absolute_url_update}}" class="color-default">{{obj.expire|default:'No'}}</a></td>
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}s