{% extends "generic/list.html" %}
{% load static%}
{% load app_tags%}

{%block list%}
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>DEPARTAMENTO</th>
            <th>EXT</th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td>
                    {% if  perms.intranet.can_edit_employee %}
                        <a href="{{obj.get_absolute_url_update}}" class="color-default">
                    {% endif %}
                        {{obj.first_name}} {{obj.last_name}}<br /><small>{{obj.visible_username}}</small>
                    {% if  perms.intranet.can_edit_employee %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if  perms.intranet.can_edit_employee %}
                        <a href="{{obj.get_absolute_url_update}}" class="color-default">
                    {% endif %}
                        {{obj.email}}
                    {% if  perms.intranet.can_edit_employee %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if  perms.intranet.can_edit_employee %}
                        <a href="{{obj.get_absolute_url_update}}" class="color-default">
                    {% endif %}
                        {{obj.teams_string}}<br /><small>{{obj.employment}}</small>
                    {% if  perms.intranet.can_edit_employee %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if  perms.intranet.can_edit_employee %}
                        <a href="{{obj.get_absolute_url_update}}" class="color-default">
                    {% endif %}
                        {{obj.extension}}
                    {% if  perms.intranet.can_edit_employee %}
                        </a>
                    {% endif %}
                </td>
                {%if VAR.MODULE|addaction:'can_edit_'|addlowerclassname:model|haspermission:request.user and obj.get_absolute_url_update%}
                    <td><a href="{%url 'project:user-changepassword' obj.pk%}{{posturl|addposturl:'?'}}" class="color-default"><i class="fas fa-key"></i></a></td>
                {%endif%}
                {%if VAR.MODULE|addaction:'can_delete_'|addlowerclassname:model|haspermission:request.user and obj.get_absolute_url_delete%}
                    <td><a v-on:click.prevent="del(text='{{model.delete_text.3}}',url='{{obj.get_absolute_url_delete}}{{posturl|addposturl:'?'}}')" class="color-default"><i class="fas fa-trash-alt"></i></a></td>
                {%endif%}
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}s