{% extends "generic/list.html" %}
{% load static%}

{%block list%}
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>RESPONSABLE(S)</th>
        </tr>
    </thead>
    <tbody>
        {%for obj in object_list%}
            <tr>
                <td><a href="{{obj.get_absolute_url_update}}" class="color-default">{{obj.name}}</a></td>
                <td><a href="{{obj.get_absolute_url_update}}" class="color-default">{{obj.leaders_string|default:'-'}}</a></td>
            </tr>
        {%endfor%}
    </tbody>
{%endblock list%}s